## Import package

In [7]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict
from tqdm import tqdm

pd.options.mode.chained_assignment = None

In [8]:
prefix_path = '../data/changgung/'

In [9]:
os.listdir(prefix_path)

['10000_歸戶主檔.xlsx',
 '10000_急診護理身體評估記錄檔.xlsx',
 'DTR_V2.xlsx',
 '10000_size_住院護理身體評估記錄檔.csv',
 'DTR_V2.csv',
 '10000_檢驗結果歷史檔.xlsx',
 '10000_住出院異動檔.xlsx',
 '檢驗結果歷史檔(檢驗名稱清單).csv',
 '10000_呼吸治療檔.xlsx',
 '10000_住院護理生命徵象紀錄檔.xlsx',
 '10000_急診護理醫囑處置.xlsx',
 '10000_每日床位資訊檔.xlsx',
 '10000_急診護理生命徵象記錄檔.xlsx',
 '10000_住院護理醫囑處置.xlsx',
 '10000_檢驗索引檔.xlsx',
 '10000_住院護理身體評估記錄檔.xlsx',
 '10000_疾病分類統計檔.xlsx',
 '10000病人原始檔案.7z']

In [13]:
dataset = pd.read_csv(prefix_path + 'DTR_V2.csv')
dataset.columns

Index(['輸入時間', '輸入日期', '年齡', '性別', '歸戶代號', 'HR', 'RR', 'NBPd', 'NBPs', 'RESP',
       'ABPd', 'ABPs', 'PULSE', 'NBP D', 'NBP S', 'BT', 'Hemoglobin',
       'Creatinine', 'Total Bilirubin', 'FIO2', 'pO2', 'PAO2', 'PF_RATIO',
       'FIO2_SET', 'FIO2_MEAS', 'PACO2', 'HCO3', 'BE', 'PH', 'PF_RATIO.1'],
      dtype='object')

In [14]:
dataset.head()

,輸入時間,輸入日期,年齡,性別,歸戶代號,HR,RR,NBPd,NBPs,RESP,...,pO2,PAO2,PF_RATIO,FIO2_SET,FIO2_MEAS,PACO2,HCO3,BE,PH,PF_RATIO.1
0,448,20161028,35.0,M,01727FADE6629DC3FB783FFE23FA22E4CF3E6F74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,449,20161028,35.0,M,01727FADE6629DC3FB783FFE23FA22E4CF3E6F74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1530,20161028,35.0,M,01727FADE6629DC3FB783FFE23FA22E4CF3E6F74,NaN,NaN,85.0,223.0,21.0,...,NaN,NaN,NaN,NaN,21%,NaN,NaN,NaN,NaN,NaN
3,1531,20161028,35.0,M,01727FADE6629DC3FB783FFE23FA22E4CF3E6F74,NaN,NaN,85.0,223.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1540,20161028,35.0,M,01727FADE6629DC3FB783FFE23FA22E4CF3E6F74,NaN,NaN,70.0,216.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN