## Import package

In [1]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict
from tqdm import tqdm
import gc

pd.options.mode.chained_assignment = None

In [2]:
preprocess_path = '../data/mimiciii/preprocess_data/'
temporal_path = '../data/mimiciii/temporal_dataset/'

# Features

In [3]:
# last row don't understand meaning
features = ['Shock_Index', 'elixhauser', 'SIRS', 'gender', 're_admission', 'GCS', 'SOFA', 'age', 'Albumin',
           'Arterial_pH', 'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'SGPT', 
           'Arterial_blood_gas', 'BUN', 'HCO3', 'INR', 'Arterial_lactate', 'CO2', 'Creatinine', 
           'Ionised_Ca', 'PT', 'Platelets_count', 'SGOT', 'Total_bili', 'WBC_count', 'DiaBP', 'SysBP', 
           'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 'Weight_kg', 'HR', 'SpO2'
           'input_total_tev', 'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc', 'mechvent']

binary_features = ['gender', 're_admission', 'mechvent']
norm_features = ['Shock_Index', 'elixhauser', 'SIRS', 'GCS', 'SOFA', 'age', 'Albumin', 'Arterial_pH', 
                'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'Arterial_blood_gas', 
                'HCO3', 'Arterial_lactate', 'CO2', 'Ionised_Ca', 'PT', 'Platelets_count', 'WBC_count', 
                'DiaBP', 'SysBP', 'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 
                'Weight_kg', 'HR', ]
log_features = ['SGPT', 'BUN', 'INR', 'Creatinine', 'SGOT', 'Total_bili', 'SpO2', 'input_total_tev',
                'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc']

## Load require data

In [4]:
CHARTEVENTS1 = pd.read_csv(preprocess_path + 'CHARTEVENTS1.csv')
CHARTEVENTS2 = pd.read_csv(preprocess_path + 'CHARTEVENTS2.csv')
CHARTEVENTS3 = pd.read_csv(preprocess_path + 'CHARTEVENTS3.csv')
CHARTEVENTS4 = pd.read_csv(preprocess_path + 'CHARTEVENTS4.csv')
CHARTEVENTS5 = pd.read_csv(preprocess_path + 'CHARTEVENTS5.csv')
CHARTEVENTS6 = pd.read_csv(preprocess_path + 'CHARTEVENTS6.csv')
CHARTEVENTS7 = pd.read_csv(preprocess_path + 'CHARTEVENTS7.csv')
CHARTEVENTS8 = pd.read_csv(preprocess_path + 'CHARTEVENTS8.csv')
CHARTEVENTS9 = pd.read_csv(preprocess_path + 'CHARTEVENTS9.csv')
LABEVENTS = pd.read_csv(preprocess_path + 'LABEVENTS.csv')


datas = [CHARTEVENTS1, CHARTEVENTS2, CHARTEVENTS3, CHARTEVENTS4, CHARTEVENTS5, CHARTEVENTS6, CHARTEVENTS7, 
         CHARTEVENTS8, CHARTEVENTS9, LABEVENTS]

for i in tqdm(range(len(datas))):
    for column in datas[i].columns:
        if 'TIME' in column or 'DATE' in column or 'DOB' == column or 'DOD' == column or 'DOD_HOSP' == column or 'DOD_SSN' == column:
            datas[i][column] = datas[i][column].apply(lambda x : pd.Timestamp(x))

/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,10,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [02:54<00:00, 17.41s/it]

## unified unit

### temperature (celcius)

In [35]:
def changeTempUnit(series):
    if series['ITEMID'] in [678, 679, 223761]:
        try:
            series['VALUENUM'] = (series['VALUENUM'] - 32) * 5 / 9
        except:
            series['VALUENUM'] = np.nan

for i in tqdm(range(len(datas))):
    datas[i]['VALUENUM'] = datas[i].apply(changeTempUnit, axis=1)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 11/11 [07:18<00:00, 39.86s/it]

### FiO2 (torr)

## Load variable range

In [26]:
var_range = pd.read_csv('../data/mimiciii/variable_range.csv')
var_range.index = var_range.iloc[:, 0]
var_range = var_range.iloc[:, 1:]
var_range['GROUP_ID'] = var_range['GROUP_ID'].apply(lambda x : [int(s) for s in x.split(',')] if type(x) == type('') else x)
var_range

,OUTLIER LOW,VALID LOW,IMPUTE,VALID HIGH,OUTLIER HIGH,GROUP_ID
Unnamed: 0,,,,,,
GCS,0.0,0.00,NaN,15.0,15.0,[198]
SOFA,0.0,0.00,NaN,24.0,24.0,[227428]
Albumin,0.0,0.60,3.10,6.0,60.0,"[50862, 772, 1521, 227456]"
Arterial pH,NaN,NaN,NaN,NaN,NaN,"[780, 1126, 223830, 50820]"
Calcium,NaN,NaN,NaN,NaN,NaN,"[225625, 50893, 786, 1522]"
Glucose,0.0,33.00,128.00,2000.0,2200.0,"[220621, 225664, 50809, 811, 807, 50931, 22653..."
Hemoglobin,0.0,0.00,10.20,25.0,30.0,"[220228, 51222, 50811, 814]"
Magnesium,0.0,0.00,2.00,20.0,22.0,"[220635, 50960, 1532, 821]"
PTT,0.0,18.80,34.30,150.0,150.0,"[227466, 825, 1533, 51275]"
Postassium,0.0,0.00,4.10,12.0,15.0,"[829, 50971, 1535, 227464, 50822]"
SGPT,NaN,NaN,NaN,NaN,NaN,[3802]
BUN,0.0,0.00,23.00,250.0,275.0,"[51006, 781, 1162, 225624]"
HCO3,0.0,0.00,25.00,60.0,66.0,"[50882, 227443, 50803]"
INR,NaN,NaN,NaN,NaN,NaN,"[1530, 51237, 227467]"
Arterial Lactate,0.0,0.40,1.80,30.0,33.0,[50813]
CO2,NaN,NaN,NaN,NaN,NaN,[787]
Creatinine,0.0,0.10,1.00,60.0,66.0,"[791, 1525, 220615, 50912]"
Ionized Calcium,NaN,NaN,NaN,NaN,NaN,"[50808, 816, 225667]"
PT,0.0,9.90,14.50,97.1,150.0,"[1286, 824, 227465, 51274]"
Platelets Count,0.0,0.00,208.00,2000.0,2200.0,"[51265, 828, 227457]"
SGOT,NaN,NaN,NaN,NaN,NaN,[3801]
Total Bilirubin,0.0,0.10,0.90,60.0,66.0,"[848, 225690, 1538, 50885]"
White Blood Cell Count,0.0,0.00,9.90,1000.0,1100.0,"[861, 1542, 220546, 51301, 51300, 1127]"
Chloride,0.0,50.00,104.00,175.0,200.0,"[50806, 220602, 226536, 1523, 788, 50902]"
Diastolic Blood Pressure,0.0,0.00,59.00,375.0,375.0,"[224643, 225310, 220180, 8555, 220051, 8368, 8..."
Systolic Blood Pressure,0.0,0.00,118.00,375.0,375.0,"[442, 227243, 224167, 220179, 225309]"
Mean Blood Pressure,0.0,14.00,77.00,330.0,375.0,"[456, 220181, 224, 225312, 220052, 52, 6702, 2..."
PaCO2,0.0,0.00,40.00,200.0,220.0,"[226062, 778, 220235, 50818]"
PaO2,0.0,32.00,112.00,700.0,770.0,[779]
FiO2,0.2,0.21,0.21,1.0,1.1,"[189, 727, 223835]"
Respiratory rate,0.0,0.00,19.00,300.0,330.0,"[224422, 618, 220210, 224689, 614, 651, 224690..."
Temperature (Celsius),14.2,26.00,37.00,45.0,47.0,"[223761, 677, 676, 679, 678, 223762]"
Weight (kg),0.0,0.00,81.80,250.0,250.0,"[226531, 763, 224639, 226512]"
Heart Rate,0.0,0.00,86.00,350.0,390.0,"[211, 220045]"
SpO2,0.0,0.00,98.00,100.0,150.0,"[646, 50817, 834, 220277]"

## Merge features to dataset

In [33]:
def merge(dataset, feature, EVENTS, var_range):
    # find all feature records in EVENTS
    event = EVENTS[[id in var_range.loc[feature]['GROUP_ID'] for id in EVENTS['ITEMID']]]

    for i in range(len(event)):
        
        subject_id = event.iloc[i]['SUBJECT_ID']
        hadm_id = event.iloc[i]['HADM_ID']
        time = event.iloc[i]['CHARTTIME']
        
        # detect outlier value, if out of outlier range then set to missing value
        value = event.iloc[i]['VALUENUM']
        if var_range.loc[feature].notnull()[0]:
            if value > var_range.loc[feature]['OUTLIER HIGH']:
                value = np.nan
            elif value > var_range.loc[feature]['VALID HIGH']:
                value = var_range.loc[feature]['VALID HIGH']
            elif value < var_range.loc[feature]['OUTLIER LOW']:
                value = np.nan
            elif value < var_range.loc[feature]['VALID LOW']:
                value = var_range.loc[feature]['VALID LOW']
        
        index = dataset.query(f'SUBJECT_ID == {subject_id} & HADM_ID == {hadm_id}').index
        
        for idx in index:
            if time - dataset.iloc[idx]['STARTTIME'] >= pd.Timedelta('0') and time - dataset.iloc[idx]['ENDTIME'] <= pd.Timedelta('0'):
                if dataset['records'][idx] == 0:
                    dataset[feature][idx] = value
                else:
                    record = dataset['records'][idx]
                    # use mean when multiple records in same period
                    dataset[feature][idx] = value / (record + 1) + record / (record + 1) * dataset[feature][idx]
                dataset['records'][idx] += 1
                break
                    
for hour in tqdm(range(4, 0, -1)):
    path = temporal_path + f'dataset_split_{hour}_hour.csv'

    dataset = pd.read_csv(path)

    # change time column data's type to timestamp type
    dataset['STARTTIME'] = dataset['STARTTIME'].apply(lambda x : pd.Timestamp(x))
    dataset['ENDTIME'] = dataset['ENDTIME'].apply(lambda x : pd.Timestamp(x))
    dataset['DEATHTIME'] = dataset['DEATHTIME'].apply(lambda x : pd.Timestamp(x))
    dataset = dataset.loc[:, ['SUBJECT_ID', 'HADM_ID', 'STARTTIME', 'ENDTIME', 'Gender', 
                              'Age', 'DEATHTIME', 're_admission']]
    # dataset.head()                    


    for feature in tqdm(var_range.index):
        # count records in same period
        dataset['records'] = pd.Series([0] * len(dataset), dtype = np.int64)

        # add new feature column
        dataset[feature] = pd.Series([np.nan] * len(dataset), dtype = np.float64)

        # add data to new feature column with corresponding subject_id, hadm_id, icustay_id and time
        merge(dataset, feature, LABEVENTS, var_range)
        merge(dataset, feature, CHARTEVENTS1, var_range)
        merge(dataset, feature, CHARTEVENTS2, var_range)
        merge(dataset, feature, CHARTEVENTS3, var_range)
        merge(dataset, feature, CHARTEVENTS4, var_range)
        merge(dataset, feature, CHARTEVENTS5, var_range)
        merge(dataset, feature, CHARTEVENTS6, var_range)
        merge(dataset, feature, CHARTEVENTS7, var_range)
        merge(dataset, feature, CHARTEVENTS8, var_range)
        merge(dataset, feature, CHARTEVENTS9, var_range)

    dataset.to_csv(temporal_path + f'dataset_split_{hour}_hour_after_merge.csv', index=False)

  0%|                                                                                                                                                                                | 0/4 [00:00<?, ?it/s]
  0%|                                                                                                                                                                               | 0/34 [00:00<?, ?it/s]
  3%|████▋                                                                                                                                                           | 1/34 [1:07:21<37:02:33, 4041.03s/it]
  6%|█████████▍                                                                                                                                                      | 2/34 [1:43:36<26:09:55, 2943.60s/it]
  9%|██████████████                                                                                                                                                  | 3/34 [2:28:57<24:28:22, 2842.02s/it]
 12%|██████████████████▊                                                                                                                                             | 4/34 [3:47:37<29:51:38, 3583.30s/it]
 15%|███████████████████████▌                                                                                                                                        | 5/34 [5:01:10<31:16:33, 3882.54s/it]
 18%|████████████████████████████▏                                                                                                                                   | 6/34 [7:03:12<39:17:36, 5052.03s/it]
 21%|████████████████████████████████▉                                                                                                                               | 7/34 [8:10:56<35:28:03, 4729.01s/it]
 24%|█████████████████████████████████████▋                                                                                                                          | 8/34 [9:27:56<33:54:08, 4694.18s/it]
 26%|██████████████████████████████████████████                                                                                                                     | 9/34 [10:32:04<30:45:45, 4429.84s/it]
 29%|██████████████████████████████████████████████▍                                                                                                               | 10/34 [11:56:49<30:52:50, 4632.11s/it]
 32%|███████████████████████████████████████████████████                                                                                                           | 11/34 [12:32:56<24:46:23, 3877.52s/it]
 35%|███████████████████████████████████████████████████████▊                                                                                                      | 12/34 [13:50:57<25:11:20, 4121.86s/it]
 38%|████████████████████████████████████████████████████████████▍                                                                                                 | 13/34 [14:56:08<23:40:22, 4058.22s/it]
 41%|█████████████████████████████████████████████████████████████████                                                                                             | 14/34 [15:53:52<21:32:50, 3878.51s/it]
 44%|█████████████████████████████████████████████████████████████████████▋                                                                                        | 15/34 [16:37:27<18:27:40, 3497.92s/it]
 47%|██████████████████████████████████████████████████████████████████████████▎                                                                                   | 16/34 [17:20:51<16:08:38, 3228.83s/it]
 50%|███████████████████████████████████████████████████████████████████████████████                                                                               | 17/34 [18:39:15<17:20:30, 3672.36s/it]
 53%|███████████████████████████████████████████████████████████████████████████████████▋                                                                          | 18/34 [19:33:06<15:43:53, 3539.62s/it]
 56%|████████████████████████████████████████████████████████████████████████████████████████▎                                                                     | 19/34 [20:36:33<15:05:01, 3620.11s/it]
 59%|████████████████████████████████████████████████████████████████████████████████████████████▉                                                                 | 20/34 [21:46:21<14:44:26, 3790.46s/it]
 62%|█████████████████████████████████████████████████████████████████████████████████████████████████▌                                                            | 21/34 [22:22:49<11:57:02, 3309.46s/it]
 65%|██████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                       | 22/34 [23:13:38<10:46:17, 3231.44s/it]
 68%|██████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                   | 23/34 [24:34:46<11:22:26, 3722.44s/it]
 71%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                              | 24/34 [29:27:41<21:53:11, 7879.11s/it]
 74%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                         | 25/34 [30:56:48<17:47:52, 7119.16s/it]
 76%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                     | 26/34 [35:49:09<22:46:07, 10245.97s/it]
 79%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                | 27/34 [37:01:08<16:27:55, 8467.92s/it]
 82%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                            | 28/34 [37:47:16<11:15:47, 6757.95s/it]
 85%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                       | 29/34 [39:07:08<8:33:59, 6167.95s/it]
 88%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                  | 30/34 [45:58:28<13:01:26, 11721.63s/it]
 91%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████              | 31/34 [48:17:03<8:54:59, 10699.78s/it]
 94%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋         | 32/34 [48:58:55<4:34:46, 8243.49s/it]
 97%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎    | 33/34 [56:25:14<3:50:04, 13804.06s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 34/34 [63:53:07<00:00, 6764.33s/it]
 25%|███████████████████████████████████████▎                                                                                                                     | 1/4 [63:53:13<191:39:40, 229993.59s/it]
  0%|                                                                                                                                                                               | 0/34 [00:00<?, ?it/s]
  3%|████▋                                                                                                                                                           | 1/34 [1:17:26<42:35:46, 4646.87s/it]
  6%|█████████▍                                                                                                                                                      | 2/34 [1:53:58<28:28:03, 3202.61s/it]
  9%|██████████████                                                                                                                                                  | 3/34 [2:41:54<26:17:37, 3053.46s/it]
 12%|██████████████████▊                                                                                                                                             | 4/34 [4:13:36<33:30:01, 4020.04s/it]
 15%|███████████████████████▌                                                                                                                                        | 5/34 [5:38:27<35:29:40, 4406.21s/it]
 18%|████████████████████████████▏                                                                                                                                   | 6/34 [8:06:26<46:05:57, 5927.05s/it]
 21%|████████████████████████████████▉                                                                                                                               | 7/34 [9:23:05<41:11:49, 5492.93s/it]
 24%|█████████████████████████████████████▍                                                                                                                         | 8/34 [10:52:47<39:24:58, 5457.63s/it]
 26%|██████████████████████████████████████████                                                                                                                     | 9/34 [12:31:36<34:47:47, 5010.71s/it]
 25%|███████████████████████████████████████▎                                                                                                                     | 1/4 [76:24:52<229:14:38, 275092.89s/it]

KeyboardInterrupt:

## Load dataset split hour after merge and require data

In [7]:
OUTPUTEVENTS = pd.read_csv(dest_path + 'OUTPUTEVENTS.csv')
INPUTEVENTS_MV = pd.read_csv(dest_path + 'INPUTEVENTS_MV.csv')
INPUTEVENTS_CV = pd.read_csv(dest_path + 'INPUTEVENTS_CV.csv')
dataset = pd.read_csv(temporal_path + 'dataset_split_4_hour_after_merge.csv')
dataset = dataset.iloc[:, 1:]
dataset.head()

,SUBJECT_ID,HADM_ID,STARTTIME,ENDTIME,Gender,Age,DEATHTIME,re_admission,records,GCS,...,Systolic Blood Pressure,Mean Blood Pressure,PaCO2,PaO2,FiO2,Respiratory rate,Temperature (Celsius),Weight (kg),Heart Rate,SpO2
0,21,111970,2135-01-30 20:50:00,2135-01-31 00:50:00,1,87.882192,2135-02-08 02:08:00,0.0,3,14.0,...,NaN,66.333333,NaN,NaN,NaN,14.666667,NaN,64.0,74.000000,99.333333
1,21,111970,2135-01-31 00:50:00,2135-01-31 04:50:00,1,87.884932,2135-02-08 02:08:00,0.0,4,NaN,...,NaN,62.444434,NaN,NaN,NaN,16.500000,NaN,NaN,75.750000,96.500000
2,21,111970,2135-01-31 04:50:00,2135-01-31 08:50:00,1,87.884932,2135-02-08 02:08:00,0.0,5,13.0,...,NaN,56.333340,NaN,NaN,NaN,16.500000,NaN,NaN,76.200000,98.000000
3,21,111970,2135-01-31 08:50:00,2135-01-31 12:50:00,1,87.884932,2135-02-08 02:08:00,0.0,6,14.0,...,NaN,61.750000,NaN,NaN,NaN,16.875000,NaN,NaN,77.714286,92.666667
4,21,111970,2135-01-31 12:50:00,2135-01-31 16:50:00,1,87.884932,2135-02-08 02:08:00,0.0,12,14.0,...,NaN,51.633330,NaN,NaN,NaN,17.583333,NaN,NaN,72.083333,96.416667

In [17]:
dataset.columns

Index(['SUBJECT_ID', 'HADM_ID', 'STARTTIME', 'ENDTIME', 'Gender', 'Age',
       'DEATHTIME', 're_admission', 'records', 'GCS', 'SOFA', 'Albumin',
       'Arterial pH', 'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT',
       'Postassium', 'SGPT', 'BUN', 'HCO3', 'INR', 'Arterial Lactate', 'CO2',
       'Creatinine', 'Ionized Calcium', 'PT', 'Platelets Count', 'SGOT',
       'Total Bilirubin', 'White Blood Cell Count', 'Diastolic Blood Pressure',
       'Systolic Blood Pressure', 'Mean Blood Pressure', 'PaCO2', 'PaO2',
       'FiO2', 'Respiratory rate', 'Temperature (Celsius)', 'Weight (kg)',
       'Heart Rate', 'SpO2', 'Shock Index'],
      dtype='object')

### shock index = HR / SBP (Heart rate / systolic blood pressure)

In [11]:
def get_shock_index(series):
    try:
        return series['Heart Rate'] / series['Systolic Blood Pressure']
    except:
        return np.nan

dataset['Shock Index'] = dataset.apply(get_shock_index, axis=1)

### elixhauser

### SIRS (Use diagnosis? or use criteria ?)

SIRS Criteria (>= 2 meets SIRS definition)
1. Temp > $38^{o}C$ ($100.4^{o}F$) or < $36^{o}C$ ($96.8^{o}F$)
2. Heart rate > 90
3. Respiratory rate > 20 or $PaCO_{2}$ < 32 mm Hg
4. WBC > 12,000/$mm^{3}$, < 4,000/$mm^{3}$, or > 10% bands (?)

In [ ]:
def get_SIRS(series):
    sum = 0
    if series['Temperature (Celsius)'] > 38 or series['Temperature (Celsius)'] < 36:
        sum += 1
    if series['Heart Rate'] > 90:
        sum += 1
    if series['Respiratory rate'] > 20 or series['PaCO2'] < 32:
        sum += 1
    if series['White Blood Cell Count'] > 12000 or series['White Blood Cell Count'] < 4000:
        sum += 1
    return sum >= 2
    
dataset['SIRS'] = dataset.apply(get_SIRS, axis=1)

### SOFA

| System                                       | 0           |
| -----------                                  | ----------- |
| $PaO_{2}/FiO_{2}$ mmHg                       | Title       |
| Platelets, $x10^{3}/ \mu L$                  | Text        |
| Glasgow Coma Scale                           |             |
| Bilirubin, mm/dL ($\mu$mo;/L)                |             |
| Mean arterial pressure OR administration of vasoactive agents required                                       |             |
| Creatinine, mg/dL (μmol/L) (or urine output) |             |

In [ ]:
def get_SOFA(series):
    score = 0
    # PaO2/FiO2 mmHg
    if series['PaO2/FiO2 ratio'] < 100 and series['Mech Vent']:
        score += 4
    elif series['PaO2/FiO2 ratio'] < 200 and series['Mech Vent']:
        score += 3
    elif series['PaO2/FiO2 ratio'] < 300:
        score += 2
    elif series['PaO2/FiO2 ratio'] < 400:
        score += 1
    
    # Platelets, x10^3/μL
    if series['Platelets Count'] < 20:
        score += 4
    elif series['Platelets Count'] < 50:
        score += 3
    elif series['Platelets Count'] < 100:
        score += 2
    elif series['Platelets Count'] < 150:
        score += 1
        
    # GCS (Glasgow Coma Scale)
    if series['GCS'] < 6:
        score += 4
    elif series['GCS'] < 10:
        score += 3
    elif series['GCS'] < 13:
        score += 2
    elif series['GCS'] < 15:
        score += 1
    
    # bilirubin, mg/dL (μmol/L)
    if series['Total Bilirubin'] >= 12: # > 204
        score += 4
    elif series['Total Bilirubin'] >= 6: # >= 102
        score += 3
    elif series['Total Bilirubin'] >= 2: # >= 33
        score += 2
    elif series['Total Bilirubin'] >= 1.2: # >= 20
        score += 1
    
    # Mean arterial pressure OR administration of vasoactive agents required
    # get Dopamine and epinephrine

    
    # Creatinine, mg/dL (μmol/L) (or urine (mL/day) output)
    if series['Creatinine'] >= 5.0 or dataset['urine'] < 200:
        score += 4
    elif series['Creatinine'] >= 3.5 or dataset['urine'] < 500:
        score += 3
    elif series['Creatinine'] >= 2.0:
        score += 2
    elif series['Creatinine'] >= 1.2:
        score += 1
    
    
dataset['SOFA'] = dataset.apply(get_SOFA. axis=1)

### PaO2/FiO2 ratio

In [18]:
def get_PaO2_FiO2_ratio(series):
    try:
        return series['PaO2'] / series['FiO2']
    except:
        return np.nan

dataset['PaO2/FiO2 ratio'] = dataset.apply(get_PaO2_FiO2_ratio, axis=1)

### Output total

### Output four hour

### Input total

### Input four hour

### max_dose_vaso

### cumulated balance tev

### Mechanical Ventilation (in produreevents_mv)