## Import package

In [1]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict
from tqdm import tqdm

pd.options.mode.chained_assignment = None

In [2]:
prefix_path = '../data/mimiciii/1.4/'

## Load Data

In [3]:
paths = sorted(os.listdir(prefix_path))
remove_paths = []
for path in paths:
    if path[-4:] != '.csv':
        remove_paths.append(path)
for path in remove_paths:
    paths.remove(path)
paths

['ADMISSIONS.csv',
 'CALLOUT.csv',
 'CAREGIVERS.csv',
 'CHARTEVENTS1.csv',
 'CHARTEVENTS2.csv',
 'CHARTEVENTS3.csv',
 'CHARTEVENTS4.csv',
 'CHARTEVENTS5.csv',
 'CHARTEVENTS6.csv',
 'CHARTEVENTS7.csv',
 'CHARTEVENTS8.csv',
 'CHARTEVENTS9.csv',
 'CPTEVENTS.csv',
 'DATETIMEEVENTS.csv',
 'DIAGNOSES_ICD.csv',
 'DIAGNOSES_ICD_FULL.csv',
 'DRGCODES.csv',
 'D_CPT.csv',
 'D_ICD_DIAGNOSES.csv',
 'D_ICD_DIAGNOSES_FULL.csv',
 'D_ICD_PROCEDURES.csv',
 'D_ITEMS.csv',
 'D_LABITEMS.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_CV.csv',
 'INPUTEVENTS_MV.csv',
 'LABEVENTS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'NOTEEVENTS.csv',
 'OUTPUTEVENTS.csv',
 'PATIENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDUREEVENTS_MV.csv',
 'PROCEDURES_ICD.csv',
 'SERVICES.csv',
 'TRANSFERS.csv']

In [4]:
datas = []
for path in tqdm(paths):
    datas.append(pd.read_csv(prefix_path + path))

  6%|█████████▎                                                                                                                                                             | 2/36 [00:00<00:01, 19.18it/s]/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
 19%|████████████████████████████████▍                                                                                                                                      | 7/36 [00:23<01:59,  4.11s/it]/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
 25%|█████████████████████████████████████████▊                                                                                                                             | 9/36 [00:34<02:10,  4.83s/it]/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10,12,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
 33%|███████████████████████████████████████████████████████▎                                                                                                              | 12/36 [00:50<01:50,  4.62s/it]/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (4,5,7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
 36%|███████████████████████████████████████████████████████████▉                                                                                                          | 13/36 [00:50<01:16,  3.33s/it]/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
 44%|█████████████████████████████████████████████████████████████████████████▊                                                                                            | 16/36 [00:54<00:37,  1.85s/it]/home/toooot/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,10,18,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 36/36 [01:11<00:00,  1.98s/it]

# Look Data characteristics

In [5]:
i = paths.index('ADMISSIONS.csv')
ADMISSIONS = datas[i].copy()
ADMISSIONS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,19,40,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,LONG TERM CARE HOSPITAL,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,ACUTE MYOCARDIAL INFARCTION-SEPSIS,0,1
1,23,457,357,145674,2198-08-02 04:49:00,2198-10-26 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-08-02 02:03:00,2198-08-02 05:37:00,SEIZURE,0,1
2,24,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-11-01 18:01:00,2198-11-01 23:06:00,SEPSIS,0,1
3,37,471,366,134462,2164-11-18 20:27:00,2164-11-22 15:18:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,SINGLE,HISPANIC OR LATINO,2164-11-18 10:52:00,2164-11-18 21:31:00,SEPSIS,0,1
4,63,61,61,189535,2119-01-04 18:12:00,2119-02-03 01:35:00,2119-02-03 01:35:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Private,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,NON-HODGKINS LYMPHOMA;FEBRILE;NEUTROPENIA,1,1

In [6]:
i = paths.index('CALLOUT.csv')
CALLOUT = datas[i].copy()
CALLOUT.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SUBMIT_WARDID,SUBMIT_CAREUNIT,CURR_WARDID,CURR_CAREUNIT,CALLOUT_WARDID,CALLOUT_SERVICE,REQUEST_TELE,...,CALLOUT_STATUS,CALLOUT_OUTCOME,DISCHARGE_WARDID,ACKNOWLEDGE_STATUS,CREATETIME,UPDATETIME,ACKNOWLEDGETIME,OUTCOMETIME,FIRSTRESERVATIONTIME,CURRENTRESERVATIONTIME
0,402,854,175684,52.0,NaN,29.0,MICU,1,MED,0,...,Inactive,Discharged,29.0,Acknowledged,2146-10-05 13:16:55,2146-10-05 13:16:55,2146-10-05 13:24:00,2146-10-05 18:55:22,2146-10-05 15:27:44,NaN
1,403,864,138624,15.0,NaN,55.0,CSRU,55,CSURG,0,...,Inactive,Discharged,55.0,Acknowledged,2114-11-28 08:31:39,2114-11-28 09:42:08,2114-11-28 09:43:08,2114-11-28 12:10:02,NaN,NaN
2,404,864,138624,12.0,NaN,55.0,CSRU,55,CSURG,1,...,Inactive,Discharged,55.0,Acknowledged,2114-11-30 10:24:25,2114-12-01 09:06:18,2114-12-01 12:26:05,2114-12-01 21:55:05,NaN,NaN
3,405,867,184298,7.0,NaN,17.0,CCU,17,CCU,1,...,Inactive,Discharged,17.0,Acknowledged,2136-12-29 08:45:42,2136-12-29 10:17:16,2136-12-29 10:33:51,2136-12-29 18:10:02,NaN,NaN
4,157,306,167129,57.0,NaN,3.0,SICU,44,NSURG,1,...,Inactive,Discharged,3.0,Acknowledged,2199-09-18 11:47:47,2199-09-18 11:47:47,2199-09-18 11:58:33,2199-09-18 15:10:02,NaN,NaN

In [7]:
i = paths.index('CAREGIVERS.csv')
CAREGIVERS = datas[i].copy()
CAREGIVERS.head()

   ROW_ID   CGID LABEL            DESCRIPTION
0    2228  16174    RO              Read Only
1    2229  16175    RO              Read Only
2    2230  16176   Res  Resident/Fellow/PA/NP
3    2231  16177    RO              Read Only
4    2232  16178    RT            Respiratory

In [8]:
i = paths.index('CPTEVENTS.csv')
CPTEVENTS = datas[i].copy()
CPTEVENTS.head()

,ROW_ID,SUBJECT_ID,HADM_ID,COSTCENTER,CHARTDATE,CPT_CD,CPT_NUMBER,CPT_SUFFIX,TICKET_ID_SEQ,SECTIONHEADER,SUBSECTIONHEADER,DESCRIPTION
0,317,11743,129545,ICU,NaN,99232,99232.0,NaN,6.0,Evaluation and management,Hospital inpatient services,NaN
1,318,11743,129545,ICU,NaN,99232,99232.0,NaN,7.0,Evaluation and management,Hospital inpatient services,NaN
2,319,11743,129545,ICU,NaN,99232,99232.0,NaN,8.0,Evaluation and management,Hospital inpatient services,NaN
3,320,11743,129545,ICU,NaN,99232,99232.0,NaN,9.0,Evaluation and management,Hospital inpatient services,NaN
4,321,6185,183725,ICU,NaN,99223,99223.0,NaN,1.0,Evaluation and management,Hospital inpatient services,NaN

In [9]:
i = paths.index('D_ICD_PROCEDURES.csv')
D_ICD_PROCEDURES = datas[i].copy()
D_ICD_PROCEDURES

,Unnamed: 0,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,325,137,1,Ther ult head & neck ves,Therapeutic ultrasound of vessels of head and ...
1,326,138,2,Ther ultrasound of heart,Therapeutic ultrasound of heart
2,327,139,3,Ther ult peripheral ves,Therapeutic ultrasound of peripheral vascular ...
3,328,140,9,Other therapeutic ultsnd,Other therapeutic ultrasound
4,329,141,10,Implant chemothera agent,Implantation of chemotherapeutic agent
...,...,...,...,...,...
3877,3386,3466,9995,Stretching of foreskin,Stretching of foreskin
3878,3387,3467,9996,Sperm collection,Collection of sperm for artificial insemination
3879,3388,3468,9997,Denture fitting,Fitting of denture
3880,3389,3469,9998,Milk extraction,Extraction of milk from lactating breast
3881,3390,3470,9999,Miscellaneous proc NEC,Other miscellaneous procedures

In [10]:
i = paths.index('D_ICD_DIAGNOSES.csv')
D_ICD_DIAGNOSES = datas[i].copy()
D_ICD_DIAGNOSES

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,0,9049,9049,9050,77181,NB septicemia [sepsis],Septicemia [sepsis] of newborn
1,1,10304,10304,11403,99591,Sepsis,Sepsis
2,2,10305,10305,11404,99592,Severe sepsis,Severe sepsis
3,3,13293,13293,13564,67020,Puerperal sepsis-unsp,"Puerperal sepsis, unspecified as to episode of..."
4,4,13294,13294,13565,67022,Puerprl sepsis-del w p/p,"Puerperal sepsis, delivered, with mention of p..."
5,5,13295,13295,13566,67024,Puerperl sepsis-postpart,"Puerperal sepsis, postpartum condition or comp..."

In [11]:
i = paths.index('DIAGNOSES_ICD.csv')
datas[i].sort_values(by=['SUBJECT_ID', 'SEQ_NUM'], inplace=True)
DIAGNOSES_ICD = datas[i].copy()
DIAGNOSES_ICD

      Unnamed: 0  ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0            747     140          21   111970     11.0      99592
1            914     307          38   185910      3.0      99592
2           1084     477          61   189535      8.0      99591
3           1097     490          62   116009      4.0      99591
4            276     505          64   172056      3.0      99591
...          ...     ...         ...      ...      ...        ...
5404      648640  650341       99836   101018      8.0      99592
5405      649024  650470       99865   189346      4.0      99592
5406      649529  650720       99912   189380      8.0      99592
5407      648171  650990       99985   176670      7.0      99592
5408      648182  651001       99991   151118      5.0      99592

[5409 rows x 6 columns]

In [12]:
i = paths.index('ICUSTAYS.csv')
ICUSTAYS = datas[i].copy()
ICUSTAYS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
1,7,372,275,129886,219649,carevue,CCU,CCU,7,7,2170-10-07 11:28:53,2170-10-14 14:38:07,7.1314
2,45,410,305,194340,217232,metavision,SICU,SICU,33,33,2129-09-03 12:31:31,2129-09-05 23:00:50,2.4370
3,67,432,323,143334,264375,carevue,MICU,MICU,23,23,2120-01-11 15:48:28,2120-01-14 16:24:43,3.0252
4,74,439,329,172132,217001,carevue,MICU,MICU,50,50,2154-04-05 16:36:51,2154-04-08 18:14:48,3.0680

In [13]:
i = paths.index('PATIENTS.csv')
PATIENTS = datas[i].copy()
PATIENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
1,18,252,269,M,2130-09-30 00:00:00,NaN,NaN,NaN,0
2,40,646,685,F,2126-07-29 00:00:00,NaN,NaN,NaN,0
3,44,650,689,F,2128-12-27 00:00:00,NaN,NaN,NaN,0
4,45,651,690,M,2109-09-24 00:00:00,2189-07-30 00:00:00,2189-07-30 00:00:00,2189-07-30 00:00:00,1

In [14]:
i = paths.index('INPUTEVENTS_CV.csv')
INPUTEVENTS_CV = datas[i].copy()
INPUTEVENTS_CV.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,5257,7534,13168,182334.0,266561.0,2185-10-20 10:00:00,30056,120.0,ml,NaN,...,9164547,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,5258,7535,13168,182334.0,266561.0,2185-10-20 12:00:00,30056,150.0,ml,NaN,...,3692841,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,5259,7536,13168,182334.0,266561.0,2185-10-20 16:00:00,30056,100.0,ml,NaN,...,10641024,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,5260,7537,13168,182334.0,266561.0,2185-10-20 21:00:00,30056,100.0,ml,NaN,...,11331457,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,5261,7538,13168,182334.0,266561.0,2185-10-20 23:00:00,30056,60.0,ml,NaN,...,10791487,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [15]:
i = paths.index('INPUTEVENTS_CV.csv')
INPUTEVENTS_MV = datas[i].copy()
INPUTEVENTS_MV.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,5257,7534,13168,182334.0,266561.0,2185-10-20 10:00:00,30056,120.0,ml,NaN,...,9164547,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,5258,7535,13168,182334.0,266561.0,2185-10-20 12:00:00,30056,150.0,ml,NaN,...,3692841,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,5259,7536,13168,182334.0,266561.0,2185-10-20 16:00:00,30056,100.0,ml,NaN,...,10641024,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,5260,7537,13168,182334.0,266561.0,2185-10-20 21:00:00,30056,100.0,ml,NaN,...,11331457,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,5261,7538,13168,182334.0,266561.0,2185-10-20 23:00:00,30056,60.0,ml,NaN,...,10791487,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [16]:
i = paths.index('OUTPUTEVENTS.csv')
OUTPUTEVENTS = datas[i].copy()
OUTPUTEVENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR
0,63427,70086,13168,182334.0,266561.0,2185-10-23 06:30:00,40055,40.0,ml,2185-10-23 06:45:00,14442,NaN,NaN,NaN
1,63428,70087,13168,182334.0,266561.0,2185-10-23 08:00:00,40055,60.0,ml,2185-10-23 08:12:00,21570,NaN,NaN,NaN
2,63429,70088,13168,182334.0,266561.0,2185-10-23 09:00:00,40055,18.0,ml,2185-10-23 09:38:00,21570,NaN,NaN,NaN
3,63430,70089,13168,182334.0,266561.0,2185-10-23 11:00:00,40055,150.0,ml,2185-10-23 11:12:00,21570,NaN,NaN,NaN
4,63431,70090,13168,182334.0,266561.0,2185-10-23 15:00:00,40055,180.0,ml,2185-10-23 15:07:00,21570,NaN,NaN,NaN

In [17]:
i = paths.index('D_ITEMS.csv')
D_ITEMS = datas[i].copy()
D_ITEMS.head()

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,290,27,1,% Inspir. Time,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,291,28,2,ABI (L),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,292,29,3,ABI (R),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,293,30,4,ABI Ankle BP [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,294,31,5,ABI Brachial BP [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [18]:
i = paths.index('D_LABITEMS.csv')
D_LABITEMS = datas[i].copy()
D_LABITEMS.head()

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,127,1,50800,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
1,128,2,50801,Alveolar-arterial Gradient,Blood,Blood Gas,19991-9
2,129,3,50802,Base Excess,Blood,Blood Gas,11555-0
3,130,4,50803,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,1959-6
4,131,5,50804,Calculated Total CO2,Blood,Blood Gas,34728-6

In [19]:
i = paths.index('DRGCODES.csv')
DRGCODES = datas[i].copy()
DRGCODES.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,2895,2861,9102,154215,HCFA,385,"NEONATES, DIED OR TRANSFERRED TO ANOTHER ACUTE...",NaN,NaN
1,2967,2933,20617,178293,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
2,3053,3019,14831,160882,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
3,3764,3027,15204,168396,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
4,4396,4357,5424,157250,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN

In [20]:
i = paths.index('LABEVENTS.csv')
LABEVENTS = datas[i].copy()
LABEVENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,10085,10440,21,111970.0,51279,2135-02-03 05:04:00,2.81,2.81,m/uL,abnormal
1,10086,10441,21,111970.0,51301,2135-02-03 05:04:00,26.8,26.80,K/uL,abnormal
2,10087,10442,21,111970.0,50800,2135-02-03 05:13:00,MIX,NaN,NaN,NaN
3,10088,10443,21,111970.0,50813,2135-02-03 05:13:00,2.6,2.60,mmol/L,abnormal
4,10089,10444,21,111970.0,50817,2135-02-03 05:13:00,56,56.00,%,NaN

In [21]:
i = paths.index('PRESCRIPTIONS.csv')
PRESCRIPTIONS = datas[i].copy()
PRESCRIPTIONS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,435,1390475,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,BASE,NS (Mini Bag Plus),NaN,NaN,NS/MBP100I,001210,338055318.0,100mL Bag,100,ml,1,BAG,IV
1,436,1389751,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,MAIN,Levothyroxine Sodium,Levothyroxine Sodium,Levothyroxine Sodium,LEVO50,006649,74455211.0,50mcg Tablet,50,mcg,1,TAB,PO
2,437,1379358,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,MAIN,Meropenem,NaN,NaN,MERO500I,026488,310032520.0,500mg Vial,500,mg,1,VIAL,IV
3,438,1390474,21,111970,216859.0,2135-01-31 00:00:00,2135-02-01 00:00:00,BASE,SW,NaN,NaN,KCLBASE2,NaN,0.0,50ml Bag,100,ml,100,ml,IV
4,439,1390472,21,111970,216859.0,2135-01-31 00:00:00,2135-02-01 00:00:00,BASE,Iso-Osmotic Dextrose,NaN,NaN,VANCOBASE,NaN,0.0,200ml Bag,200,ml,200,ml,IV

In [22]:
i = paths.index('PROCEDUREEVENTS_MV.csv')
PROCEDUREEVENTS_MV = datas[i].copy()
PROCEDUREEVENTS_MV

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,379,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
1,380,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225454,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
3,382,29070,115071,232563.0,2145-03-12 23:36:00,2145-03-12 23:37:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
4,383,29070,115071,232563.0,2145-03-13 01:27:00,2145-03-16 16:00:00,224560,5193.0,min,Right IJ,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258061,257337,41958,182711,246007.0,2155-08-09 01:51:00,2155-08-10 11:20:00,225204,2009.0,min,Right Antecube,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258062,257338,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
258063,257339,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
258064,257340,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225966,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,1,Rewritten,NaN,RN,2155-08-09 02:20:00
258065,257341,41958,182711,246007.0,2155-08-09 02:20:00,2155-08-09 02:21:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN

In [23]:
i = paths.index('CHARTEVENTS1.csv')
CHARTEVENTS1 = datas[i].copy()
CHARTEVENTS2 = datas[i + 1].copy()
CHARTEVENTS3 = datas[i + 2].copy()
CHARTEVENTS4 = datas[i + 3].copy()
CHARTEVENTS5 = datas[i + 4].copy()
CHARTEVENTS6 = datas[i + 5].copy()
CHARTEVENTS7 = datas[i + 6].copy()
CHARTEVENTS8 = datas[i + 7].copy()
CHARTEVENTS9 = datas[i + 8].copy()
CHARTEVENTS1.head()

,Unnamed: 0,Unnamed: 0.1,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,1635,1635,2190,85,112077,291697.0,223751,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,160.0,160.0,mmHg,0.0,0.0,NaN,NaN
1,1636,1636,2191,85,112077,291697.0,223752,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,90.0,90.0,mmHg,0.0,0.0,NaN,NaN
2,1637,1637,2192,85,112077,291697.0,223769,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,100.0,100.0,%,0.0,0.0,NaN,NaN
3,1638,1638,2193,85,112077,291697.0,223770,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,92.0,92.0,%,0.0,0.0,NaN,NaN
4,1639,1639,2194,85,112077,291697.0,224161,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,35.0,35.0,insp/min,0.0,0.0,NaN,NaN

In [24]:
i = paths.index('D_ICD_DIAGNOSES_FULL.csv')
D_ICD_DIAGNOSES_FULL = datas[i].copy()
D_ICD_DIAGNOSES_FULL.drop(D_ICD_DIAGNOSES_FULL[['sirs' not in s.lower() for s in D_ICD_DIAGNOSES_FULL['SHORT_TITLE']]].index, inplace=True)
# D_ICD_DIAGNOSES.to_csv(prefix_path + paths[i])
D_ICD_DIAGNOSES_FULL

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
10303,11402,99590,"SIRS, NOS","Systemic inflammatory response syndrome, unspe..."
10306,11405,99593,SIRS-noninf w/o ac or ds,Systemic inflammatory response syndrome due to...
10307,11406,99594,SIRS-noninf w ac org dys,Systemic inflammatory response syndrome due to...

In [25]:
i = paths.index('DIAGNOSES_ICD_FULL.csv')
datas[i].sort_values(by=['SUBJECT_ID', 'SEQ_NUM'], inplace=True)
DIAGNOSES_ICD_FULL = datas[i].copy()
drop_index = []
for j in tqdm(DIAGNOSES_ICD_FULL.index):
    for code in D_ICD_DIAGNOSES_FULL['ICD9_CODE']:
        if str(DIAGNOSES_ICD_FULL.loc[j]['ICD9_CODE']) == code:
            break
    else:
        drop_index.append(j)
DIAGNOSES_ICD_FULL.drop(drop_index, inplace=True)
del drop_index
# DIAGNOSES_ICD.to_csv(prefix_path + paths[i])
DIAGNOSES_ICD_FULL

  7%|██████████▋                                                                                                                                                  | 44478/651047 [00:06<01:24, 7202.06it/s]

KeyboardInterrupt:

# Features

In [26]:
# last row don't understand meaning
features = ['Shock_Index', 'elixhauser', 'SIRS', 'gender', 're_admission', 'GCS', 'SOFA', 'age', 'Albumin',
           'Arterial_pH', 'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'SGPT', 
           'Arterial_blood_gas', 'BUN', 'HCO3', 'INR', 'Arterial_lactate', 'CO2', 'Creatinine', 
           'Ionised_Ca', 'PT', 'Platelets_count', 'SGOT', 'Total_bili', 'WBC_count', 'DiaBP', 'SysBP', 
           'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 'Weight_kg', 'HR', 'SpO2'
           'input_total_tev', 'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc', 'mechvent']

binary_features = ['gender', 're_admission', 'mechvent']
norm_features = ['Shock_Index', 'elixhauser', 'SIRS', 'GCS', 'SOFA', 'age', 'Albumin', 'Arterial_pH', 
                'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'Arterial_blood_gas', 
                'HCO3', 'Arterial_lactate', 'CO2', 'Ionised_Ca', 'PT', 'Platelets_count', 'WBC_count', 
                'DiaBP', 'SysBP', 'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 
                'Weight_kg', 'HR', ]
log_features = ['SGPT', 'BUN', 'INR', 'Creatinine', 'SGOT', 'Total_bili', 'SpO2', 'input_total_tev',
                'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc']

In [100]:
feature = pd.DataFrame(columns = ['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE'])
lab_feature = pd.DataFrame(columns = ['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE'])

In [101]:
D_ITEMS.drop(D_ITEMS[D_ITEMS.isnull()['LABEL']].index, inplace=True)

## GCS - Glasgow Coma Scale (ITEMID: 198)

In [102]:
d = D_ITEMS[['gcs' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['GCS'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[d['ITEMID'] == 198].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'GCS']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
0,GCS,198,GCS Total,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
1,GCS,220739,GCS - Eye Opening,Eye Opening,metavision,chartevents,Neurological,NaN,Text,NaN,False
2,GCS,223900,GCS - Verbal Response,Verbal Response,metavision,chartevents,Neurological,NaN,Text,NaN,False
3,GCS,223901,GCS - Motor Response,Motor Response,metavision,chartevents,Neurological,NaN,Text,NaN,False
4,GCS,226755,GcsApacheIIScore,GcsApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
5,GCS,226756,GCSEyeApacheIIValue,GCSEyeApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False
6,GCS,226757,GCSMotorApacheIIValue,GCSMotorApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False
7,GCS,226758,GCSVerbalApacheIIValue,GCSVerbalApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False
8,GCS,227011,GCSEye_ApacheIV,GCSEye_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),NaN,Text,NaN,False
9,GCS,227012,GCSMotor_ApacheIV,GCSMotor_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),NaN,Text,NaN,False
10,GCS,227013,GcsScore_ApacheIV,GcsScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
11,GCS,227014,GCSVerbal_ApacheIV,GCSVerbal_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),NaN,Text,NaN,False
12,GCS,228112,GCSVerbalApacheIIValue (intubated),GCSVerbalApacheIIValue (intubated),metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False

## SOFA (ITEMID: 227428)

In [103]:
d = D_ITEMS[['sofa' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['SOFA'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[d['ITEMID'] == 227428].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'SOFA']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
13,SOFA,227428,SOFA Score,SOFA Score,metavision,chartevents,General,None,Numeric,NaN,True

## Albumin (ITEMID: 50862, 772, 1521, 227456)

In [104]:
d = D_ITEMS[['albumin' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Albumin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [50862, 772, 1521, 227456] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Albumin']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
14,Albumin,772,Albumin (>3.2),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
15,Albumin,1521,Albumin,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
16,Albumin,2358,ALBUMIN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
17,Albumin,3066,albumin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
18,Albumin,3727,Albumin (3.9-4.8),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
19,Albumin,30008,Albumin 5%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
20,Albumin,30009,Albumin 25%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
21,Albumin,30181,Serum Albumin 5%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
22,Albumin,40548,ALBUMIN,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
23,Albumin,42832,albumin 12.5%,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
24,Albumin,43237,25% Albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
25,Albumin,43353,Albumin (human) 25%,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
26,Albumin,44203,Albumin 12.5%,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
27,Albumin,44952,OR Albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
28,Albumin,45403,albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
29,Albumin,46564,Albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
30,Albumin,220574,ZAlbumin,ZAlbumin,metavision,chartevents,Labs,None,Numeric,NaN,False
31,Albumin,220861,Albumin (Human) 20%,Albumin 20%,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN,False
32,Albumin,220862,Albumin 25%,Albumin 25%,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,False
33,Albumin,220863,Albumin (Human) 4%,Albumin 4%,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN,False
34,Albumin,220864,Albumin 5%,Albumin 5%,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,False
35,Albumin,226981,Albumin_ApacheIV,Albumin_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
36,Albumin,226982,AlbuminScore_ApacheIV,AlbuminScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
37,Albumin,227456,Albumin,Albumin,metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [105]:
d = D_LABITEMS[['albumin' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Albumin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [50862, 772, 1521, 227456] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Albumin']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
0,Albumin,50835,"Albumin, Ascites",Ascites,Chemistry,1749-1,False
1,Albumin,50862,Albumin,Blood,Chemistry,1751-7,True
2,Albumin,51011,<Albumin>,Cerebrospinal Fluid (CSF),Chemistry,1746-7,False
3,Albumin,51019,"Albumin, Joint Fluid",Joint Fluid,Chemistry,NaN,False
4,Albumin,51025,"Albumin, Body Fluid",Other Body Fluid,Chemistry,1747-5,False
5,Albumin,51046,"Albumin, Pleural",Pleural,Chemistry,1748-3,False
6,Albumin,51069,"Albumin, Urine",Urine,Chemistry,1754-1,False
7,Albumin,51070,"Albumin/Creatinine, Urine",Urine,Chemistry,14958-3,False
8,Albumin,51555,SURFACTANT ALBUMIN RATIO,OTHER BODY FLUID,CHEMISTRY,NaN,False

## Arterial_pH (ITEMID: 780, 1126, 223830, 50820)

In [106]:
d = D_ITEMS[['art' in str(s).lower() and 'ph' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Arterial_pH'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [780, 1126, 223830, 50820] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Arterial_pH']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
38,Arterial_pH,780,Arterial pH,NaN,carevue,chartevents,ABG,NaN,NaN,NaN,True
39,Arterial_pH,1126,Art.pH,NaN,carevue,chartevents,ABG,NaN,NaN,NaN,True
40,Arterial_pH,4753,pH (Art),NaN,carevue,chartevents,ABG,NaN,NaN,NaN,False
41,Arterial_pH,223830,PH (Arterial),PH (Arterial),metavision,chartevents,Labs,None,Numeric,NaN,True
42,Arterial_pH,225076,Emotional / physical / sexual harm by partner ...,Emotional / physical / sexual harm,metavision,chartevents,Adm History/FHPA,NaN,Checkbox,NaN,False
43,Arterial_pH,228194,Peripheral Pulses (Tandem Heart),Peripheral Pulses (Tandem Heart),metavision,chartevents,Tandem Heart,NaN,Text,NaN,False

In [107]:
d = D_LABITEMS[['ph' == str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Arterial_pH'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [50862, 772, 1521, 227456] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Arterial_pH']

        feature ITEMID LABEL             FLUID    CATEGORY LOINC_CODE CHOOSE
9   Arterial_pH  50820    pH             Blood   Blood Gas    11558-4  False
10  Arterial_pH  50831    pH  Other Body Fluid   Blood Gas     2748-2  False
11  Arterial_pH  51094    pH             Urine   Chemistry     2756-5  False
12  Arterial_pH  51491    pH             Urine  Hematology     5803-2  False

## Calcium (ITEMID: 225625, 50893, 786, 1522)

In [108]:
d = D_ITEMS[['calcium' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [225625, 50893, 786, 1522] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Calcium']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
44,Calcium,786,Calcium (8.4-10.2),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
45,Calcium,816,Ionized Calcium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
46,Calcium,1350,ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
47,Calcium,1522,Calcium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
48,Calcium,1663,Calcium gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
49,Calcium,2185,CALCIUM GLUCONATE,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
50,Calcium,3219,calcium gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
51,Calcium,3347,Calcium Gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
52,Calcium,3746,Calcium (8.8-10.8),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
53,Calcium,3766,Ion Calcium,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN,False
54,Calcium,4696,Calcium Glubionate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
55,Calcium,5114,Calcium glubionate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
56,Calcium,5258,calcium glubionate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
57,Calcium,5753,Calcium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
58,Calcium,5810,urine calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
59,Calcium,6132,Calcium gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
60,Calcium,7245,CALCIUM GLUC ML/HR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
61,Calcium,7871,elemental calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
62,Calcium,7949,Calcium for CVVH,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
63,Calcium,8177,Ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
64,Calcium,8325,IONIZED CALCIUM,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
65,Calcium,30022,Calcium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
66,Calcium,30023,Calcium Gluconate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
67,Calcium,30300,Calcium Chloride 10%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
68,Calcium,41163,Calcium gluc gtt,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
69,Calcium,41807,Calcium chloride IVP,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
70,Calcium,42856,CALCIUM GLUGOANTE,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
71,Calcium,42916,calcium gluc,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
72,Calcium,43747,CALCIUM,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
73,Calcium,44220,Calcium Gluc 40gm,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
74,Calcium,44441,calcium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
75,Calcium,44749,calcium drip,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
76,Calcium,44855,Calcium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
77,Calcium,45268,CALCIUM FOR CVVHD,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
78,Calcium,45593,Calcium w/ pheresis,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
79,Calcium,46712,CALCIUM-DIALYSIS,NaN,carevue,outputevents,Free Form Intake,NaN,NaN,NaN,False
80,Calcium,221456,Calcium Gluconate,Calcium Gluconate,metavision,inputevents_mv,Medications,grams,Solution,NaN,False
81,Calcium,225625,Calcium non-ionized,Calcium non-ionized,metavision,chartevents,Labs,None,Numeric,NaN,True
82,Calcium,225667,Ionized Calcium,Ionized Calcium,metavision,chartevents,Labs,None,Numeric,NaN,False
83,Calcium,227525,Calcium Gluconate (CRRT),Calcium Gluconate (CRRT),metavision,inputevents_mv,Medications,grams,Solution,NaN,False
84,Calcium,228317,Calcium Gluconate (Bolus),Calcium Gluconate (Bolus),metavision,inputevents_mv,Medications,mL,Solution,NaN,False

In [109]:
d = D_LABITEMS[['calcium' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [225625, 50893, 786, 1522] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Calcium']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
13,Calcium,50808,Free Calcium,Blood,Blood Gas,1994-3,False
14,Calcium,50893,"Calcium, Total",Blood,Chemistry,2000-8,True
15,Calcium,51029,"Calcium, Body Fluid",Other Body Fluid,Chemistry,15155-5,False
16,Calcium,51066,24 hr Calcium,Urine,Chemistry,6874-2,False
17,Calcium,51077,"Calcium, Urine",Urine,Chemistry,2004-0,False
18,Calcium,51468,Calcium Carbonate Crystals,Urine,Hematology,5773-7,False
19,Calcium,51469,Calcium Oxalate Crystals,Urine,Hematology,5774-5,False
20,Calcium,51470,Calcium Phosphate Crystals,Urine,Hematology,5775-2,False

## Glucose (ITEMID: 220621, 225664, 50809, 811, 807, 50931, 226537, 1529)

In [110]:
d = D_ITEMS[['glucose' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Glucose'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [220621, 225664, 50809, 811, 807, 50931, 226537, 1529] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Glucose']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
85,Glucose,807,Fingerstick Glucose,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
86,Glucose,811,Glucose (70-105),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
87,Glucose,1310,FINGERSTICK GLUCOSE.,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
88,Glucose,1455,fingerstick glucose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
89,Glucose,1529,Glucose,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
90,Glucose,1812,abg: glucose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
91,Glucose,2338,finger stick glucose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
92,Glucose,3447,Glucose Monitor #,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
93,Glucose,3744,Blood Glucose,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
94,Glucose,3745,BloodGlucose,NaN,carevue,chartevents,Quick Admit,NaN,NaN,NaN,False
95,Glucose,3816,Urine Glucose,NaN,carevue,chartevents,Urine,NaN,NaN,NaN,False
96,Glucose,220621,Glucose (serum),Glucose (serum),metavision,chartevents,Labs,None,Numeric,NaN,True
97,Glucose,225664,Glucose finger stick,Glucose finger stick,metavision,chartevents,Labs,None,Numeric,NaN,True
98,Glucose,226537,Glucose (whole blood),Glucose (whole blood),metavision,chartevents,Labs,None,Numeric,NaN,True
99,Glucose,227015,Glucose_ApacheIV,Glucose_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
100,Glucose,227016,GlucoseScore_ApacheIV,GlucoseScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
101,Glucose,227976,Boost Glucose Control (1/4),Boost Glucose Control (1/4),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,False
102,Glucose,227977,Boost Glucose Control (1/2),Boost Glucose Control (1/2),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,False
103,Glucose,227978,Boost Glucose Control (3/4),Boost Glucose Control (3/4),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,False
104,Glucose,227979,Boost Glucose Control (Full),Boost Glucose Control (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,False
105,Glucose,228388,Glucose (whole blood) (soft),Glucose (whole blood) (soft),metavision,chartevents,Labs,None,Numeric with tag,NaN,False

In [111]:
d = D_LABITEMS[['glucose' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Glucose'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [220621, 225664, 50809, 811, 807, 50931, 226537, 1529] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Glucose']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
21,Glucose,50809,Glucose,Blood,Blood Gas,2339-0,True
22,Glucose,50842,"Glucose, Ascites",Ascites,Chemistry,2347-3,False
23,Glucose,50931,Glucose,Blood,Chemistry,2345-7,True
24,Glucose,51014,"Glucose, CSF",Cerebrospinal Fluid (CSF),Chemistry,2342-4,False
25,Glucose,51022,"Glucose, Joint Fluid",Joint Fluid,Chemistry,2348-1,False
26,Glucose,51034,"Glucose, Body Fluid",Other Body Fluid,Chemistry,2344-0,False
27,Glucose,51053,"Glucose, Pleural",Pleural,Chemistry,2346-5,False
28,Glucose,51084,"Glucose, Urine",Urine,Chemistry,2350-7,False
29,Glucose,51478,Glucose,Urine,Hematology,5792-7,False
30,Glucose,51529,Estimated Actual Glucose,BLOOD,CHEMISTRY,NaN,False

## Hemoglobin (ITEMID: 220228, 51222, 50811, 814)

In [112]:
d = D_ITEMS[['hemoglobin' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Hemoglobin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [220228, 51222, 50811, 814] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Hemoglobin']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
106,Hemoglobin,814,Hemoglobin,NaN,carevue,chartevents,Hematology,NaN,NaN,NaN,True
107,Hemoglobin,7965,methhemoglobin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
108,Hemoglobin,220228,Hemoglobin,Hemoglobin,metavision,chartevents,Labs,g/dl,Numeric,NaN,True

In [113]:
d = D_LABITEMS[['hemoglobin' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Hemoglobin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [220228, 51222, 50811, 814] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Hemoglobin']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
31,Hemoglobin,50805,Carboxyhemoglobin,Blood,Blood Gas,20563-3,False
32,Hemoglobin,50811,Hemoglobin,Blood,Blood Gas,718-7,True
33,Hemoglobin,50814,Methemoglobin,Blood,Blood Gas,2614-6,False
34,Hemoglobin,50852,% Hemoglobin A1c,Blood,Chemistry,4548-4,False
35,Hemoglobin,50855,Absolute Hemoglobin,Blood,Chemistry,718-7,False
36,Hemoglobin,51212,Fetal Hemoglobin,Blood,Hematology,4576-5,False
37,Hemoglobin,51222,Hemoglobin,Blood,Hematology,718-7,True
38,Hemoglobin,51223,Hemoglobin A2,Blood,Hematology,4552-6,False
39,Hemoglobin,51224,Hemoglobin C,Blood,Hematology,4561-7,False
40,Hemoglobin,51225,Hemoglobin F,Blood,Hematology,9749-3,False
41,Hemoglobin,51285,"Reticulocyte, Cellular Hemoglobin",Blood,Hematology,NaN,False

## Magnesium (ITEMID: 220635, 50960, 1532, 821)

In [114]:
d = D_ITEMS[['magnesium' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Magnesium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [220635, 50960, 1532, 821] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Magnesium']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
109,Magnesium,821,Magnesium (1.6-2.6),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
110,Magnesium,1532,Magnesium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
111,Magnesium,1970,magnesium 2gm/hr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
112,Magnesium,6133,Magnesium Sulfate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
113,Magnesium,30027,Magnesium Sulfate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
114,Magnesium,40645,magnesium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
115,Magnesium,43018,magnesium 1gm/hr,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
116,Magnesium,44088,Magnesium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
117,Magnesium,220635,Magnesium,Magnesium,metavision,chartevents,Labs,None,Numeric,NaN,True
118,Magnesium,222011,Magnesium Sulfate,Magnesium Sulfate,metavision,inputevents_mv,Medications,grams,Solution,NaN,False
119,Magnesium,227523,Magnesium Sulfate (Bolus),Magnesium Sulfate (Bolus),metavision,inputevents_mv,Medications,mL,Solution,NaN,False
120,Magnesium,227524,Magnesium Sulfate (OB-GYN),Magnesium Sulfate (OB-GYN),metavision,inputevents_mv,Medications,grams,Solution,NaN,False

In [115]:
d = D_LABITEMS[['magnesium' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Magnesium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [220635, 50960, 1532, 821] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Magnesium']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
42,Magnesium,50960,Magnesium,Blood,Chemistry,2601-3,True
43,Magnesium,51037,"Magnesium, Body Fluid",Other Body Fluid,Chemistry,29365-4,False
44,Magnesium,51088,"Magnesium, Urine",Urine,Chemistry,2598-1,False

## PTT-Partial Thromboplastin Time (ITEMID: 227466, 825, 1533, 51275)

In [116]:
d = D_ITEMS[['ptt' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PTT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [227466, 825, 1533, 51275] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'PTT']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
121,PTT,825,PTT(22-35),NaN,carevue,chartevents,Coags,NaN,NaN,NaN,True
122,PTT,1533,PTT,NaN,carevue,chartevents,Coags,NaN,NaN,NaN,True
123,PTT,3796,Ptt,NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN,False
124,PTT,220562,ZPTT,ZPTT,metavision,chartevents,Labs,None,Numeric,NaN,False
125,PTT,227466,PTT,PTT,metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [117]:
d = D_LABITEMS[['ptt' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PTT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [227466, 825, 1533, 51275] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'PTT']

   feature ITEMID LABEL  FLUID    CATEGORY LOINC_CODE CHOOSE
45     PTT  51275   PTT  Blood  Hematology     3173-2   True

## Potassium (ITEMID: 829, 50971, 1535, 227464, 50822)

In [118]:
d = D_ITEMS[['potassium' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Potassium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [829, 50971, 1535, 227464, 50822] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Potassium']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
126,Potassium,829,Potassium (3.5-5.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
127,Potassium,1535,Potassium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
128,Potassium,1821,potassium phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
129,Potassium,2691,URINE POTASSIUM,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
130,Potassium,2856,Potassium phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
131,Potassium,3578,Potassium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
132,Potassium,3725,ABG POTASSIUM,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN,False
133,Potassium,3792,Potassium (3.5-5.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
134,Potassium,4194,ABG Potassium,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN,False
135,Potassium,4381,Potassium Phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
136,Potassium,5167,potassium Phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
137,Potassium,5195,potassium phosphorus,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
138,Potassium,30029,Potassium Phosphate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
139,Potassium,30297,Potassium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
140,Potassium,30299,Potassium Acetate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
141,Potassium,41450,21mM Potassium Phos,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
142,Potassium,41956,Potassium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
143,Potassium,42628,potassium phos,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
144,Potassium,42728,POTASSIUM,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
145,Potassium,43238,Potassium Chl. Bolus,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
146,Potassium,43872,Potassium 20meqIVPB,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
147,Potassium,44479,potassium phospate,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
148,Potassium,44711,potassium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
149,Potassium,44762,potassium phos 30mml,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
150,Potassium,45430,potassium Chl 40meq,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
151,Potassium,45627,potassium 40/500,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
152,Potassium,46263,potassium phos 15mml,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
153,Potassium,46453,potassium 10/100,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
154,Potassium,46611,POTASSIUM CHLOR 10MQ,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
155,Potassium,220640,ZPotassium (serum),ZPotassium (serum),metavision,chartevents,Labs,None,Numeric,NaN,False
156,Potassium,222139,Potassium ACEtate,Potassium ACEtate,metavision,inputevents_mv,Nutrition - Supplements,mEq,Solution,NaN,False
157,Potassium,225166,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,False
158,Potassium,225890,Penicillin G potassium,Penicillin G potassium,metavision,inputevents_mv,Antibiotics,dose,Solution,NaN,False
159,Potassium,225925,Potassium Phosphate,Potassium Phosphate,metavision,inputevents_mv,Nutrition - Supplements,mmol,Solution,NaN,False
160,Potassium,226535,ZPotassium (whole blood),ZPotassium (whole blood),metavision,chartevents,Labs,None,Numeric,NaN,False
161,Potassium,226771,PotassiumApacheIIScore,PotassiumApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
162,Potassium,226772,PotassiumApacheIIValue,PotassiumApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
163,Potassium,227442,Potassium (serum),Potassium (serum),metavision,chartevents,Labs,None,Numeric with tag,NaN,False
164,Potassium,227464,Potassium (whole blood),Potassium (whole blood),metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [119]:
d = D_LABITEMS[['potassium' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Potassium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [829, 50971, 1535, 227464, 50822] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Potassium']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
46,Potassium,50822,"Potassium, Whole Blood",Blood,Blood Gas,6298-4,True
47,Potassium,50833,Potassium,Other Body Fluid,Blood Gas,2821-7,False
48,Potassium,50847,"Potassium, Ascites",Ascites,Chemistry,49789-1,False
49,Potassium,50971,Potassium,Blood,Chemistry,2823-3,True
50,Potassium,51041,"Potassium, Body Fluid",Other Body Fluid,Chemistry,2821-7,False
51,Potassium,51057,"Potassium, Pleural",Pleural,Chemistry,NaN,False
52,Potassium,51064,"Potassium, Stool",Stool,Chemistry,15202-5,False
53,Potassium,51097,"Potassium, Urine",Urine,Chemistry,2828-2,False

## SGPT-Serum Glutamic-Pyruvic Transaminase (ITEMID: 3802)

In [120]:
d = D_ITEMS[['gpt' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['SGPT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [3802] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'SGPT']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
165,SGPT,3802,SGPT,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True

## Arterial Base Excess (ITEMID: )

In [121]:
d = D_ITEMS[['base excess' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Arterial_BE'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
# d['CHOOSE'][d[[id in [3802] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Arterial_BE']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
166,Arterial_BE,74,Base Excess,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
167,Arterial_BE,776,Arterial Base Excess,NaN,carevue,chartevents,ABG,NaN,NaN,NaN,False
168,Arterial_BE,3740,Base Excess (other),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN,False
169,Arterial_BE,3829,Venous Base Excess,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN,False
170,Arterial_BE,4196,Base Excess (cap),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN,False
171,Arterial_BE,224828,Arterial Base Excess,Arterial Base Excess,metavision,chartevents,Labs,None,Numeric,NaN,False

In [122]:
d = D_LABITEMS[['base excess' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Arterial_BE'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
# d['CHOOSE'][d[[id in [829, 50971, 1535, 227464, 50822] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Arterial_BE']

        feature ITEMID        LABEL  FLUID   CATEGORY LOINC_CODE CHOOSE
54  Arterial_BE  50802  Base Excess  Blood  Blood Gas    11555-0  False

## BUN-Blood Urea Nitrogen (ITEMID: 51006, 781, 1162, 225624)

In [123]:
d = D_ITEMS[['bun' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['BUN'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [51006, 781, 1162, 225624] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'BUN']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
172,BUN,781,BUN (6-20),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
173,BUN,1162,BUN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
174,BUN,3737,BUN (6-20),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
175,BUN,5876,bun,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
176,BUN,8220,Effluent BUN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
177,BUN,225624,BUN,BUN,metavision,chartevents,Labs,None,Numeric,NaN,True
178,BUN,227000,BUN_ApacheIV,BUN_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
179,BUN,227001,BunScore_ApacheIV,BunScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False

In [124]:
d = D_LABITEMS[['urea' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['BUN'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [51006, 781, 1162, 225624] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'BUN']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
55,BUN,50851,"Urea Nitrogen, Ascites",Ascites,Chemistry,12265-5,False
56,BUN,51006,Urea Nitrogen,Blood,Chemistry,3094-0,True
57,BUN,51045,"Urea Nitrogen, Body Fluid",Other Body Fluid,Chemistry,3093-2,False
58,BUN,51104,"Urea Nitrogen, Urine",Urine,Chemistry,3095-7,False

## HCO3 (ITEMID: 50882, 227443, 50803)

In [125]:
d = D_ITEMS[['hco3' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['HCO3'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [50882, 227443, 50803] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'HCO3']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
180,HCO3,812,HCO3,NaN,carevue,chartevents,ABG,NaN,NaN,NaN,False
181,HCO3,2468,NAHCO3- MEQ/HR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
182,HCO3,8235,naHCO3,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
183,HCO3,41824,D5W 150meq NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
184,HCO3,41983,NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
185,HCO3,42337,NAHCO3- CC/HR,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
186,HCO3,42939,1/4ns w 100meqnahco3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
187,HCO3,43904,D51/4NS+100MeqNaHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
188,HCO3,44166,BICARBONATE-HCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
189,HCO3,44539,D5W W/ NAHCO3 150MEQ,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
190,HCO3,44602,NaHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
191,HCO3,44966,1/2NSS & 100 NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
192,HCO3,44987,d5w NHCO3 150,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
193,HCO3,45979,NaHcO3 150meq in D5W,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
194,HCO3,46061,D5 0.45N/S+NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
195,HCO3,46361,D5W +3 Amps NaHco3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
196,HCO3,46455,D5W +NaHcO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
197,HCO3,46585,D5W with 150MEQ HCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
198,HCO3,46644,D5W & 150 MEQ NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
199,HCO3,224826,ZHCO3 (serum),ZHCO3 (serum),metavision,chartevents,Labs,None,Numeric,NaN,False
200,HCO3,226759,HCO3ApacheIIValue,HCO3ApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
201,HCO3,226760,HCO3Score,HCO3Score,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
202,HCO3,227443,HCO3 (serum),HCO3 (serum),metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [126]:
d = D_LABITEMS.query("ITEMID == 50882 | ITEMID == 50803").iloc[:, 2:]
d['feature'] = ['HCO3'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [50882, 227443, 50803] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'HCO3']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
59,HCO3,50803,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,1959-6,True
60,HCO3,50882,Bicarbonate,Blood,Chemistry,1963-8,True

## INR-International Normalized Ratio (ITEMID: 1530, 51237, 227467)

In [127]:
d = D_ITEMS[['inr' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['INR'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [1530, 51237, 227467] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'INR']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
203,INR,815,INR (2-4 ref. range),NaN,carevue,chartevents,Coags,NaN,NaN,NaN,False
204,INR,1530,INR,NaN,carevue,chartevents,Coags,NaN,NaN,NaN,True
205,INR,42527,INR BLOOD PRODUCTS,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
206,INR,44481,ER URINR OUTPUT,NaN,carevue,outputevents,NaN,NaN,NaN,NaN,False
207,INR,220561,ZINR,ZINR,metavision,chartevents,Labs,None,Numeric,NaN,False
208,INR,227467,INR,INR,metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [128]:
d = D_LABITEMS[['inr' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['INR'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [1530, 51237, 227467] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'INR']

   feature ITEMID    LABEL  FLUID    CATEGORY LOINC_CODE CHOOSE
61     INR  51237  INR(PT)  Blood  Hematology     5895-7   True

## Arterial Lactate (ITEMID: 50813)

In [129]:
d = D_ITEMS[['lactate' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Arterial Lactate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [50813] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Arterial Lactate']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
209,Arterial Lactate,1634,lactated ringers,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
210,Arterial Lactate,2638,CEREBRAL LACTATE,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
211,Arterial Lactate,2773,sjlactate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
212,Arterial Lactate,30021,Lactated Ringers,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
213,Arterial Lactate,44370,INAMRINONE LACTATE,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
214,Arterial Lactate,45532,IR Lactated ringers,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
215,Arterial Lactate,220955,Ringers Lactate,Ringers Lactate,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN,False
216,Arterial Lactate,220967,Dextrose 5% / Ringers Lactate,Dextrose 5% / Ringers Lactate,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN,False
217,Arterial Lactate,220968,Dextrose 10% / Ringers Lactate,Dextrose 10% / Ringers Lactate,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN,False
218,Arterial Lactate,220980,Hextend (Hetastarch 6% in Lactate),Hextend (Hetastarch 6% in Lactate),metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN,False

In [130]:
d = D_LABITEMS[['lactate' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Arterial Lactate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [50813] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Arterial Lactate']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
62,Arterial Lactate,50813,Lactate,Blood,Blood Gas,32693-4,True
63,Arterial Lactate,50843,"Lactate Dehydrogenase, Ascites",Ascites,Chemistry,2531-2,False
64,Arterial Lactate,50954,Lactate Dehydrogenase (LD),Blood,Chemistry,2532-0,False
65,Arterial Lactate,51015,"Lactate Dehydrogenase, CSF",Cerebrospinal Fluid (CSF),Chemistry,2528-8,False
66,Arterial Lactate,51054,"Lactate Dehydrogenase, Pleural",Pleural,Chemistry,2530-4,False

## CO2 (ITEMID: 787)

In [131]:
d = D_ITEMS[['carbon dioxide' in str(s).lower() or ' co2' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['CO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [787] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'CO2']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
219,CO2,777,Arterial CO2(Calc),NaN,carevue,chartevents,ABG,NaN,NaN,NaN,False
220,CO2,787,Carbon Dioxide,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
221,CO2,857,Venous CO2(Calc),NaN,carevue,chartevents,VBG'S,NaN,NaN,NaN,False
222,CO2,2772,SJ CO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
223,CO2,3773,Mix Venous CO2(calc),NaN,carevue,chartevents,Mixed VBGs,NaN,NaN,NaN,False
224,CO2,3810,Total CO2,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
225,CO2,3830,Venous CO2,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN,False
226,CO2,220235,Arterial CO2 Pressure,PCO2 (Arterial),metavision,chartevents,Labs,mmHg,Numeric,NaN,False
227,CO2,226062,Venous CO2 Pressure,PCO2 (Venous),metavision,chartevents,Labs,mmHg,Numeric,NaN,False

In [132]:
d = D_LABITEMS[['carbon dioxide' in str(s).lower() or ' co2' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['CO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [787] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'CO2']

   feature ITEMID                 LABEL  FLUID   CATEGORY LOINC_CODE CHOOSE
67     CO2  50804  Calculated Total CO2  Blood  Blood Gas    34728-6  False

## Creatinine (ITEMID: 791, 1525, 220615, 50912)

In [133]:
d = D_ITEMS[['creatinine' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Creatinine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [791, 1525, 220615, 50912] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Creatinine']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
228,Creatinine,791,Creatinine (0-1.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
229,Creatinine,1525,Creatinine,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
230,Creatinine,3750,Creatinine (0-0.7),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
231,Creatinine,5811,urine creatinine,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
232,Creatinine,220615,Creatinine,Creatinine,metavision,chartevents,Labs,None,Numeric,NaN,True
233,Creatinine,226751,CreatinineApacheIIScore,CreatinineApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
234,Creatinine,226752,CreatinineApacheIIValue,CreatinineApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
235,Creatinine,227005,Creatinine_ApacheIV,Creatinine_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False

In [134]:
d = D_LABITEMS[['creatinine' in str(s).lower() or ' co2' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Creatinine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [791, 1525, 220615, 50912] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Creatinine']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
68,Creatinine,50804,Calculated Total CO2,Blood,Blood Gas,34728-6,False
69,Creatinine,50841,"Creatinine, Ascites",Ascites,Chemistry,12191-3,False
70,Creatinine,50912,Creatinine,Blood,Chemistry,2160-0,True
71,Creatinine,51021,"Creatinine, Joint Fluid",Joint Fluid,Chemistry,14401-4,False
72,Creatinine,51032,"Creatinine, Body Fluid",Other Body Fluid,Chemistry,12190-5,False
73,Creatinine,51052,"Creatinine, Pleural",Pleural,Chemistry,14399-0,False
74,Creatinine,51067,24 hr Creatinine,Urine,Chemistry,2162-6,False
75,Creatinine,51070,"Albumin/Creatinine, Urine",Urine,Chemistry,14958-3,False
76,Creatinine,51073,"Amylase/Creatinine Ratio, Urine",Urine,Chemistry,34235-2,False
77,Creatinine,51080,Creatinine Clearance,Urine,Chemistry,33558-8,False
78,Creatinine,51081,"Creatinine, Serum",Urine,Chemistry,NaN,False
79,Creatinine,51082,"Creatinine, Urine",Urine,Chemistry,2161-8,False
80,Creatinine,51099,Protein/Creatinine Ratio,Urine,Chemistry,2890-2,False
81,Creatinine,51106,Urine Creatinine,Urine,Chemistry,NaN,False

## Ionised Calcium (ITEMID: 50808, 816, 225667)

In [135]:
d = D_ITEMS[['ionized calcium' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Ionized Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [50808, 816, 225667] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Ionized Calcium']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
236,Ionized Calcium,816,Ionized Calcium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
237,Ionized Calcium,1350,ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
238,Ionized Calcium,8177,Ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
239,Ionized Calcium,8325,IONIZED CALCIUM,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
240,Ionized Calcium,225667,Ionized Calcium,Ionized Calcium,metavision,chartevents,Labs,None,Numeric,NaN,True

In [136]:
d = D_LABITEMS[['calcium' in str(s).lower() or ' co2' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Ionized Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [50808, 816, 225667] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Ionized Calcium']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
82,Ionized Calcium,50804,Calculated Total CO2,Blood,Blood Gas,34728-6,False
83,Ionized Calcium,50808,Free Calcium,Blood,Blood Gas,1994-3,True
84,Ionized Calcium,50893,"Calcium, Total",Blood,Chemistry,2000-8,False
85,Ionized Calcium,51029,"Calcium, Body Fluid",Other Body Fluid,Chemistry,15155-5,False
86,Ionized Calcium,51066,24 hr Calcium,Urine,Chemistry,6874-2,False
87,Ionized Calcium,51077,"Calcium, Urine",Urine,Chemistry,2004-0,False
88,Ionized Calcium,51468,Calcium Carbonate Crystals,Urine,Hematology,5773-7,False
89,Ionized Calcium,51469,Calcium Oxalate Crystals,Urine,Hematology,5774-5,False
90,Ionized Calcium,51470,Calcium Phosphate Crystals,Urine,Hematology,5775-2,False

## PT-Prothrombin Time (ITEMID: 1286, 824, 227465, 51274)

In [137]:
d = D_ITEMS[['pt ' in str(s).lower() or ' pt' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)

d = D_ITEMS[[id in [1286, 824, 227465, 51274] for id in D_ITEMS['ITEMID']]].iloc[:, 2:]
d['feature'] = ['PT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'PT']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
241,PT,121,Chest PT [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
242,PT,508,PT Splint #1 [Location],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
243,PT,509,PT Splint #2 [Location],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
244,PT,510,PT Splint #3 [Location],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
245,PT,511,PT Splint #4 [Location],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
246,PT,944,Chest PT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
247,PT,1056,chest pt,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
248,PT,2150,CHEST PT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
249,PT,2585,chest PT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
250,PT,4736,COSOPT DROPS,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
251,PT,5961,PT Eval,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
252,PT,6748,Pt Leak,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
253,PT,8378,Chest PT [Left],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
254,PT,8450,PT Splint #1 [Status],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
255,PT,8451,PT Splint #2 [Status],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
256,PT,8452,PT Splint #3 [Status],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
257,PT,8453,PT Splint #4 [Status],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
258,PT,43380,urine outpt cc/kg/hr,NaN,carevue,outputevents,NaN,NaN,NaN,NaN,False
259,PT,44772,1/2str Impt with Fib,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
260,PT,45750,out pt intake +prbc,NaN,carevue,outputevents,Free Form Intake,NaN,NaN,NaN,False
261,PT,45786,outpt uo,NaN,carevue,outputevents,NaN,NaN,NaN,NaN,False
262,PT,224101,Chest PT R/L,Chest PT R/L,metavision,chartevents,Treatments,NaN,Text,NaN,False
263,PT,224114,PT Splint Location #1,PT Splint Location #1,metavision,chartevents,Treatments,NaN,Text,NaN,False
264,PT,224455,PT Splint Location #4,PT Splint Location #4,metavision,chartevents,Treatments,NaN,Text,NaN,False
265,PT,224456,PT Splint Location #2,PT Splint Location #2,metavision,chartevents,Treatments,NaN,Text,NaN,False
266,PT,224457,PT Splint Location #3,PT Splint Location #3,metavision,chartevents,Treatments,NaN,Text,NaN,False
267,PT,225180,PT Splint Status #1,PT Splint Status #1,metavision,chartevents,Treatments,NaN,Text,NaN,False
268,PT,225182,PT Splint Status #2,PT Splint Status #2,metavision,chartevents,Treatments,NaN,Text,NaN,False
269,PT,225194,PT Splint Status #3,PT Splint Status #3,metavision,chartevents,Treatments,NaN,Text,NaN,False
270,PT,225196,PT Splint Status #4,PT Splint Status #4,metavision,chartevents,Treatments,NaN,Text,NaN,False
271,PT,228260,FM Pt Preferences,FM Pt Preferences,metavision,chartevents,Family Mtg Note,NaN,Checkbox,NaN,False
272,PT,228277,FM Pt present,FM Pt present,metavision,chartevents,Family Mtg Note,NaN,Checkbox,NaN,False
273,PT,824,PT(11-13.5),NaN,carevue,chartevents,Coags,NaN,NaN,NaN,True
274,PT,1286,PT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
275,PT,227465,Prothrombin time,PT,metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [138]:
d = D_LABITEMS[[id in [1286, 824, 227465, 51274] for id in D_LABITEMS['ITEMID']]].iloc[:, 2:]
d['feature'] = ['PT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'PT']

   feature ITEMID LABEL  FLUID    CATEGORY LOINC_CODE CHOOSE
91      PT  51274    PT  Blood  Hematology     5902-2   True

## Platelets Count (ITEMID: 51265, 828, 227457)

In [139]:
d = D_ITEMS[['platelet' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Platelets Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [51265, 828, 227457] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Platelets Count']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
276,Platelets Count,828,Platelets,NaN,carevue,chartevents,Hematology,NaN,NaN,NaN,True
277,Platelets Count,3789,Platelet (150-440),NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN,False
278,Platelets Count,6256,Platelet Count,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
279,Platelets Count,30006,Platelets,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
280,Platelets Count,30105,OR Platelets,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
281,Platelets Count,225170,Platelets,Platelets,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,False
282,Platelets Count,225678,ZPlatelet Count,ZPlatelet Count,metavision,chartevents,Labs,None,Numeric,NaN,False
283,Platelets Count,226369,OR Platelet Intake,OR Platelet Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,False
284,Platelets Count,227071,PACU Platelet Intake,PACU Platelet Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,False
285,Platelets Count,227457,Platelet Count,Platelet Count,metavision,chartevents,Labs,None,Numeric with tag,NaN,True

In [140]:
d = D_LABITEMS[['platelet' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Platelets Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Platelets Count']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
92,Platelets Count,51240,Large Platelets,Blood,Hematology,34167-7,False
93,Platelets Count,51264,Platelet Clumps,Blood,Hematology,40741-1,False
94,Platelets Count,51265,Platelet Count,Blood,Hematology,777-3,False
95,Platelets Count,51266,Platelet Smear,Blood,Hematology,778-1,False

## SGOT-Serum Glutamic-Oxaloacetic Transaminse (ITEMID: 3801)

In [141]:
d = D_ITEMS[['got' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['SGOT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [3801] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'SGOT']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
286,SGOT,3801,SGOT,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True

## Total bilirubun (ITEMID: 848, 225690, 1538, 50885)

In [142]:
d = D_ITEMS[[' bili' in str(s).lower() or 'bilirubin' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Total bilirubun'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [848, 225690, 1538, 50885] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Total bilirubun']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
287,Total bilirubun,803,Direct Bili (0-0.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
288,Total bilirubun,848,Total Bili (0-1.5),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
289,Total bilirubun,1527,Direct Bili,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
290,Total bilirubun,1538,Total Bili,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
291,Total bilirubun,3765,Indirect Bili(0-1.0),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
292,Total bilirubun,4948,Bilirubin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
293,Total bilirubun,5469,lytes and bili,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
294,Total bilirubun,5970,"LYTES, BILI",NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
295,Total bilirubun,6001,Rebound bili,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
296,Total bilirubun,6016,Neo Bili,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
297,Total bilirubun,6052,"Neonatal bili, lytes",NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
298,Total bilirubun,6054,Neonatal bili,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
299,Total bilirubun,6067,Neonatal Bili & Lyts,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
300,Total bilirubun,6074,NEONATAL BILI,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
301,Total bilirubun,6165,LYTES AND BILI,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
302,Total bilirubun,44672,Drain #2 Bili,NaN,carevue,outputevents,NaN,NaN,NaN,NaN,False
303,Total bilirubun,225651,Direct Bilirubin,Direct Bilirubin,metavision,chartevents,Labs,None,Numeric,NaN,False
304,Total bilirubun,225690,Total Bilirubin,Total Bilirubin,metavision,chartevents,Labs,None,Numeric,NaN,True
305,Total bilirubun,226998,Bilirubin_ApacheIV,Bilirubin_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False

In [143]:
d = D_LABITEMS[['bili' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Total bilirubun'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [848, 225690, 1538, 50885] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Total bilirubun']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
96,Total bilirubun,50838,"Bilirubin, Total, Ascites",Ascites,Chemistry,14422-0,False
97,Total bilirubun,50883,"Bilirubin, Direct",Blood,Chemistry,1968-7,False
98,Total bilirubun,50884,"Bilirubin, Indirect",Blood,Chemistry,1971-1,False
99,Total bilirubun,50885,"Bilirubin, Total",Blood,Chemistry,1975-2,True
100,Total bilirubun,51012,"Bilirubin, Total, CSF",Cerebrospinal Fluid (CSF),Chemistry,1973-7,False
101,Total bilirubun,51028,"Bilirubin, Total, Body Fluid",Other Body Fluid,Chemistry,1974-5,False
102,Total bilirubun,51049,"Bilirubin, Total, Pleural",Pleural,Chemistry,14421-2,False
103,Total bilirubun,51096,Porphobilinogen Screen,Urine,Chemistry,2809-2,False
104,Total bilirubun,51464,Bilirubin,Urine,Hematology,5770-3,False
105,Total bilirubun,51465,Bilirubin Crystals,Urine,Hematology,5771-1,False
106,Total bilirubun,51514,Urobilinogen,Urine,Hematology,5818-0,False

## White Blood Cell Count (ITEMID: 861, 1542, 220546, 51301, 51300, 1127)

In [144]:
d = D_ITEMS[['white' in str(s).lower() or 'wbc' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['White Blood Cell Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [861, 1542, 220546, 51301, 51300, 1127] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'White Blood Cell Count']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
306,White Blood Cell Count,861,"WBC (4-11,000)",NaN,carevue,chartevents,Hematology,NaN,NaN,NaN,True
307,White Blood Cell Count,1127,"WBC (4-11,000)",NaN,carevue,chartevents,Hematology,NaN,NaN,NaN,True
308,White Blood Cell Count,1542,WBC,NaN,carevue,chartevents,Hematology,NaN,NaN,NaN,True
309,White Blood Cell Count,3834,WhiteBloodC 4.0-11.0,NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN,False
310,White Blood Cell Count,4200,WBC 4.0-11.0,NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN,False
311,White Blood Cell Count,220546,WBC,WBC,metavision,chartevents,Labs,None,Numeric,NaN,True
312,White Blood Cell Count,226779,WbcApacheIIScore,WbcApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
313,White Blood Cell Count,226780,WBCApacheIIValue,WBCApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN,False
314,White Blood Cell Count,227062,WBC_ApacheIV,WBC_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
315,White Blood Cell Count,227063,WBCScore_ApacheIV,WBCScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False

In [145]:
d = D_LABITEMS[['white' in str(s).lower() or 'wbc' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['White Blood Cell Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [861, 1542, 220546, 51301, 51300, 1127] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'White Blood Cell Count']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
107,White Blood Cell Count,51128,"WBC, Ascites",Ascites,Hematology,26468-9,False
108,White Blood Cell Count,51300,WBC Count,Blood,Hematology,26464-8,True
109,White Blood Cell Count,51301,White Blood Cells,Blood,Hematology,804-5,True
110,White Blood Cell Count,51363,"WBC, CSF",Cerebrospinal Fluid (CSF),Hematology,26465-5,False
111,White Blood Cell Count,51384,"WBC, Joint Fluid",Joint Fluid,Hematology,26469-7,False
112,White Blood Cell Count,51439,"WBC, Other Fluid",Other Body Fluid,Hematology,26466-3,False
113,White Blood Cell Count,51458,"WBC, Pleural",Pleural,Hematology,26467-1,False
114,White Blood Cell Count,51516,WBC,Urine,Hematology,5821-4,False
115,White Blood Cell Count,51517,WBC Casts,Urine,Hematology,5820-6,False
116,White Blood Cell Count,51518,WBC Clumps,Urine,Hematology,NaN,False
117,White Blood Cell Count,51533,WBCP,BLOOD,HEMATOLOGY,NaN,False

## Diastolic Blood Pressure (ITEMID: 224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440)

In [146]:
d = D_ITEMS[[('blood pressure' in str(s).lower() or 'bp' in str(s).lower()) and 'diastolic' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Diastolic Blood Pressure'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Diastolic Blood Pressure']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
316,Diastolic Blood Pressure,8364,ABP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
317,Diastolic Blood Pressure,8368,Arterial BP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
318,Diastolic Blood Pressure,8440,Manual BP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
319,Diastolic Blood Pressure,8441,NBP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
320,Diastolic Blood Pressure,8444,Orthostat BP sitting [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
321,Diastolic Blood Pressure,8445,OrthostatBP standing [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
322,Diastolic Blood Pressure,8446,Orthostatic BP lying [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
323,Diastolic Blood Pressure,8502,BP Cuff [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
324,Diastolic Blood Pressure,8503,BP Left Arm [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
325,Diastolic Blood Pressure,8504,BP Left Leg [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
326,Diastolic Blood Pressure,8505,BP PAL [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
327,Diastolic Blood Pressure,8506,BP Right Arm [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
328,Diastolic Blood Pressure,8507,BP Right Leg [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
329,Diastolic Blood Pressure,8508,BP UAC [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
330,Diastolic Blood Pressure,8555,Arterial BP #2 [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
331,Diastolic Blood Pressure,220051,Arterial Blood Pressure diastolic,ABPd,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
332,Diastolic Blood Pressure,220180,Non Invasive Blood Pressure diastolic,NBPd,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
333,Diastolic Blood Pressure,224643,Manual Blood Pressure Diastolic Left,Manual BPd L,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
334,Diastolic Blood Pressure,225310,ART BP Diastolic,ART BP Diastolic,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
335,Diastolic Blood Pressure,227242,Manual Blood Pressure Diastolic Right,Manual BPd R,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,False

## Systolic Blood Pressure (ITEMID: 442, 227243, 224167, 220179, 225309)

In [147]:
d = D_ITEMS[[('blood pressure' in str(s).lower() or 'bp' in str(s).lower())  and 'systolic' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Systolic Blood Pressure'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [442, 227243, 224167, 220179, 225309] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Systolic Blood Pressure']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
336,Systolic Blood Pressure,6,ABP [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
337,Systolic Blood Pressure,51,Arterial BP [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
338,Systolic Blood Pressure,442,Manual BP [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
339,Systolic Blood Pressure,455,NBP [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
340,Systolic Blood Pressure,480,Orthostat BP sitting [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
341,Systolic Blood Pressure,482,OrthostatBP standing [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
342,Systolic Blood Pressure,484,Orthostatic BP lying [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
343,Systolic Blood Pressure,3313,BP Cuff [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
344,Systolic Blood Pressure,3315,BP Left Arm [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
345,Systolic Blood Pressure,3317,BP Left Leg [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
346,Systolic Blood Pressure,3319,BP PAL [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
347,Systolic Blood Pressure,3321,BP Right Arm [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
348,Systolic Blood Pressure,3323,BP Right Leg [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
349,Systolic Blood Pressure,3325,BP UAC [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
350,Systolic Blood Pressure,6701,Arterial BP #2 [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
351,Systolic Blood Pressure,220050,Arterial Blood Pressure systolic,ABPs,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,False
352,Systolic Blood Pressure,220179,Non Invasive Blood Pressure systolic,NBPs,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
353,Systolic Blood Pressure,224167,Manual Blood Pressure Systolic Left,Manual BPs L,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
354,Systolic Blood Pressure,225309,ART BP Systolic,ART BP Systolic,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
355,Systolic Blood Pressure,227243,Manual Blood Pressure Systolic Right,Manual BPs R,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True

## Mean Blood Pressure (ITEMID: 456, 220181, 224, 225312, 220052, 52, 6702, 224322)

In [148]:
d = D_ITEMS[['blood pressure mean' in str(s).lower() or ('bp' in str(s).lower() and 'mean' in str(s).lower()) for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Mean Blood Pressure'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [456, 220181, 224, 225312, 220052, 52, 6702, 224322] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Mean Blood Pressure']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
356,Mean Blood Pressure,52,Arterial BP Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
357,Mean Blood Pressure,224,IABP Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
358,Mean Blood Pressure,443,Manual BP Mean(calc),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
359,Mean Blood Pressure,456,NBP Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
360,Mean Blood Pressure,2732,Femoral ABP (Mean),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
361,Mean Blood Pressure,3312,BP Cuff [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
362,Mean Blood Pressure,3314,BP Left Arm [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
363,Mean Blood Pressure,3316,BP Left Leg [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
364,Mean Blood Pressure,3318,BP PAL [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
365,Mean Blood Pressure,3320,BP Right Arm [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
366,Mean Blood Pressure,3322,BP Right Leg [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
367,Mean Blood Pressure,3324,BP UAC [Mean],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
368,Mean Blood Pressure,5731,FEMORAL ABP MEAN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
369,Mean Blood Pressure,6653,femoral abp mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
370,Mean Blood Pressure,6702,Arterial BP Mean #2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
371,Mean Blood Pressure,7618,BP Lt. leg Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
372,Mean Blood Pressure,7620,BP Rt. Arm Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
373,Mean Blood Pressure,7622,BP Rt. Leg Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
374,Mean Blood Pressure,220052,Arterial Blood Pressure mean,ABPm,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
375,Mean Blood Pressure,220181,Non Invasive Blood Pressure mean,NBPm,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True
376,Mean Blood Pressure,224322,IABP Mean,MAP - Assisted,metavision,chartevents,IABP,mmHg,Numeric,NaN,True
377,Mean Blood Pressure,225312,ART BP mean,ART BP mean,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,True

## PaCO2 - Partial pressure of carbon dioxide (ITEMID: 226062, 778, 220235, 50818)

In [149]:
d = D_ITEMS[['co2 pressure' in str(s).lower() or 'paco2' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PaCO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [226062, 778, 220235, 50818] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'PaCO2']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
378,PaCO2,778,Arterial PaCO2,NaN,carevue,chartevents,ABG,NaN,NaN,NaN,True
379,PaCO2,220235,Arterial CO2 Pressure,PCO2 (Arterial),metavision,chartevents,Labs,mmHg,Numeric,NaN,True
380,PaCO2,226062,Venous CO2 Pressure,PCO2 (Venous),metavision,chartevents,Labs,mmHg,Numeric,NaN,True
381,PaCO2,227038,PHPaCO2Score_ApacheIV,PHPaCO2Score_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False

In [150]:
d = D_LABITEMS[['co2' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PaCO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [226062, 778, 220235, 50818] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'PaCO2']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
118,PaCO2,50804,Calculated Total CO2,Blood,Blood Gas,34728-6,False
119,PaCO2,50818,pCO2,Blood,Blood Gas,11557-6,True
120,PaCO2,50830,"pCO2, Body Fluid",Other Body Fluid,Blood Gas,2023-0,False

## PaO2 - partial pressure of oxygen (ITEMID: 779)

In [151]:
d = D_ITEMS[['pao2' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PaO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [779] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'PaO2']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
382,PaO2,490,PAO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
383,PaO2,779,Arterial PaO2,NaN,carevue,chartevents,ABG,NaN,NaN,NaN,True

In [152]:
d = D_LABITEMS[['o2' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['PaO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [779] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'PaO2']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
121,PaO2,50804,Calculated Total CO2,Blood,Blood Gas,34728-6,False
122,PaO2,50815,O2 Flow,Blood,Blood Gas,3151-8,False
123,PaO2,50818,pCO2,Blood,Blood Gas,11557-6,False
124,PaO2,50821,pO2,Blood,Blood Gas,11556-8,False
125,PaO2,50823,Required O2,Blood,Blood Gas,NaN,False
126,PaO2,50830,"pCO2, Body Fluid",Other Body Fluid,Blood Gas,2023-0,False
127,PaO2,50832,"pO2, Body Fluid",Other Body Fluid,Blood Gas,2706-0,False

## FiO2 - fractional inspired oxygen (ITEMID: 189, 727, 223835)

In [153]:
d = D_ITEMS[['fio2' in str(s).lower() or 'inspired' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['FiO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [189, 727, 223835] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'FiO2']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
384,FiO2,185,FIO2 Alarm-High,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
385,FiO2,186,FIO2 Alarm-Low,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
386,FiO2,189,FiO2 (Analyzed),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
387,FiO2,190,FiO2 Set,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
388,FiO2,191,FiO2/O2 Delivered,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
389,FiO2,417,Inspired Gas Temp,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
390,FiO2,727,Vision FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
391,FiO2,1040,BIpap FIO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
392,FiO2,1206,HFO FIO2:,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
393,FiO2,1863,HFO-FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
394,FiO2,2518,HFO- FIO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
395,FiO2,2981,FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
396,FiO2,3420,FIO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
397,FiO2,3421,FIO2 Alarm [Low],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
398,FiO2,3422,FIO2 [Meas],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
399,FiO2,5955,Analyzed INOV FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
400,FiO2,7018,ecmo fio2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
401,FiO2,7041,vapotherm fio2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
402,FiO2,7570,FIO2 SET,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
403,FiO2,8517,FIO2 Alarm [High],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
404,FiO2,223835,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN,True
405,FiO2,223872,Inspired Gas Temp.,Inspired Gas Temp.,metavision,chartevents,Respiratory,?C,Numeric,NaN,False
406,FiO2,226754,FiO2ApacheIIValue,FiO2ApacheIIValue,metavision,chartevents,Scores - APACHE II,%,Numeric,NaN,False
407,FiO2,227009,FiO2_ApacheIV_old,FiO2_ApacheIV_old,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
408,FiO2,227010,FiO2_ApacheIV,FiO2_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),%,Numeric,NaN,False

## Respiratory Rate (ITEMID: 224422, 618, 220210, 224689, 614, 651, 224690, 615)

In [154]:
d = D_ITEMS[['respiratory rate' in str(s).lower() or ' rr' in str(s).lower() or 'resp rate' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Respiratory Rate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [224422, 618, 220210, 224689, 614, 651, 224690, 615] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Respiratory Rate']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
409,Respiratory Rate,614,Resp Rate (Spont),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
410,Respiratory Rate,615,Resp Rate (Total),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
411,Respiratory Rate,618,Respiratory Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
412,Respiratory Rate,619,Respiratory Rate Set,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
413,Respiratory Rate,651,Spon RR (Mech.),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
414,Respiratory Rate,1635,HIGH Resp Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
415,Respiratory Rate,1884,Spont Resp rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
416,Respiratory Rate,3142,high rr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
417,Respiratory Rate,3603,Resp Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
418,Respiratory Rate,5880,low rr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
419,Respiratory Rate,6106,High RR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
420,Respiratory Rate,6749,total RR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
421,Respiratory Rate,220210,Respiratory Rate,RR,metavision,chartevents,Respiratory,insp/min,Numeric,NaN,True
422,Respiratory Rate,224422,Spont RR,Spont RR,metavision,chartevents,Respiratory,bpm,Numeric,NaN,True
423,Respiratory Rate,224688,Respiratory Rate (Set),Respiratory Rate (Set),metavision,chartevents,Respiratory,insp/min,Numeric,NaN,False
424,Respiratory Rate,224689,Respiratory Rate (spontaneous),Respiratory Rate (spontaneous),metavision,chartevents,Respiratory,insp/min,Numeric,NaN,True
425,Respiratory Rate,224690,Respiratory Rate (Total),Respiratory Rate (Total),metavision,chartevents,Respiratory,insp/min,Numeric,NaN,True
426,Respiratory Rate,227860,Rest RR - Aerobic Capacity,Rest RR - Aerobic Capacity,metavision,chartevents,OT Notes,None,Numeric,NaN,False
427,Respiratory Rate,227866,Activity RR - Aerobic Capacity,Activity RR - Aerobic Capacity,metavision,chartevents,OT Notes,None,Numeric,NaN,False
428,Respiratory Rate,227872,Recovery RR - Aerobic Capacity,Recovery RR - Aerobic Capacity,metavision,chartevents,OT Notes,None,Numeric,NaN,False
429,Respiratory Rate,227918,Rest RR - Aerobic Activity Response,Rest RR - Aerobic Activity Response,metavision,chartevents,OT Notes,None,Numeric,NaN,False
430,Respiratory Rate,227925,Activity RR - Aerobic Activity Response,Activity RR - Aerobic Activity Response,metavision,chartevents,OT Notes,None,Numeric,NaN,False
431,Respiratory Rate,227932,Recovery RR - Aerobic Activity Response,Recovery RR - Aerobic Activity Response,metavision,chartevents,OT Notes,None,Numeric,NaN,False

## Temperature - Celsius (ITEMID: 223761, 677, 676, 679, 678, 223762)

In [155]:
d = D_ITEMS[['temperature' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Temperature'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [223761, 677, 676, 679, 678, 223762] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Temperature']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
432,Temperature,591,RLE [Temperature],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
433,Temperature,597,RUE [Temperature],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
434,Temperature,645,Skin [Temperature],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
435,Temperature,676,Temperature C,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
436,Temperature,677,Temperature C (calc),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
437,Temperature,678,Temperature F,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
438,Temperature,679,Temperature F (calc),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
439,Temperature,8537,"Temp/Iso/Warmer [Temperature, degrees C]",NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
440,Temperature,223761,Temperature Fahrenheit,Temperature F,metavision,chartevents,Routine Vital Signs,?F,Numeric,NaN,True
441,Temperature,223762,Temperature Celsius,Temperature C,metavision,chartevents,Routine Vital Signs,?C,Numeric,NaN,True
442,Temperature,224027,Skin Temperature,Skin Temp,metavision,chartevents,Skin - Assessment,NaN,Text,NaN,False
443,Temperature,224642,Temperature Site,Temp Site,metavision,chartevents,Routine Vital Signs,NaN,Text,NaN,False
444,Temperature,224674,Changes in Temperature,Changes in Temperature,metavision,chartevents,Toxicology,NaN,Text,NaN,False
445,Temperature,226329,Blood Temperature CCO (C),Blood Temp CCO (C),metavision,chartevents,Routine Vital Signs,?C,Numeric,NaN,False
446,Temperature,227054,TemperatureF_ApacheIV,TemperatureF_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),?F,Numeric,NaN,False
447,Temperature,228242,Pt. Temperature (BG) (SOFT),Pt. Temperature (BG) (SOFT),metavision,chartevents,Labs,None,Numeric,NaN,False

## Weight - kg (ITEMID: 226531, 763, 224639, 226512)

In [156]:
d = D_ITEMS[['weight' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Weight'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [226531, 763, 224639, 226512] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Weight']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
448,Weight,580,Previous Weight,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
449,Weight,581,Previous WeightF,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
450,Weight,733,Weight Change,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
451,Weight,763,Daily Weight,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
452,Weight,3580,Present Weight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
453,Weight,3581,Present Weight (lb),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
454,Weight,3582,Present Weight (oz),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
455,Weight,3583,Previous Weight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
456,Weight,3692,Weight Change (gms),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
457,Weight,3693,Weight Kg,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
458,Weight,3723,Birth Weight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
459,Weight,4183,Birthweight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
460,Weight,7000,ideal body weight,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
461,Weight,45271,Chucks Pad Weight,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
462,Weight,224639,Daily Weight,Daily Weight,metavision,chartevents,General,kg,Numeric,NaN,True
463,Weight,225124,Unintentional weight loss >10 lbs.,Unintentional weight loss >10 lbs.,metavision,chartevents,Adm History/FHPA,NaN,Checkbox,NaN,False
464,Weight,226512,Admission Weight (Kg),Admission Weight (Kg),metavision,chartevents,General,kg,Numeric,NaN,True
465,Weight,226531,Admission Weight (lbs.),Admission Weight (lbs.),metavision,chartevents,General,None,Numeric,NaN,True
466,Weight,226740,APACHE II Diagnosistic weight factors - Medical,Diagnostic weight category - Medical,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False
467,Weight,226741,APACHE II Diagnosistic weight factors - Surgic...,Diagnosistic weight categories - Surgical emer...,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False
468,Weight,226742,APACHE II Diagnosistic weight factors - Surgical,Diagnosistic weight categories - Surgical,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN,False
469,Weight,226846,Feeding Weight,Feeding Weight,metavision,chartevents,General,kg,Numeric,NaN,False
470,Weight,227854,Weight Bearing Status,Weight Bearing Status,metavision,chartevents,OT Notes,NaN,Text,NaN,False

## Heart Rate (ITEMID: 211, 220045)

In [157]:
d = D_ITEMS[['heart rate' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Heart Rate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [211, 220045] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Heart Rate']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
471,Heart Rate,211,Heart Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
472,Heart Rate,3494,Lowest Heart Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
473,Heart Rate,220045,Heart Rate,HR,metavision,chartevents,Routine Vital Signs,bpm,Numeric,NaN,True
474,Heart Rate,220046,Heart rate Alarm - High,HR Alarm - High,metavision,chartevents,Alarms,bpm,Numeric,NaN,False
475,Heart Rate,220047,Heart Rate Alarm - Low,HR Alarm - Low,metavision,chartevents,Alarms,bpm,Numeric,NaN,False

## SpO2 - Oxygen Saturation (ITEMID: 646, 50817, 834, 220277)

In [158]:
d = D_ITEMS[['o2' in str(s).lower() and ('sa' in str(s).lower() or 'sp' in str(s).lower()) for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['SpO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [646, 50817, 834, 220277] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'SpO2']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
476,SpO2,646,SpO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,True
477,SpO2,823,Mixed Venous O2% Sat,NaN,carevue,chartevents,Blood Gases,NaN,NaN,NaN,False
478,SpO2,834,SaO2,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN,True
479,SpO2,2396,MIVED VENOUS O2 SAT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
480,SpO2,2574,MVO2 SAT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
481,SpO2,2767,Mixed Venous SaO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
482,SpO2,2842,JV O2 Sat,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
483,SpO2,2933,SVO2 SAT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
484,SpO2,2955,JVO2 SAT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
485,SpO2,3288,O2 sat [Pre],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
486,SpO2,3495,Lowest SaO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
487,SpO2,3545,O2 Sat W/Seizure,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
488,SpO2,3609,SaO2 Alarm [Low],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
489,SpO2,4833,SaO2 (post),NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
490,SpO2,5501,O2 sat probe change,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
491,SpO2,5505,O2 sat probe site,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
492,SpO2,5636,2nd O2 Sat,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
493,SpO2,5820,SpO2 Alarm [Low],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
494,SpO2,5896,VEN0US O2 SAT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
495,SpO2,6024,venous o2 sat,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
496,SpO2,6254,Post-Ductal SaO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
497,SpO2,6719,SpO2-L,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
498,SpO2,7293,VENOUS O2 SAT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
499,SpO2,7440,walking o2 sat,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
500,SpO2,8208,Postductal O2 Sat,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
501,SpO2,8209,Preductal O2 Sat,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
502,SpO2,8498,O2 sat [Post],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
503,SpO2,8532,SaO2 Alarm [High],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
504,SpO2,8554,SpO2 Alarm [High],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
505,SpO2,220227,Arterial O2 Saturation,SaO2,metavision,chartevents,Labs,%,Numeric,NaN,False
506,SpO2,220277,O2 saturation pulseoxymetry,SpO2,metavision,chartevents,Respiratory,%,Numeric,NaN,True
507,SpO2,223769,O2 Saturation Pulseoxymetry Alarm - High,SpO2 Alarm - High,metavision,chartevents,Alarms,%,Numeric,NaN,False
508,SpO2,223770,O2 Saturation Pulseoxymetry Alarm - Low,SpO2 Alarm - Low,metavision,chartevents,Alarms,%,Numeric,NaN,False
509,SpO2,223835,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN,False
510,SpO2,224719,SaO2 < 90% > 2 min,SaO2 < 90% > 2 min,metavision,chartevents,Respiratory,NaN,Text,NaN,False
511,SpO2,225674,Mixed Venous O2% Sat,Mixed Venous O2% Sat,metavision,chartevents,Labs,%,Numeric,NaN,False
512,SpO2,226253,SpO2 Desat Limit,SpO2 Desat Limit,metavision,chartevents,Alarms,%,Numeric,NaN,False
513,SpO2,226541,ScvO2 Central Venous O2% Sat,ScvO2 Central Venous O2% Sat,metavision,chartevents,Labs,None,Numeric,NaN,False
514,SpO2,226860,RA %O2 Saturation (PA Line),RA %O2 Saturation (PA Line),metavision,chartevents,PA Line Insertion,%,Numeric,NaN,False
515,SpO2,226861,ART %O2 saturation (PA Line),ART %O2 saturation (PA Line),metavision,chartevents,PA Line Insertion,%,Numeric,NaN,False
516,SpO2,226862,PA %O2 Saturation (PA Line),PA %O2 Saturation (PA Line),metavision,chartevents,PA Line Insertion,%,Numeric,NaN,False
517,SpO2,226863,PVR %O2 Saturation (PA Line),PVR %O2 Saturation (PA Line),metavision,chartevents,PA Line Insertion,dynes*sec/cm5,Numeric,NaN,False
518,SpO2,226865,SVR %O2 Saturation (PA Line),SVR %O2 Saturation (PA Line),metavision,chartevents,PA Line Insertion,dynes*sec/cm5,Numeric,NaN,False
519,SpO2,227685,ZCentral Venous O2% Sat,ZCentral Venous O2% Sat,metavision,chartevents,Labs,None,Numeric,NaN,False
520,SpO2,227686,Central Venous O2% Sat,Central Venous O2% Sat,metavision,chartevents,Labs,%,Numeric,NaN,False
521,SpO2,227861,Rest O2 Sat - Aerobic Capacity,Rest O2 Sat - Aerobic Capacity,metavision,chartevents,OT Notes,%,Numeric,NaN,False
522,SpO2,227867,Activity O2 Sat - Aerobic Capacity,Activity O2 Sat - Aerobic Capacity,metavision,chartevents,OT Notes,%,Numeric,NaN,False
523,SpO2,227873,Recovery O2 Sat - Aerobic Capacity,Recovery O2 Sat - Aerobic Capacity,metavision,chartevents,OT Notes,%,Numeric,NaN,False
524,SpO2,227919,Rest O2 Sat - Aerobic Activity Response,Rest O2 Sat - Aerobic Activity Response,metavision,chartevents,OT Notes,%,Numeric,NaN,False
525,SpO2,227926,Activity O2 sat - Aerobic Activity Response,Activity O2 sat - Aerobic Activity Response,metavision,chartevents,OT Notes,%,Numeric,NaN,False
526,SpO2,227933,Recovery O2 sat - Aerobic Activity Response,Recovery O2 sat - Aerobic Activity Response,metavision,chartevents,OT Notes,%,Numeric,NaN,False

In [159]:
d = D_LABITEMS.query("ITEMID == 50817").iloc[:, 2:]
d['feature'] = ['SpO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [646, 50817, 834, 220277] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'SpO2']

    feature ITEMID              LABEL  FLUID   CATEGORY LOINC_CODE CHOOSE
128    SpO2  50817  Oxygen Saturation  Blood  Blood Gas    20564-1   True

## Chloride (ITENID: 50806, 220602, 226536, 1523, 788, 50902)

In [160]:
d = D_ITEMS[['chloride' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Chloride'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
d['CHOOSE'][d[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Chloride']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
527,Chloride,788,Chloride (100-112),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
528,Chloride,1523,Chloride,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,True
529,Chloride,3578,Potassium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
530,Chloride,3624,Sodium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
531,Chloride,3747,Chloride (100-112),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN,False
532,Chloride,4193,ABG Chloride,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN,False
533,Chloride,5753,Calcium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
534,Chloride,30022,Calcium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
535,Chloride,30296,Sodium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
536,Chloride,30297,Potassium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
537,Chloride,30300,Calcium Chloride 10%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
538,Chloride,41807,Calcium chloride IVP,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
539,Chloride,43826,HYDROCHLORIDE ACID G,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN,False
540,Chloride,220602,Chloride (serum),Chloride (serum),metavision,chartevents,Labs,None,Numeric,NaN,True
541,Chloride,225166,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,False
542,Chloride,226536,Chloride (whole blood),Chloride (whole blood),metavision,chartevents,Labs,None,Numeric,NaN,True
543,Chloride,227520,Methadone Hydrochloride,Methadone Hydrochloride,metavision,inputevents_mv,Medications,mg,Solution,NaN,False
544,Chloride,228385,Chloride (serum) (soft),Chloride (serum) (soft),metavision,chartevents,Labs,None,Numeric with tag,NaN,False
545,Chloride,228386,Chloride (whole blood) (soft),Chloride (whole blood) (soft),metavision,chartevents,Labs,None,Numeric with tag,NaN,False

In [161]:
d = D_LABITEMS[['chloride' in str(s).lower() for s in D_LABITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Chloride'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'CHOOSE']]
d['CHOOSE'][d[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in d['ITEMID']]].index] = True
lab_feature = pd.concat([lab_feature, d], ignore_index=True)
lab_feature[lab_feature['feature'] == 'Chloride']

,feature,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE,CHOOSE
129,Chloride,50806,"Chloride, Whole Blood",Blood,Blood Gas,2069-3,True
130,Chloride,50839,"Chloride, Ascites",Ascites,Chemistry,33366-6,False
131,Chloride,50902,Chloride,Blood,Chemistry,2075-0,True
132,Chloride,51013,"Chloride, CSF",Cerebrospinal Fluid (CSF),Chemistry,NaN,False
133,Chloride,51030,"Chloride, Body Fluid",Other Body Fluid,Chemistry,2072-7,False
134,Chloride,51050,"Chloride, Pleural",Pleural,Chemistry,53627-6,False
135,Chloride,51062,"Chloride, Stool",Stool,Chemistry,15158-9,False
136,Chloride,51078,"Chloride, Urine",Urine,Chemistry,2078-4,False

## Mechanical Ventilation (ITEMID: 225792, 225794)

In [98]:
D_ITEMS[['ventilation' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
10592,12438,13682,225303,Mask Ventilation (Intubation),Mask Ventilation (Intubation),metavision,chartevents,Intubation,NaN,Text,NaN
10932,10213,13977,225792,Invasive Ventilation,Invasive Ventilation,metavision,procedureevents_mv,2-Ventilation,None,Process,NaN
10933,10214,13978,225794,Non-invasive Ventilation,Non-invasive Ventilation,metavision,procedureevents_mv,2-Ventilation,None,Process,NaN

In [99]:
PROCEDUREEVENTS_MV[PROCEDUREEVENTS_MV['ITEMID'] == 225792]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
23,402,31608,152365,237055.0,2133-01-10 01:00:00,2133-02-03 12:37:00,225792,35257.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
89,4,30354,120396,243526.0,2154-12-24 12:06:00,2154-12-26 17:00:00,225792,3174.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
142,57,18082,181163,267692.0,2156-02-24 11:38:00,2156-02-27 14:00:00,225792,4462.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,Stopped,NaN,NaN,NaN
188,103,27143,189921,258818.0,2189-12-09 13:00:00,2189-12-14 13:34:00,225792,7234.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257948,257760,45910,153970,249864.0,2197-10-25 19:40:00,2197-10-26 17:05:00,225792,1285.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257983,254925,50532,111610,237192.0,2195-10-15 18:15:00,2195-10-16 14:10:00,225792,1195.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257997,254939,53919,154799,256370.0,2141-08-03 18:50:00,2141-08-04 13:45:00,225792,1135.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258014,255151,94220,108129,204300.0,2170-07-27 11:44:00,2170-07-27 19:35:00,225792,471.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258060,257336,41958,182711,246007.0,2155-08-09 01:49:00,2155-08-10 09:42:00,225792,1913.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

In [100]:
PROCEDUREEVENTS_MV[PROCEDUREEVENTS_MV['ITEMID'] == 225794]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
159,74,18082,181163,267692.0,2156-02-27 14:45:00,2156-02-29 06:58:00,225794,2413.0,hour,NaN,...,Ventilation,NaN,Task,1,0,2,Rewritten,RN,NaN,2156-02-29 12:59:00
160,75,18082,181163,267692.0,2156-02-27 14:45:00,2156-02-29 06:57:00,225794,2412.0,hour,NaN,...,Ventilation,NaN,Task,0,0,0,Rewritten,NaN,NaN,NaN
161,76,18082,181163,267692.0,2156-02-27 14:45:00,2156-02-29 07:00:00,225794,2415.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
162,77,18082,181163,267692.0,2156-02-29 08:30:00,2156-03-02 00:45:00,225794,2415.0,hour,NaN,...,Ventilation,NaN,Task,0,0,0,Rewritten,NaN,NaN,NaN
163,78,18082,181163,267692.0,2156-02-29 08:30:00,2156-02-29 08:32:00,225794,2.0,hour,NaN,...,Ventilation,NaN,Task,0,0,2,Rewritten,RN,NaN,2156-02-29 12:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257761,257714,62239,191607,298236.0,2145-10-14 10:30:00,2145-10-14 13:05:00,225794,155.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257888,255132,55781,186666,208138.0,2193-08-30 15:29:00,2193-08-31 12:20:00,225794,1251.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257918,257217,61106,136735,289579.0,2129-09-26 22:00:00,2129-09-27 08:16:00,225794,616.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257936,257748,84120,102591,269805.0,2136-09-21 14:33:00,2136-09-22 07:55:00,225794,1042.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257990,254932,50532,111610,237192.0,2195-10-17 21:32:00,2195-10-18 14:49:00,225794,1037.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

## Dopamine (ITEMID: )

In [162]:
d = D_ITEMS[['dopamine' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Dopamine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
# d['CHOOSE'][d[[id in [] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Dopamine']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
546,Dopamine,4501,DOPAMINE DRIP,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
547,Dopamine,5329,Dopamine,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
548,Dopamine,5805,DOPAMINE MICS/KG/MIN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
549,Dopamine,30043,Dopamine,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
550,Dopamine,30307,Dopamine Drip,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
551,Dopamine,221662,Dopamine,Dopamine,metavision,inputevents_mv,Medications,mg,Solution,NaN,False

## epinephrine (ITEMID: )

In [163]:
d = D_ITEMS[['epinephrine' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Epinephrine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
# d['CHOOSE'][d[[id in [] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Epinephrine']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
552,Epinephrine,3112,epinephrine mcg/min,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
553,Epinephrine,30044,Epinephrine,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
554,Epinephrine,30119,Epinephrine-k,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
555,Epinephrine,30309,Epinephrine Drip,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN,False
556,Epinephrine,221289,Epinephrine,Epinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN,False
557,Epinephrine,221906,Norepinephrine,Norepinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN,False

## urine (mL/day) (ITEMID: )

In [164]:
d = D_ITEMS[['urine' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:, 2:]
d['feature'] = ['Urine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID', 'CHOOSE']]
# d['CHOOSE'][d[[id in [] for id in d['ITEMID']]].index] = True
feature = pd.concat([feature, d], ignore_index=True)
feature[feature['feature'] == 'Urine']

,feature,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,CHOOSE
558,Urine,706,Urine [Color],NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
559,Urine,707,Urine Source,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
560,Urine,941,urine culture,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
561,Urine,1011,urine osmolarity,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
562,Urine,1352,urine pH,NaN,carevue,chartevents,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
709,Urine,226631,PACU Urine,PACU Urine,metavision,outputevents,Output,mL,Numeric,NaN,False
710,Urine,227059,UrineScore_ApacheIV,UrineScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False
711,Urine,227471,Specific Gravity (urine),Specific Gravity (urine),metavision,chartevents,Labs,None,Numeric with tag,NaN,False
712,Urine,227489,GU Irrigant/Urine Volume Out,GU Irrigant/Urine Volume Out,metavision,outputevents,Output,mL,Numeric,NaN,False
713,Urine,227519,Urine output_ApacheIV,Urine output,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN,False

## Output characteristics choose

In [165]:
feature.to_csv('../data/mimiciii/D_ITEMS_feature.csv', index=False)

In [166]:
lab_feature.to_csv('../data/mimiciii/D_LABITEMS_feature.csv', index=False)