## Import package

In [1]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict
from tqdm import tqdm

pd.options.mode.chained_assignment = None

In [2]:
prefix_path = '../data/mimiciii/1.4/'

## Load Data

In [4]:
paths = sorted(os.listdir(prefix_path))
remove_paths = []
for path in paths:
    if path[-4:] != '.csv':
        remove_paths.append(path)
for path in remove_paths:
    paths.remove(path)
paths

['ADMISSIONS.csv',
 'CALLOUT.csv',
 'CAREGIVERS.csv',
 'CHARTEVENTS1.csv',
 'CHARTEVENTS2.csv',
 'CHARTEVENTS3.csv',
 'CHARTEVENTS4.csv',
 'CHARTEVENTS5.csv',
 'CHARTEVENTS6.csv',
 'CHARTEVENTS7.csv',
 'CHARTEVENTS8.csv',
 'CHARTEVENTS9.csv',
 'CPTEVENTS.csv',
 'DATETIMEEVENTS.csv',
 'DIAGNOSES_ICD.csv',
 'DIAGNOSES_ICD_FULL.csv',
 'DRGCODES.csv',
 'D_CPT.csv',
 'D_ICD_DIAGNOSES.csv',
 'D_ICD_DIAGNOSES_FULL.csv',
 'D_ICD_PROCEDURES.csv',
 'D_ITEMS.csv',
 'D_LABITEMS.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_CV.csv',
 'INPUTEVENTS_MV.csv',
 'LABEVENTS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'NOTEEVENTS.csv',
 'OUTPUTEVENTS.csv',
 'PATIENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDUREEVENTS_MV.csv',
 'PROCEDURES_ICD.csv',
 'SERVICES.csv',
 'TRANSFERS.csv']

In [5]:
datas = []
for path in tqdm(paths):
    datas.append(pd.read_csv(prefix_path + path))

  0%|                                                                                                                                                                               | 0/36 [00:00<?, ?it/s]/tmp/ipykernel_222022/136570088.py:3: DtypeWarning: Columns (10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 19%|████████████████████████████████▍                                                                                                                                      | 7/36 [00:22<01:47,  3.71s/it]/tmp/ipykernel_222022/136570088.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 25%|█████████████████████████████████████████▊                                                                                                                             | 9/36 [00:33<02:03,  4.58s/it]/tmp/ipykernel_222022/136570088.py:3: DtypeWarning: Columns (10,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 33%|███████████████████████████████████████████████████████▎                                                                                                              | 12/36 [00:50<01:55,  4.80s/it]/tmp/ipykernel_222022/136570088.py:3: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 36%|███████████████████████████████████████████████████████████▉                                                                                                          | 13/36 [00:50<01:19,  3.45s/it]/tmp/ipykernel_222022/136570088.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 56%|████████████████████████████████████████████████████████████████████████████████████████████▏                                                                         | 20/36 [00:53<00:15,  1.07it/s]/tmp/ipykernel_222022/136570088.py:3: DtypeWarning: Columns (8,10,18,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 36/36 [01:07<00:00,  1.89s/it]

# Look Data characteristics

In [6]:
i = paths.index('ADMISSIONS.csv')
ADMISSIONS = datas[i].copy()
ADMISSIONS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,19,40,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,LONG TERM CARE HOSPITAL,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,ACUTE MYOCARDIAL INFARCTION-SEPSIS,0,1
1,23,457,357,145674,2198-08-02 04:49:00,2198-10-26 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-08-02 02:03:00,2198-08-02 05:37:00,SEIZURE,0,1
2,24,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-11-01 18:01:00,2198-11-01 23:06:00,SEPSIS,0,1
3,37,471,366,134462,2164-11-18 20:27:00,2164-11-22 15:18:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,SINGLE,HISPANIC OR LATINO,2164-11-18 10:52:00,2164-11-18 21:31:00,SEPSIS,0,1
4,63,61,61,189535,2119-01-04 18:12:00,2119-02-03 01:35:00,2119-02-03 01:35:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Private,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,NON-HODGKINS LYMPHOMA;FEBRILE;NEUTROPENIA,1,1

In [7]:
i = paths.index('CALLOUT.csv')
CALLOUT = datas[i].copy()
CALLOUT.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SUBMIT_WARDID,SUBMIT_CAREUNIT,CURR_WARDID,CURR_CAREUNIT,CALLOUT_WARDID,CALLOUT_SERVICE,REQUEST_TELE,...,CALLOUT_STATUS,CALLOUT_OUTCOME,DISCHARGE_WARDID,ACKNOWLEDGE_STATUS,CREATETIME,UPDATETIME,ACKNOWLEDGETIME,OUTCOMETIME,FIRSTRESERVATIONTIME,CURRENTRESERVATIONTIME
0,402,854,175684,52.0,NaN,29.0,MICU,1,MED,0,...,Inactive,Discharged,29.0,Acknowledged,2146-10-05 13:16:55,2146-10-05 13:16:55,2146-10-05 13:24:00,2146-10-05 18:55:22,2146-10-05 15:27:44,NaN
1,403,864,138624,15.0,NaN,55.0,CSRU,55,CSURG,0,...,Inactive,Discharged,55.0,Acknowledged,2114-11-28 08:31:39,2114-11-28 09:42:08,2114-11-28 09:43:08,2114-11-28 12:10:02,NaN,NaN
2,404,864,138624,12.0,NaN,55.0,CSRU,55,CSURG,1,...,Inactive,Discharged,55.0,Acknowledged,2114-11-30 10:24:25,2114-12-01 09:06:18,2114-12-01 12:26:05,2114-12-01 21:55:05,NaN,NaN
3,405,867,184298,7.0,NaN,17.0,CCU,17,CCU,1,...,Inactive,Discharged,17.0,Acknowledged,2136-12-29 08:45:42,2136-12-29 10:17:16,2136-12-29 10:33:51,2136-12-29 18:10:02,NaN,NaN
4,157,306,167129,57.0,NaN,3.0,SICU,44,NSURG,1,...,Inactive,Discharged,3.0,Acknowledged,2199-09-18 11:47:47,2199-09-18 11:47:47,2199-09-18 11:58:33,2199-09-18 15:10:02,NaN,NaN

In [8]:
i = paths.index('CAREGIVERS.csv')
CAREGIVERS = datas[i].copy()
CAREGIVERS.head()

   ROW_ID   CGID LABEL            DESCRIPTION
0    2228  16174    RO              Read Only
1    2229  16175    RO              Read Only
2    2230  16176   Res  Resident/Fellow/PA/NP
3    2231  16177    RO              Read Only
4    2232  16178    RT            Respiratory

In [9]:
i = paths.index('CPTEVENTS.csv')
CPTEVENTS = datas[i].copy()
CPTEVENTS.head()

,ROW_ID,SUBJECT_ID,HADM_ID,COSTCENTER,CHARTDATE,CPT_CD,CPT_NUMBER,CPT_SUFFIX,TICKET_ID_SEQ,SECTIONHEADER,SUBSECTIONHEADER,DESCRIPTION
0,317,11743,129545,ICU,NaN,99232,99232.0,NaN,6.0,Evaluation and management,Hospital inpatient services,NaN
1,318,11743,129545,ICU,NaN,99232,99232.0,NaN,7.0,Evaluation and management,Hospital inpatient services,NaN
2,319,11743,129545,ICU,NaN,99232,99232.0,NaN,8.0,Evaluation and management,Hospital inpatient services,NaN
3,320,11743,129545,ICU,NaN,99232,99232.0,NaN,9.0,Evaluation and management,Hospital inpatient services,NaN
4,321,6185,183725,ICU,NaN,99223,99223.0,NaN,1.0,Evaluation and management,Hospital inpatient services,NaN

In [10]:
i = paths.index('D_ICD_PROCEDURES.csv')
D_ICD_PROCEDURES = datas[i].copy()
D_ICD_PROCEDURES

,Unnamed: 0,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,325,137,1,Ther ult head & neck ves,Therapeutic ultrasound of vessels of head and ...
1,326,138,2,Ther ultrasound of heart,Therapeutic ultrasound of heart
2,327,139,3,Ther ult peripheral ves,Therapeutic ultrasound of peripheral vascular ...
3,328,140,9,Other therapeutic ultsnd,Other therapeutic ultrasound
4,329,141,10,Implant chemothera agent,Implantation of chemotherapeutic agent
...,...,...,...,...,...
3877,3386,3466,9995,Stretching of foreskin,Stretching of foreskin
3878,3387,3467,9996,Sperm collection,Collection of sperm for artificial insemination
3879,3388,3468,9997,Denture fitting,Fitting of denture
3880,3389,3469,9998,Milk extraction,Extraction of milk from lactating breast
3881,3390,3470,9999,Miscellaneous proc NEC,Other miscellaneous procedures

In [11]:
i = paths.index('D_ICD_DIAGNOSES.csv')
D_ICD_DIAGNOSES = datas[i].copy()
D_ICD_DIAGNOSES

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,0,9049,9049,9050,77181,NB septicemia [sepsis],Septicemia [sepsis] of newborn
1,1,10304,10304,11403,99591,Sepsis,Sepsis
2,2,10305,10305,11404,99592,Severe sepsis,Severe sepsis
3,3,13293,13293,13564,67020,Puerperal sepsis-unsp,"Puerperal sepsis, unspecified as to episode of..."
4,4,13294,13294,13565,67022,Puerprl sepsis-del w p/p,"Puerperal sepsis, delivered, with mention of p..."
5,5,13295,13295,13566,67024,Puerperl sepsis-postpart,"Puerperal sepsis, postpartum condition or comp..."

In [12]:
i = paths.index('DIAGNOSES_ICD.csv')
datas[i].sort_values(by=['SUBJECT_ID', 'SEQ_NUM'], inplace=True)
DIAGNOSES_ICD = datas[i].copy()
DIAGNOSES_ICD

      Unnamed: 0  ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0            747     140          21   111970     11.0      99592
1            914     307          38   185910      3.0      99592
2           1084     477          61   189535      8.0      99591
3           1097     490          62   116009      4.0      99591
4            276     505          64   172056      3.0      99591
...          ...     ...         ...      ...      ...        ...
5404      648640  650341       99836   101018      8.0      99592
5405      649024  650470       99865   189346      4.0      99592
5406      649529  650720       99912   189380      8.0      99592
5407      648171  650990       99985   176670      7.0      99592
5408      648182  651001       99991   151118      5.0      99592

[5409 rows x 6 columns]

In [13]:
i = paths.index('ICUSTAYS.csv')
ICUSTAYS = datas[i].copy()
ICUSTAYS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
1,7,372,275,129886,219649,carevue,CCU,CCU,7,7,2170-10-07 11:28:53,2170-10-14 14:38:07,7.1314
2,45,410,305,194340,217232,metavision,SICU,SICU,33,33,2129-09-03 12:31:31,2129-09-05 23:00:50,2.4370
3,67,432,323,143334,264375,carevue,MICU,MICU,23,23,2120-01-11 15:48:28,2120-01-14 16:24:43,3.0252
4,74,439,329,172132,217001,carevue,MICU,MICU,50,50,2154-04-05 16:36:51,2154-04-08 18:14:48,3.0680

In [14]:
i = paths.index('PATIENTS.csv')
PATIENTS = datas[i].copy()
PATIENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
1,18,252,269,M,2130-09-30 00:00:00,NaN,NaN,NaN,0
2,40,646,685,F,2126-07-29 00:00:00,NaN,NaN,NaN,0
3,44,650,689,F,2128-12-27 00:00:00,NaN,NaN,NaN,0
4,45,651,690,M,2109-09-24 00:00:00,2189-07-30 00:00:00,2189-07-30 00:00:00,2189-07-30 00:00:00,1

In [15]:
i = paths.index('INPUTEVENTS_CV.csv')
INPUTEVENTS_CV = datas[i].copy()
INPUTEVENTS_CV.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,5257,7534,13168,182334.0,266561.0,2185-10-20 10:00:00,30056,120.0,ml,NaN,...,9164547,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,5258,7535,13168,182334.0,266561.0,2185-10-20 12:00:00,30056,150.0,ml,NaN,...,3692841,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,5259,7536,13168,182334.0,266561.0,2185-10-20 16:00:00,30056,100.0,ml,NaN,...,10641024,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,5260,7537,13168,182334.0,266561.0,2185-10-20 21:00:00,30056,100.0,ml,NaN,...,11331457,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,5261,7538,13168,182334.0,266561.0,2185-10-20 23:00:00,30056,60.0,ml,NaN,...,10791487,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [16]:
i = paths.index('INPUTEVENTS_CV.csv')
INPUTEVENTS_MV = datas[i].copy()
INPUTEVENTS_MV.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,5257,7534,13168,182334.0,266561.0,2185-10-20 10:00:00,30056,120.0,ml,NaN,...,9164547,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,5258,7535,13168,182334.0,266561.0,2185-10-20 12:00:00,30056,150.0,ml,NaN,...,3692841,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,5259,7536,13168,182334.0,266561.0,2185-10-20 16:00:00,30056,100.0,ml,NaN,...,10641024,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,5260,7537,13168,182334.0,266561.0,2185-10-20 21:00:00,30056,100.0,ml,NaN,...,11331457,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,5261,7538,13168,182334.0,266561.0,2185-10-20 23:00:00,30056,60.0,ml,NaN,...,10791487,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [17]:
i = paths.index('OUTPUTEVENTS.csv')
OUTPUTEVENTS = datas[i].copy()
OUTPUTEVENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR
0,63427,70086,13168,182334.0,266561.0,2185-10-23 06:30:00,40055,40.0,ml,2185-10-23 06:45:00,14442,NaN,NaN,NaN
1,63428,70087,13168,182334.0,266561.0,2185-10-23 08:00:00,40055,60.0,ml,2185-10-23 08:12:00,21570,NaN,NaN,NaN
2,63429,70088,13168,182334.0,266561.0,2185-10-23 09:00:00,40055,18.0,ml,2185-10-23 09:38:00,21570,NaN,NaN,NaN
3,63430,70089,13168,182334.0,266561.0,2185-10-23 11:00:00,40055,150.0,ml,2185-10-23 11:12:00,21570,NaN,NaN,NaN
4,63431,70090,13168,182334.0,266561.0,2185-10-23 15:00:00,40055,180.0,ml,2185-10-23 15:07:00,21570,NaN,NaN,NaN

In [18]:
i = paths.index('D_ITEMS.csv')
D_ITEMS = datas[i].copy()
D_ITEMS.head()

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,290,27,1,% Inspir. Time,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,291,28,2,ABI (L),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,292,29,3,ABI (R),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,293,30,4,ABI Ankle BP [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,294,31,5,ABI Brachial BP [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [19]:
i = paths.index('D_LABITEMS.csv')
D_LABITEMS = datas[i].copy()
D_LABITEMS.head()

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,127,1,50800,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
1,128,2,50801,Alveolar-arterial Gradient,Blood,Blood Gas,19991-9
2,129,3,50802,Base Excess,Blood,Blood Gas,11555-0
3,130,4,50803,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,1959-6
4,131,5,50804,Calculated Total CO2,Blood,Blood Gas,34728-6

In [20]:
i = paths.index('DRGCODES.csv')
DRGCODES = datas[i].copy()
DRGCODES.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,2895,2861,9102,154215,HCFA,385,"NEONATES, DIED OR TRANSFERRED TO ANOTHER ACUTE...",NaN,NaN
1,2967,2933,20617,178293,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
2,3053,3019,14831,160882,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
3,3764,3027,15204,168396,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
4,4396,4357,5424,157250,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN

In [21]:
i = paths.index('LABEVENTS.csv')
LABEVENTS = datas[i].copy()
LABEVENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,10085,10440,21,111970.0,51279,2135-02-03 05:04:00,2.81,2.81,m/uL,abnormal
1,10086,10441,21,111970.0,51301,2135-02-03 05:04:00,26.8,26.80,K/uL,abnormal
2,10087,10442,21,111970.0,50800,2135-02-03 05:13:00,MIX,NaN,NaN,NaN
3,10088,10443,21,111970.0,50813,2135-02-03 05:13:00,2.6,2.60,mmol/L,abnormal
4,10089,10444,21,111970.0,50817,2135-02-03 05:13:00,56,56.00,%,NaN

In [22]:
i = paths.index('PRESCRIPTIONS.csv')
PRESCRIPTIONS = datas[i].copy()
PRESCRIPTIONS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,435,1390475,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,BASE,NS (Mini Bag Plus),NaN,NaN,NS/MBP100I,001210,338055318.0,100mL Bag,100,ml,1,BAG,IV
1,436,1389751,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,MAIN,Levothyroxine Sodium,Levothyroxine Sodium,Levothyroxine Sodium,LEVO50,006649,74455211.0,50mcg Tablet,50,mcg,1,TAB,PO
2,437,1379358,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,MAIN,Meropenem,NaN,NaN,MERO500I,026488,310032520.0,500mg Vial,500,mg,1,VIAL,IV
3,438,1390474,21,111970,216859.0,2135-01-31 00:00:00,2135-02-01 00:00:00,BASE,SW,NaN,NaN,KCLBASE2,NaN,0.0,50ml Bag,100,ml,100,ml,IV
4,439,1390472,21,111970,216859.0,2135-01-31 00:00:00,2135-02-01 00:00:00,BASE,Iso-Osmotic Dextrose,NaN,NaN,VANCOBASE,NaN,0.0,200ml Bag,200,ml,200,ml,IV

In [23]:
i = paths.index('PROCEDUREEVENTS_MV.csv')
PROCEDUREEVENTS_MV = datas[i].copy()
PROCEDUREEVENTS_MV

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,379,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
1,380,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225454,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
3,382,29070,115071,232563.0,2145-03-12 23:36:00,2145-03-12 23:37:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
4,383,29070,115071,232563.0,2145-03-13 01:27:00,2145-03-16 16:00:00,224560,5193.0,min,Right IJ,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258061,257337,41958,182711,246007.0,2155-08-09 01:51:00,2155-08-10 11:20:00,225204,2009.0,min,Right Antecube,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258062,257338,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
258063,257339,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
258064,257340,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225966,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,1,Rewritten,NaN,RN,2155-08-09 02:20:00
258065,257341,41958,182711,246007.0,2155-08-09 02:20:00,2155-08-09 02:21:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN

In [24]:
i = paths.index('CHARTEVENTS1.csv')
CHARTEVENTS1 = datas[i].copy()
CHARTEVENTS2 = datas[i + 1].copy()
CHARTEVENTS3 = datas[i + 2].copy()
CHARTEVENTS4 = datas[i + 3].copy()
CHARTEVENTS5 = datas[i + 4].copy()
CHARTEVENTS6 = datas[i + 5].copy()
CHARTEVENTS7 = datas[i + 6].copy()
CHARTEVENTS8 = datas[i + 7].copy()
CHARTEVENTS9 = datas[i + 8].copy()
CHARTEVENTS1.head()

,Unnamed: 0.1,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,1635,1635,2190,85,112077,291697.0,223751,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,160.0,160.0,mmHg,0.0,0.0,NaN,NaN
1,1636,1636,2191,85,112077,291697.0,223752,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,90.0,90.0,mmHg,0.0,0.0,NaN,NaN
2,1637,1637,2192,85,112077,291697.0,223769,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,100.0,100.0,%,0.0,0.0,NaN,NaN
3,1638,1638,2193,85,112077,291697.0,223770,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,92.0,92.0,%,0.0,0.0,NaN,NaN
4,1639,1639,2194,85,112077,291697.0,224161,2167-07-26 16:58:00,2167-07-26 18:59:00,20214.0,35.0,35.0,insp/min,0.0,0.0,NaN,NaN

In [25]:
i = paths.index('D_ICD_DIAGNOSES_FULL.csv')
D_ICD_DIAGNOSES_FULL = datas[i].copy()
D_ICD_DIAGNOSES_FULL.drop(D_ICD_DIAGNOSES_FULL[['sirs' not in s.lower() for s in D_ICD_DIAGNOSES_FULL['SHORT_TITLE']]].index, inplace=True)
# D_ICD_DIAGNOSES.to_csv(prefix_path + paths[i])
D_ICD_DIAGNOSES_FULL

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
10303,11402,99590,"SIRS, NOS","Systemic inflammatory response syndrome, unspe..."
10306,11405,99593,SIRS-noninf w/o ac or ds,Systemic inflammatory response syndrome due to...
10307,11406,99594,SIRS-noninf w ac org dys,Systemic inflammatory response syndrome due to...

In [25]:
i = paths.index('DIAGNOSES_ICD_FULL.csv')
datas[i].sort_values(by=['SUBJECT_ID', 'SEQ_NUM'], inplace=True)
DIAGNOSES_ICD_FULL = datas[i].copy()
drop_index = []
for j in tqdm(DIAGNOSES_ICD_FULL.index):
    for code in D_ICD_DIAGNOSES_FULL['ICD9_CODE']:
        if str(DIAGNOSES_ICD_FULL.loc[j]['ICD9_CODE']) == code:
            break
    else:
        drop_index.append(j)
DIAGNOSES_ICD_FULL.drop(drop_index, inplace=True)
del drop_index
# DIAGNOSES_ICD.to_csv(prefix_path + paths[i])
DIAGNOSES_ICD_FULL

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 651047/651047 [01:03<00:00, 10215.18it/s]

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
2385      2052         164   182743      8.0     99594
1795      2353         188   191517      3.0     99593
4198      3975         339   112625      2.0     99594
6473      8064         703   124912      4.0     99594
10086    11478         984   104271     15.0     99594
...        ...         ...      ...      ...       ...
646532  633894       96260   149041      8.0     99594
641418  635930       96686   191693      4.0     99590
643571  639204       97380   177283     10.0     99590
648452  640330       97581   123974      9.0     99594
641720  642150       98006   129133      4.0     99593

[221 rows x 5 columns]

# Features

In [27]:
# last row don't understand meaning
features = ['Shock_Index', 'elixhauser', 'SIRS', 'gender', 're_admission', 'GCS', 'SOFA', 'age', 'Albumin',
           'Arterial_pH', 'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'SGPT', 
           'Arterial_blood_gas', 'BUN', 'HCO3', 'INR', 'Arterial_lactate', 'CO2', 'Creatinine', 
           'Ionised_Ca', 'PT', 'Platelets_count', 'SGOT', 'Total_bili', 'WBC_count', 'DiaBP', 'SysBP', 
           'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 'Weight_kg', 'HR', 'SpO2'
           'input_total_tev', 'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc', 'mechvent']

binary_features = ['gender', 're_admission', 'mechvent']
norm_features = ['Shock_Index', 'elixhauser', 'SIRS', 'GCS', 'SOFA', 'age', 'Albumin', 'Arterial_pH', 
                'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'Arterial_blood_gas', 
                'HCO3', 'Arterial_lactate', 'CO2', 'Ionised_Ca', 'PT', 'Platelets_count', 'WBC_count', 
                'DiaBP', 'SysBP', 'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 
                'Weight_kg', 'HR', ]
log_features = ['SGPT', 'BUN', 'INR', 'Creatinine', 'SGOT', 'Total_bili', 'SpO2', 'input_total_tev',
                'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc']

In [28]:
sim_feature = pd.DataFrame(columns = ['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE'])
choosen_feature = pd.DataFrame(columns = ['feature', 'ITEMID', 'LABEL', 'CATEGORY'])

In [29]:
D_ITEMS.drop(D_ITEMS[D_ITEMS.isnull()['LABEL']].index, inplace=True)

## SHOCK INDEX

In [30]:
D_ITEMS[['shock' in str(s).lower() for s in D_ITEMS['CATEGORY']]]

Empty DataFrame
Columns: [Unnamed: 0, ROW_ID, ITEMID, LABEL, ABBREVIATION, DBSOURCE, LINKSTO, CATEGORY, UNITNAME, PARAM_TYPE, CONCEPTID]
Index: []

## elixhauser

## SIRS -Systemic inflammatory response syndrome)

## GCS - Glasgow Coma Scale (ITEMID: 198)

In [31]:
d = D_ITEMS[['gcs' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['GCS'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[d['ITEMID'] == 198].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'GCS']

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
0,GCS,198,GCS Total,NaN,True
1,GCS,220739,GCS - Eye Opening,Neurological,False
2,GCS,223900,GCS - Verbal Response,Neurological,False
3,GCS,223901,GCS - Motor Response,Neurological,False
4,GCS,226755,GcsApacheIIScore,Scores - APACHE II,False
5,GCS,226756,GCSEyeApacheIIValue,Scores - APACHE II,False
6,GCS,226757,GCSMotorApacheIIValue,Scores - APACHE II,False
7,GCS,226758,GCSVerbalApacheIIValue,Scores - APACHE II,False
8,GCS,227011,GCSEye_ApacheIV,Scores - APACHE IV (2),False
9,GCS,227012,GCSMotor_ApacheIV,Scores - APACHE IV (2),False
10,GCS,227013,GcsScore_ApacheIV,Scores - APACHE IV (2),False
11,GCS,227014,GCSVerbal_ApacheIV,Scores - APACHE IV (2),False
12,GCS,228112,GCSVerbalApacheIIValue (intubated),Scores - APACHE II,False

In [32]:
d = D_ITEMS[D_ITEMS['ITEMID'] == 198][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['GCS'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'GCS']

  feature ITEMID      LABEL CATEGORY
0     GCS    198  GCS Total      NaN

## SOFA (ITEMID: 227428)

In [33]:
d = D_ITEMS[['sofa' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SOFA'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[d['ITEMID'] == 227428].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'SOFA']

/tmp/ipykernel_222022/1608329265.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

   feature  ITEMID       LABEL CATEGORY CHOOSE
13    SOFA  227428  SOFA Score  General   True

In [34]:
d = D_ITEMS[D_ITEMS['ITEMID'] == 227428][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SOFA'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'SOFA']

  feature  ITEMID       LABEL CATEGORY
1    SOFA  227428  SOFA Score  General

## Albumin (ITEMID: 50862, 772, 1521, 227456)

In [35]:
d = D_ITEMS[['albumin' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Albumin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50862, 772, 1521, 227456] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature

d = D_LABITEMS[['albumin' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Albumin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50862, 772, 1521, 227456] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Albumin']

/tmp/ipykernel_222022/2246612215.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/2246612215.py:14: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
14,Albumin,772,Albumin (>3.2),Chemistry,True
15,Albumin,1521,Albumin,Chemistry,True
16,Albumin,2358,ALBUMIN,NaN,False
17,Albumin,3066,albumin,NaN,False
18,Albumin,3727,Albumin (3.9-4.8),Chemistry,False
19,Albumin,30008,Albumin 5%,NaN,False
20,Albumin,30009,Albumin 25%,NaN,False
21,Albumin,30181,Serum Albumin 5%,NaN,False
22,Albumin,40548,ALBUMIN,Free Form Intake,False
23,Albumin,42832,albumin 12.5%,Free Form Intake,False
24,Albumin,43237,25% Albumin,Free Form Intake,False
25,Albumin,43353,Albumin (human) 25%,Free Form Intake,False
26,Albumin,44203,Albumin 12.5%,Free Form Intake,False
27,Albumin,44952,OR Albumin,Free Form Intake,False
28,Albumin,45403,albumin,Free Form Intake,False
29,Albumin,46564,Albumin,Free Form Intake,False
30,Albumin,220574,ZAlbumin,Labs,False
31,Albumin,220861,Albumin (Human) 20%,Fluids - Other (Not In Use),False
32,Albumin,220862,Albumin 25%,Blood Products/Colloids,False
33,Albumin,220863,Albumin (Human) 4%,Fluids - Other (Not In Use),False
34,Albumin,220864,Albumin 5%,Blood Products/Colloids,False
35,Albumin,226981,Albumin_ApacheIV,Scores - APACHE IV (2),False
36,Albumin,226982,AlbuminScore_ApacheIV,Scores - APACHE IV (2),False
37,Albumin,227456,Albumin,Labs,True
38,Albumin,50835,"Albumin, Ascites",Chemistry,False
39,Albumin,50862,Albumin,Chemistry,True
40,Albumin,51011,<Albumin>,Chemistry,False
41,Albumin,51019,"Albumin, Joint Fluid",Chemistry,False
42,Albumin,51025,"Albumin, Body Fluid",Chemistry,False
43,Albumin,51046,"Albumin, Pleural",Chemistry,False
44,Albumin,51069,"Albumin, Urine",Chemistry,False
45,Albumin,51070,"Albumin/Creatinine, Urine",Chemistry,False
46,Albumin,51555,SURFACTANT ALBUMIN RATIO,CHEMISTRY,False

In [36]:
d = D_ITEMS[[id in [50862, 772, 1521, 227456] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Albumin'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Albumin']

d = D_LABITEMS[[id in [50862, 772, 1521, 227456] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Albumin'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Albumin']

   feature  ITEMID           LABEL   CATEGORY
2  Albumin     772  Albumin (>3.2)  Chemistry
3  Albumin    1521         Albumin  Chemistry
4  Albumin  227456         Albumin       Labs
5  Albumin   50862         Albumin  Chemistry

## Arterial_pH (ITEMID: 780, 1126, 223830, 50820)

In [37]:
d = D_ITEMS[['art' in str(s).lower() and 'ph' in str(s).lower() for s in D_ITEMS['LABEL']]].iloc[:-2][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial_pH'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [780, 1126, 223830, 50820] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature

d = D_LABITEMS[['ph' == str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial_pH'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [780, 1126, 223830, 50820] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Arterial_pH']

/tmp/ipykernel_222022/3375617981.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3375617981.py:14: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

        feature  ITEMID          LABEL    CATEGORY CHOOSE
47  Arterial_pH     780    Arterial pH         ABG   True
48  Arterial_pH    1126         Art.pH         ABG   True
49  Arterial_pH    4753       pH (Art)         ABG  False
50  Arterial_pH  223830  PH (Arterial)        Labs   True
51  Arterial_pH   50820             pH   Blood Gas   True
52  Arterial_pH   50831             pH   Blood Gas  False
53  Arterial_pH   51094             pH   Chemistry  False
54  Arterial_pH   51491             pH  Hematology  False

In [38]:
d = D_ITEMS[[id in [780, 1126, 223830, 50820] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial_pH'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Arterial_pH']

d = D_LABITEMS[[id in [780, 1126, 223830, 50820] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial_pH'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Arterial_pH']

       feature  ITEMID          LABEL   CATEGORY
6  Arterial_pH     780    Arterial pH        ABG
7  Arterial_pH    1126         Art.pH        ABG
8  Arterial_pH  223830  PH (Arterial)       Labs
9  Arterial_pH   50820             pH  Blood Gas

## Calcium (ITEMID: 225625, 50893, 786, 1522)

In [39]:
d = D_ITEMS[['calcium' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [225625, 50893, 786, 1522] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature

d = D_LABITEMS[['calcium' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [225625, 50893, 786, 1522] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Calcium']

/tmp/ipykernel_222022/4083971929.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/4083971929.py:14: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

     feature  ITEMID                       LABEL          CATEGORY CHOOSE
55   Calcium     786          Calcium (8.4-10.2)         Chemistry   True
56   Calcium     816             Ionized Calcium         Chemistry  False
57   Calcium    1350             ionized calcium               NaN  False
58   Calcium    1522                     Calcium         Chemistry   True
59   Calcium    1663           Calcium gluconate               NaN  False
60   Calcium    2185           CALCIUM GLUCONATE               NaN  False
61   Calcium    3219           calcium gluconate               NaN  False
62   Calcium    3347           Calcium Gluconate               NaN  False
63   Calcium    3746        Calcium   (8.8-10.8)         Chemistry  False
64   Calcium    3766                 Ion Calcium             ABG's  False
65   Calcium    4696          Calcium Glubionate               NaN  False
66   Calcium    5114          Calcium glubionate               NaN  False
67   Calcium    5258          calcium glubionate               NaN  False
68   Calcium    5753            Calcium Chloride               NaN  False
69   Calcium    5810               urine calcium               NaN  False
70   Calcium    6132          Calcium  gluconate               NaN  False
71   Calcium    7245          CALCIUM GLUC ML/HR               NaN  False
72   Calcium    7871           elemental calcium               NaN  False
73   Calcium    7949            Calcium for CVVH               NaN  False
74   Calcium    8177             Ionized calcium               NaN  False
75   Calcium    8325             IONIZED CALCIUM               NaN  False
76   Calcium   30022            Calcium Chloride               NaN  False
77   Calcium   30023           Calcium Gluconate               NaN  False
78   Calcium   30300        Calcium Chloride 10%               NaN  False
79   Calcium   41163            Calcium gluc gtt  Free Form Intake  False
80   Calcium   41807        Calcium chloride IVP  Free Form Intake  False
81   Calcium   42856           CALCIUM GLUGOANTE  Free Form Intake  False
82   Calcium   42916                calcium gluc  Free Form Intake  False
83   Calcium   43747                     CALCIUM  Free Form Intake  False
84   Calcium   44220           Calcium Gluc 40gm  Free Form Intake  False
85   Calcium   44441                     calcium  Free Form Intake  False
86   Calcium   44749                calcium drip  Free Form Intake  False
87   Calcium   44855                     Calcium  Free Form Intake  False
88   Calcium   45268           CALCIUM FOR CVVHD  Free Form Intake  False
89   Calcium   45593         Calcium w/ pheresis  Free Form Intake  False
90   Calcium   46712            CALCIUM-DIALYSIS  Free Form Intake  False
91   Calcium  221456           Calcium Gluconate       Medications  False
92   Calcium  225625         Calcium non-ionized              Labs   True
93   Calcium  225667             Ionized Calcium              Labs  False
94   Calcium  227525    Calcium Gluconate (CRRT)       Medications  False
95   Calcium  228317   Calcium Gluconate (Bolus)       Medications  False
96   Calcium   50808                Free Calcium         Blood Gas  False
97   Calcium   50893              Calcium, Total         Chemistry   True
98   Calcium   51029         Calcium, Body Fluid         Chemistry  False
99   Calcium   51066               24 hr Calcium         Chemistry  False
100  Calcium   51077              Calcium, Urine         Chemistry  False
101  Calcium   51468  Calcium Carbonate Crystals        Hematology  False
102  Calcium   51469    Calcium Oxalate Crystals        Hematology  False
103  Calcium   51470  Calcium Phosphate Crystals        Hematology  False

In [40]:
d = D_ITEMS[[id in [225625, 50893, 786, 1522] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Calcium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [225625, 50893, 786, 1522] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Calcium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Calcium']

    feature  ITEMID                LABEL   CATEGORY
10  Calcium     786   Calcium (8.4-10.2)  Chemistry
11  Calcium    1522              Calcium  Chemistry
12  Calcium  225625  Calcium non-ionized       Labs
13  Calcium   50893       Calcium, Total  Chemistry

## Glucose (ITEMID: 220621, 225664, 50809, 811, 807, 50931, 226537, 1529)

In [41]:
d = D_ITEMS[['glucose' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Glucose'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [220621, 225664, 50809, 811, 807, 50931, 226537, 1529] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['glucose' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Glucose'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [220621, 225664, 50809, 811, 807, 50931, 226537, 1529] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Glucose']

/tmp/ipykernel_222022/2719026911.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/2719026911.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
104,Glucose,807,Fingerstick Glucose,Chemistry,True
105,Glucose,811,Glucose (70-105),Chemistry,True
106,Glucose,1310,FINGERSTICK GLUCOSE.,NaN,False
107,Glucose,1455,fingerstick glucose,NaN,False
108,Glucose,1529,Glucose,Chemistry,True
109,Glucose,1812,abg: glucose,NaN,False
110,Glucose,2338,finger stick glucose,NaN,False
111,Glucose,3447,Glucose Monitor #,NaN,False
112,Glucose,3744,Blood Glucose,Chemistry,False
113,Glucose,3745,BloodGlucose,Quick Admit,False
114,Glucose,3816,Urine Glucose,Urine,False
115,Glucose,220621,Glucose (serum),Labs,True
116,Glucose,225664,Glucose finger stick,Labs,True
117,Glucose,226537,Glucose (whole blood),Labs,True
118,Glucose,227015,Glucose_ApacheIV,Scores - APACHE IV (2),False
119,Glucose,227016,GlucoseScore_ApacheIV,Scores - APACHE IV (2),False
120,Glucose,227976,Boost Glucose Control (1/4),Nutrition - Enteral,False
121,Glucose,227977,Boost Glucose Control (1/2),Nutrition - Enteral,False
122,Glucose,227978,Boost Glucose Control (3/4),Nutrition - Enteral,False
123,Glucose,227979,Boost Glucose Control (Full),Nutrition - Enteral,False
124,Glucose,228388,Glucose (whole blood) (soft),Labs,False
125,Glucose,50809,Glucose,Blood Gas,True
126,Glucose,50842,"Glucose, Ascites",Chemistry,False
127,Glucose,50931,Glucose,Chemistry,True
128,Glucose,51014,"Glucose, CSF",Chemistry,False
129,Glucose,51022,"Glucose, Joint Fluid",Chemistry,False
130,Glucose,51034,"Glucose, Body Fluid",Chemistry,False
131,Glucose,51053,"Glucose, Pleural",Chemistry,False
132,Glucose,51084,"Glucose, Urine",Chemistry,False
133,Glucose,51478,Glucose,Hematology,False
134,Glucose,51529,Estimated Actual Glucose,CHEMISTRY,False

In [42]:
d = D_ITEMS[[id in [220621, 225664, 50809, 811, 807, 50931, 226537, 1529] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Glucose'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [220621, 225664, 50809, 811, 807, 50931, 226537, 1529] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Glucose'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Glucose']

    feature  ITEMID                  LABEL   CATEGORY
14  Glucose     807    Fingerstick Glucose  Chemistry
15  Glucose     811       Glucose (70-105)  Chemistry
16  Glucose    1529                Glucose  Chemistry
17  Glucose  220621        Glucose (serum)       Labs
18  Glucose  225664   Glucose finger stick       Labs
19  Glucose  226537  Glucose (whole blood)       Labs
20  Glucose   50809                Glucose  Blood Gas
21  Glucose   50931                Glucose  Chemistry

## Hemoglobin (ITEMID: 220228, 51222, 50811, 814)

In [43]:
d = D_ITEMS[['hemoglobin' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Hemoglobin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [220228, 51222, 50811, 814] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['hemoglobin' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Hemoglobin'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [220228, 51222, 50811, 814] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Hemoglobin']

/tmp/ipykernel_222022/1707884679.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/1707884679.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

        feature  ITEMID                              LABEL    CATEGORY CHOOSE
135  Hemoglobin     814                         Hemoglobin  Hematology   True
136  Hemoglobin    7965                     methhemoglobin         NaN  False
137  Hemoglobin  220228                         Hemoglobin        Labs   True
138  Hemoglobin   50805                  Carboxyhemoglobin   Blood Gas  False
139  Hemoglobin   50811                         Hemoglobin   Blood Gas   True
140  Hemoglobin   50814                      Methemoglobin   Blood Gas  False
141  Hemoglobin   50852                   % Hemoglobin A1c   Chemistry  False
142  Hemoglobin   50855                Absolute Hemoglobin   Chemistry  False
143  Hemoglobin   51212                   Fetal Hemoglobin  Hematology  False
144  Hemoglobin   51222                         Hemoglobin  Hematology   True
145  Hemoglobin   51223                      Hemoglobin A2  Hematology  False
146  Hemoglobin   51224                       Hemoglobin C  Hematology  False
147  Hemoglobin   51225                       Hemoglobin F  Hematology  False
148  Hemoglobin   51285  Reticulocyte, Cellular Hemoglobin  Hematology  False

In [44]:
d = D_ITEMS[[id in [220228, 51222, 50811, 814] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Hemoglobin'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [220228, 51222, 50811, 814] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Hemoglobin'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Hemoglobin']

       feature  ITEMID       LABEL    CATEGORY
22  Hemoglobin     814  Hemoglobin  Hematology
23  Hemoglobin  220228  Hemoglobin        Labs
24  Hemoglobin   50811  Hemoglobin   Blood Gas
25  Hemoglobin   51222  Hemoglobin  Hematology

## Magnesium (ITEMID: 220635, 50960, 1532, 821)

In [45]:
d = D_ITEMS[['magnesium' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Magnesium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [220635, 50960, 1532, 821] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['magnesium' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Magnesium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [220635, 50960, 1532, 821] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Magnesium']

/tmp/ipykernel_222022/3585881206.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3585881206.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

       feature  ITEMID                       LABEL          CATEGORY CHOOSE
149  Magnesium     821         Magnesium (1.6-2.6)         Chemistry   True
150  Magnesium    1532                   Magnesium         Chemistry   True
151  Magnesium    1970            magnesium 2gm/hr               NaN  False
152  Magnesium    6133           Magnesium Sulfate               NaN  False
153  Magnesium   30027           Magnesium Sulfate               NaN  False
154  Magnesium   40645                   magnesium  Free Form Intake  False
155  Magnesium   43018            magnesium 1gm/hr  Free Form Intake  False
156  Magnesium   44088                   Magnesium  Free Form Intake  False
157  Magnesium  220635                   Magnesium              Labs   True
158  Magnesium  222011           Magnesium Sulfate       Medications  False
159  Magnesium  227523   Magnesium Sulfate (Bolus)       Medications  False
160  Magnesium  227524  Magnesium Sulfate (OB-GYN)       Medications  False
161  Magnesium   50960                   Magnesium         Chemistry   True
162  Magnesium   51037       Magnesium, Body Fluid         Chemistry  False
163  Magnesium   51088            Magnesium, Urine         Chemistry  False

In [46]:
d = D_ITEMS[[id in [220635, 50960, 1532, 821] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Magnesium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [220635, 50960, 1532, 821] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Magnesium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Magnesium']

      feature  ITEMID                LABEL   CATEGORY
26  Magnesium     821  Magnesium (1.6-2.6)  Chemistry
27  Magnesium    1532            Magnesium  Chemistry
28  Magnesium  220635            Magnesium       Labs
29  Magnesium   50960            Magnesium  Chemistry

## PTT-Partial Thromboplastin Time (ITEMID: 227466, 825, 1533, 51275)

In [47]:
d = D_ITEMS[['ptt' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PTT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [227466, 825, 1533, 51275] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['ptt' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PTT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [227466, 825, 1533, 51275] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'PTT']

/tmp/ipykernel_222022/1453455734.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/1453455734.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID       LABEL    CATEGORY CHOOSE
164     PTT     825  PTT(22-35)       Coags   True
165     PTT    1533         PTT       Coags   True
166     PTT    3796         Ptt   Heme/Coag  False
167     PTT  220562        ZPTT        Labs  False
168     PTT  227466         PTT        Labs   True
169     PTT   51275         PTT  Hematology   True

In [48]:
d = D_ITEMS[[id in [227466, 825, 1533, 51275] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PTT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [227466, 825, 1533, 51275] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PTT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'PTT']

   feature  ITEMID       LABEL    CATEGORY
30     PTT     825  PTT(22-35)       Coags
31     PTT    1533         PTT       Coags
32     PTT  227466         PTT        Labs
33     PTT   51275         PTT  Hematology

## Potassium (ITEMID: 829, 50971, 1535, 227464, 50822)

In [49]:
d = D_ITEMS[['potassium' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Potassium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [829, 50971, 1535, 227464, 50822] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['potassium' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Potassium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [829, 50971, 1535, 227464, 50822] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Potassium']

/tmp/ipykernel_222022/1475549912.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/1475549912.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
170,Potassium,829,Potassium (3.5-5.3),Chemistry,True
171,Potassium,1535,Potassium,Chemistry,True
172,Potassium,1821,potassium phosphate,NaN,False
173,Potassium,2691,URINE POTASSIUM,NaN,False
174,Potassium,2856,Potassium phosphate,NaN,False
175,Potassium,3578,Potassium Chloride,NaN,False
176,Potassium,3725,ABG POTASSIUM,ABG'S,False
177,Potassium,3792,Potassium (3.5-5.3),Chemistry,False
178,Potassium,4194,ABG Potassium,ABG'S,False
179,Potassium,4381,Potassium Phosphate,NaN,False
180,Potassium,5167,potassium Phosphate,NaN,False
181,Potassium,5195,potassium phosphorus,NaN,False
182,Potassium,30029,Potassium Phosphate,NaN,False
183,Potassium,30297,Potassium Chloride,NaN,False
184,Potassium,30299,Potassium Acetate,NaN,False
185,Potassium,41450,21mM Potassium Phos,Free Form Intake,False
186,Potassium,41956,Potassium,Free Form Intake,False
187,Potassium,42628,potassium phos,Free Form Intake,False
188,Potassium,42728,POTASSIUM,Free Form Intake,False
189,Potassium,43238,Potassium Chl. Bolus,Free Form Intake,False
190,Potassium,43872,Potassium 20meqIVPB,Free Form Intake,False
191,Potassium,44479,potassium phospate,Free Form Intake,False
192,Potassium,44711,potassium,Free Form Intake,False
193,Potassium,44762,potassium phos 30mml,Free Form Intake,False
194,Potassium,45430,potassium Chl 40meq,Free Form Intake,False
195,Potassium,45627,potassium 40/500,Free Form Intake,False
196,Potassium,46263,potassium phos 15mml,Free Form Intake,False
197,Potassium,46453,potassium 10/100,Free Form Intake,False
198,Potassium,46611,POTASSIUM CHLOR 10MQ,Free Form Intake,False
199,Potassium,220640,ZPotassium (serum),Labs,False
200,Potassium,222139,Potassium ACEtate,Nutrition - Supplements,False
201,Potassium,225166,Potassium Chloride,Medications,False
202,Potassium,225890,Penicillin G potassium,Antibiotics,False
203,Potassium,225925,Potassium Phosphate,Nutrition - Supplements,False
204,Potassium,226535,ZPotassium (whole blood),Labs,False
205,Potassium,226771,PotassiumApacheIIScore,Scores - APACHE II,False
206,Potassium,226772,PotassiumApacheIIValue,Scores - APACHE II,False
207,Potassium,227442,Potassium (serum),Labs,False
208,Potassium,227464,Potassium (whole blood),Labs,True
209,Potassium,50822,"Potassium, Whole Blood",Blood Gas,True
210,Potassium,50833,Potassium,Blood Gas,False
211,Potassium,50847,"Potassium, Ascites",Chemistry,False
212,Potassium,50971,Potassium,Chemistry,True
213,Potassium,51041,"Potassium, Body Fluid",Chemistry,False
214,Potassium,51057,"Potassium, Pleural",Chemistry,False
215,Potassium,51064,"Potassium, Stool",Chemistry,False
216,Potassium,51097,"Potassium, Urine",Chemistry,False

In [50]:
d = D_ITEMS[[id in [829, 50971, 1535, 227464, 50822] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Potassium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [829, 50971, 1535, 227464, 50822] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Potassium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Potassium']

      feature  ITEMID                    LABEL   CATEGORY
34  Potassium     829      Potassium (3.5-5.3)  Chemistry
35  Potassium    1535                Potassium  Chemistry
36  Potassium  227464  Potassium (whole blood)       Labs
37  Potassium   50822   Potassium, Whole Blood  Blood Gas
38  Potassium   50971                Potassium  Chemistry

## SGPT-Serum Glutamic-Pyruvic Transaminase (ITEMID: 3802)

In [51]:
d = D_ITEMS[['gpt' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SGPT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [3802] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'SGPT']

/tmp/ipykernel_222022/1754552597.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature ITEMID LABEL   CATEGORY CHOOSE
217    SGPT   3802  SGPT  Chemistry   True

In [52]:
d = D_ITEMS[[id in [3802] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SGPT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'SGPT']

   feature ITEMID LABEL   CATEGORY
39    SGPT   3802  SGPT  Chemistry

## Arterial blood gas (ITEMID: )

In [53]:
D_ITEMS[['abg' in str(s).lower() for s in D_ITEMS['CATEGORY']]]

d = D_ITEMS[['abg' in str(s).lower() for s in D_ITEMS['CATEGORY']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial blood gas'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
# d['CHOOSE'][d[[id in [3802] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Arterial blood gas']

/tmp/ipykernel_222022/3417106316.py:8: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

                feature ITEMID                 LABEL    CATEGORY CHOOSE
218  Arterial blood gas    776  Arterial Base Excess         ABG  False
219  Arterial blood gas    777    Arterial CO2(Calc)         ABG  False
220  Arterial blood gas    778        Arterial PaCO2         ABG  False
221  Arterial blood gas    779         Arterial PaO2         ABG  False
222  Arterial blood gas    780           Arterial pH         ABG  False
223  Arterial blood gas    812                  HCO3         ABG  False
224  Arterial blood gas    834                  SaO2       ABG's  False
225  Arterial blood gas   1126                Art.pH         ABG  False
226  Arterial blood gas   3724          ABG CHLOIRDE       ABG's  False
227  Arterial blood gas   3725         ABG POTASSIUM       ABG'S  False
228  Arterial blood gas   3726            ABG SODIUM       ABG'S  False
229  Arterial blood gas   3736                    BE       ABG's  False
230  Arterial blood gas   3740   Base Excess (other)  Other ABGs  False
231  Arterial blood gas   3761    Hematocrit (35-51)       ABG'S  False
232  Arterial blood gas   3766           Ion Calcium       ABG's  False
233  Arterial blood gas   3784                  PCO2       ABG's  False
234  Arterial blood gas   3785                   PO2       ABG's  False
235  Arterial blood gas   3809          TCO2 (other)  Other ABGs  False
236  Arterial blood gas   3829    Venous Base Excess  Venous ABG  False
237  Arterial blood gas   3830            Venous CO2  Venous ABG  False
238  Arterial blood gas   3831             Venous O2  Venous ABG  False
239  Arterial blood gas   3832           Venous TCO2  Venous ABG  False
240  Arterial blood gas   3835                  pCO2       ABG'S  False
241  Arterial blood gas   3836          pCO2 (other)  Other ABGs  False
242  Arterial blood gas   3837                   pO2       ABG'S  False
243  Arterial blood gas   3838           pO2 (other)  Other ABGs  False
244  Arterial blood gas   3839            ph (other)  Other ABGs  False
245  Arterial blood gas   4193          ABG Chloride       ABG's  False
246  Arterial blood gas   4194         ABG Potassium       ABG'S  False
247  Arterial blood gas   4195            ABG Sodium       ABG'S  False
248  Arterial blood gas   4196     Base Excess (cap)  Other ABGs  False
249  Arterial blood gas   4199            TCO2 (cap)  Other ABGs  False
250  Arterial blood gas   4201            pCO2 (cap)  Other ABGs  False
251  Arterial blood gas   4202              pH (cap)  Other ABGs  False
252  Arterial blood gas   4203             pO2 (cap)  Other ABGs  False
253  Arterial blood gas   4753              pH (Art)         ABG  False
254  Arterial blood gas   4755                 zzzpH       ABG's  False

In [54]:
D_LABITEMS[['gas' in str(s).lower() for s in D_LABITEMS['LABEL']]]

     Unnamed: 0  ROW_ID  ITEMID    LABEL  FLUID   CATEGORY LOINC_CODE
128         255     129   50928  Gastrin  Blood  Chemistry     2333-3

## BUN-Blood Urea Nitrogen (ITEMID: 51006, 781, 1162, 225624)

In [55]:
d = D_ITEMS[['bun' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['BUN'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [51006, 781, 1162, 225624] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['urea' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['BUN'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [51006, 781, 1162, 225624] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'BUN']

/tmp/ipykernel_222022/3592115791.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3592115791.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID                      LABEL                CATEGORY CHOOSE
255     BUN     781                 BUN (6-20)               Chemistry   True
256     BUN    1162                        BUN                     NaN   True
257     BUN    3737              BUN    (6-20)               Chemistry  False
258     BUN    5876                        bun                     NaN  False
259     BUN    8220               Effluent BUN                     NaN  False
260     BUN  225624                        BUN                    Labs   True
261     BUN  227000               BUN_ApacheIV  Scores - APACHE IV (2)  False
262     BUN  227001          BunScore_ApacheIV  Scores - APACHE IV (2)  False
263     BUN   50851     Urea Nitrogen, Ascites               Chemistry  False
264     BUN   51006              Urea Nitrogen               Chemistry   True
265     BUN   51045  Urea Nitrogen, Body Fluid               Chemistry  False
266     BUN   51104       Urea Nitrogen, Urine               Chemistry  False

In [56]:
d = D_ITEMS[[id in [51006, 781, 1162, 225624] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['BUN'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [51006, 781, 1162, 225624] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['BUN'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'BUN']

   feature  ITEMID          LABEL   CATEGORY
40     BUN     781     BUN (6-20)  Chemistry
41     BUN    1162            BUN        NaN
42     BUN  225624            BUN       Labs
43     BUN   51006  Urea Nitrogen  Chemistry

## HCO3 (ITEMID: 50882, 227443, 50803)

In [57]:
d = D_ITEMS[['hco3' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['HCO3'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50882, 227443, 50803] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS.query("ITEMID == 50882 | ITEMID == 50803")[['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['HCO3'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50882, 227443, 50803] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'HCO3']

/tmp/ipykernel_222022/286537253.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/286537253.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
267,HCO3,812,HCO3,ABG,False
268,HCO3,2468,NAHCO3- MEQ/HR,NaN,False
269,HCO3,8235,naHCO3,NaN,False
270,HCO3,41824,D5W 150meq NAHCO3,Free Form Intake,False
271,HCO3,41983,NAHCO3,Free Form Intake,False
272,HCO3,42337,NAHCO3- CC/HR,Free Form Intake,False
273,HCO3,42939,1/4ns w 100meqnahco3,Free Form Intake,False
274,HCO3,43904,D51/4NS+100MeqNaHCO3,Free Form Intake,False
275,HCO3,44166,BICARBONATE-HCO3,Free Form Intake,False
276,HCO3,44539,D5W W/ NAHCO3 150MEQ,Free Form Intake,False
277,HCO3,44602,NaHCO3,Free Form Intake,False
278,HCO3,44966,1/2NSS & 100 NAHCO3,Free Form Intake,False
279,HCO3,44987,d5w NHCO3 150,Free Form Intake,False
280,HCO3,45979,NaHcO3 150meq in D5W,Free Form Intake,False
281,HCO3,46061,D5 0.45N/S+NAHCO3,Free Form Intake,False
282,HCO3,46361,D5W +3 Amps NaHco3,Free Form Intake,False
283,HCO3,46455,D5W +NaHcO3,Free Form Intake,False
284,HCO3,46585,D5W with 150MEQ HCO3,Free Form Intake,False
285,HCO3,46644,D5W & 150 MEQ NAHCO3,Free Form Intake,False
286,HCO3,224826,ZHCO3 (serum),Labs,False
287,HCO3,226759,HCO3ApacheIIValue,Scores - APACHE II,False
288,HCO3,226760,HCO3Score,Scores - APACHE II,False
289,HCO3,227443,HCO3 (serum),Labs,True
290,HCO3,50803,"Calculated Bicarbonate, Whole Blood",Blood Gas,True
291,HCO3,50882,Bicarbonate,Chemistry,True

In [58]:
d = D_ITEMS[[id in [50882, 227443, 50803] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['HCO3'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [50882, 227443, 50803] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['HCO3'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'HCO3']

   feature  ITEMID                                LABEL   CATEGORY
44    HCO3  227443                         HCO3 (serum)       Labs
45    HCO3   50803  Calculated Bicarbonate, Whole Blood  Blood Gas
46    HCO3   50882                          Bicarbonate  Chemistry

## INR-International Normalized Ratio (ITEMID: 1530, 51237, 227467)

In [59]:
d = D_ITEMS[['inr' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['INR'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [1530, 51237, 227467] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['inr' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['INR'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [1530, 51237, 227467] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'INR']

/tmp/ipykernel_222022/3663293302.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3663293302.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID                 LABEL          CATEGORY CHOOSE
292     INR     815  INR (2-4 ref. range)             Coags  False
293     INR    1530                   INR             Coags   True
294     INR   42527    INR BLOOD PRODUCTS  Free Form Intake  False
295     INR   44481       ER URINR OUTPUT               NaN  False
296     INR  220561                  ZINR              Labs  False
297     INR  227467                   INR              Labs   True
298     INR   51237               INR(PT)        Hematology   True

In [60]:
d = D_ITEMS[[id in [1530, 51237, 227467] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['INR'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [1530, 51237, 227467] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['INR'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'INR']

   feature  ITEMID    LABEL    CATEGORY
47     INR    1530      INR       Coags
48     INR  227467      INR        Labs
49     INR   51237  INR(PT)  Hematology

## Arterial Lactate (ITEMID: 50813)

In [61]:
d = D_ITEMS[['lactate' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial Lactate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50813] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['lactate' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial Lactate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50813] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Arterial Lactate']

/tmp/ipykernel_222022/2880483832.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/2880483832.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
299,Arterial Lactate,1634,lactated ringers,NaN,False
300,Arterial Lactate,2638,CEREBRAL LACTATE,NaN,False
301,Arterial Lactate,2773,sjlactate,NaN,False
302,Arterial Lactate,30021,Lactated Ringers,NaN,False
303,Arterial Lactate,44370,INAMRINONE LACTATE,Free Form Intake,False
304,Arterial Lactate,45532,IR Lactated ringers,Free Form Intake,False
305,Arterial Lactate,220955,Ringers Lactate,Fluids - Other (Not In Use),False
306,Arterial Lactate,220967,Dextrose 5% / Ringers Lactate,Fluids - Other (Not In Use),False
307,Arterial Lactate,220968,Dextrose 10% / Ringers Lactate,Fluids - Other (Not In Use),False
308,Arterial Lactate,220980,Hextend (Hetastarch 6% in Lactate),Fluids - Other (Not In Use),False
309,Arterial Lactate,50813,Lactate,Blood Gas,True
310,Arterial Lactate,50843,"Lactate Dehydrogenase, Ascites",Chemistry,False
311,Arterial Lactate,50954,Lactate Dehydrogenase (LD),Chemistry,False
312,Arterial Lactate,51015,"Lactate Dehydrogenase, CSF",Chemistry,False
313,Arterial Lactate,51054,"Lactate Dehydrogenase, Pleural",Chemistry,False

In [62]:
d = D_ITEMS[[id in [50813] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial Lactate'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [50813] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial Lactate'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Arterial Lactate']

             feature ITEMID    LABEL   CATEGORY
50  Arterial Lactate  50813  Lactate  Blood Gas

## CO2 (ITEMID: 787)

In [63]:
d = D_ITEMS[['carbon dioxide' in str(s).lower() or ' co2' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['CO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [787] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['carbon dioxide' in str(s).lower() or ' co2' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['CO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [787] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'CO2']

/tmp/ipykernel_222022/1750040568.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/1750040568.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID                  LABEL    CATEGORY CHOOSE
314     CO2     777     Arterial CO2(Calc)         ABG  False
315     CO2     787         Carbon Dioxide   Chemistry   True
316     CO2     857       Venous CO2(Calc)       VBG'S  False
317     CO2    2772                 SJ CO2         NaN  False
318     CO2    3773   Mix Venous CO2(calc)  Mixed VBGs  False
319     CO2    3810              Total CO2   Chemistry  False
320     CO2    3830             Venous CO2  Venous ABG  False
321     CO2  220235  Arterial CO2 Pressure        Labs  False
322     CO2  226062    Venous CO2 Pressure        Labs  False
323     CO2   50804   Calculated Total CO2   Blood Gas  False

In [64]:
d = D_ITEMS[[id in [787] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['CO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [787] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['CO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'CO2']

   feature ITEMID           LABEL   CATEGORY
51     CO2    787  Carbon Dioxide  Chemistry

## Creatinine (ITEMID: 791, 1525, 220615, 50912)

In [65]:
d = D_ITEMS[['creatinine' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Creatinine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [791, 1525, 220615, 50912] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['creatinine' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Creatinine'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [791, 1525, 220615, 50912] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Creatinine']

/tmp/ipykernel_222022/343814764.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/343814764.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
324,Creatinine,791,Creatinine (0-1.3),Chemistry,True
325,Creatinine,1525,Creatinine,Chemistry,True
326,Creatinine,3750,Creatinine (0-0.7),Chemistry,False
327,Creatinine,5811,urine creatinine,NaN,False
328,Creatinine,220615,Creatinine,Labs,True
329,Creatinine,226751,CreatinineApacheIIScore,Scores - APACHE II,False
330,Creatinine,226752,CreatinineApacheIIValue,Scores - APACHE II,False
331,Creatinine,227005,Creatinine_ApacheIV,Scores - APACHE IV (2),False
332,Creatinine,50841,"Creatinine, Ascites",Chemistry,False
333,Creatinine,50912,Creatinine,Chemistry,True
334,Creatinine,51021,"Creatinine, Joint Fluid",Chemistry,False
335,Creatinine,51032,"Creatinine, Body Fluid",Chemistry,False
336,Creatinine,51052,"Creatinine, Pleural",Chemistry,False
337,Creatinine,51067,24 hr Creatinine,Chemistry,False
338,Creatinine,51070,"Albumin/Creatinine, Urine",Chemistry,False
339,Creatinine,51073,"Amylase/Creatinine Ratio, Urine",Chemistry,False
340,Creatinine,51080,Creatinine Clearance,Chemistry,False
341,Creatinine,51081,"Creatinine, Serum",Chemistry,False
342,Creatinine,51082,"Creatinine, Urine",Chemistry,False
343,Creatinine,51099,Protein/Creatinine Ratio,Chemistry,False
344,Creatinine,51106,Urine Creatinine,Chemistry,False

In [66]:
d = D_ITEMS[[id in [791, 1525, 220615, 50912] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Creatinine'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [791, 1525, 220615, 50912] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Creatinine'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Creatinine']

       feature  ITEMID               LABEL   CATEGORY
52  Creatinine     791  Creatinine (0-1.3)  Chemistry
53  Creatinine    1525          Creatinine  Chemistry
54  Creatinine  220615          Creatinine       Labs
55  Creatinine   50912          Creatinine  Chemistry

## Ionised Calcium (ITEMID: 50808, 816, 225667)

In [67]:
d = D_ITEMS[['ionized calcium' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Ionized Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50808, 816, 225667] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['calcium' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Ionized Calcium'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50808, 816, 225667] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Ionized Calcium']

/tmp/ipykernel_222022/326718922.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/326718922.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

             feature  ITEMID                       LABEL    CATEGORY CHOOSE
345  Ionized Calcium     816             Ionized Calcium   Chemistry   True
346  Ionized Calcium    1350             ionized calcium         NaN  False
347  Ionized Calcium    8177             Ionized calcium         NaN  False
348  Ionized Calcium    8325             IONIZED CALCIUM         NaN  False
349  Ionized Calcium  225667             Ionized Calcium        Labs   True
350  Ionized Calcium   50808                Free Calcium   Blood Gas   True
351  Ionized Calcium   50893              Calcium, Total   Chemistry  False
352  Ionized Calcium   51029         Calcium, Body Fluid   Chemistry  False
353  Ionized Calcium   51066               24 hr Calcium   Chemistry  False
354  Ionized Calcium   51077              Calcium, Urine   Chemistry  False
355  Ionized Calcium   51468  Calcium Carbonate Crystals  Hematology  False
356  Ionized Calcium   51469    Calcium Oxalate Crystals  Hematology  False
357  Ionized Calcium   51470  Calcium Phosphate Crystals  Hematology  False

In [68]:
d = D_ITEMS[[id in [50808, 816, 225667] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Ionized Calcium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [50808, 816, 225667] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Ionized Calcium'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Ionized Calcium']

            feature  ITEMID            LABEL   CATEGORY
56  Ionized Calcium     816  Ionized Calcium  Chemistry
57  Ionized Calcium  225667  Ionized Calcium       Labs
58  Ionized Calcium   50808     Free Calcium  Blood Gas

## PT-Prothrombin Time (ITEMID: 1286, 824, 227465, 51274)

In [69]:
d = D_ITEMS[['pt ' in str(s).lower() or ' pt' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_ITEMS[[id in [1286, 824, 227465, 51274] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [1286, 824, 227465, 51274] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [1286, 824, 227465, 51274] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'PT']

/tmp/ipykernel_222022/3459818121.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3459818121.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3459818121.py:20: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID                    LABEL          CATEGORY CHOOSE
358      PT     121         Chest PT [Right]               NaN  False
359      PT     508  PT Splint #1 [Location]               NaN  False
360      PT     509  PT Splint #2 [Location]               NaN  False
361      PT     510  PT Splint #3 [Location]               NaN  False
362      PT     511  PT Splint #4 [Location]               NaN  False
363      PT     944                 Chest PT               NaN  False
364      PT    1056                 chest pt               NaN  False
365      PT    2150                 CHEST PT               NaN  False
366      PT    2585                 chest PT               NaN  False
367      PT    4736             COSOPT DROPS               NaN  False
368      PT    5961                  PT Eval               NaN  False
369      PT    6748                  Pt Leak               NaN  False
370      PT    8378          Chest PT [Left]               NaN  False
371      PT    8450    PT Splint #1 [Status]               NaN  False
372      PT    8451    PT Splint #2 [Status]               NaN  False
373      PT    8452    PT Splint #3 [Status]               NaN  False
374      PT    8453    PT Splint #4 [Status]               NaN  False
375      PT   43380     urine outpt cc/kg/hr               NaN  False
376      PT   44772     1/2str Impt with Fib  Free Form Intake  False
377      PT   45750      out pt intake +prbc  Free Form Intake  False
378      PT   45786                 outpt uo               NaN  False
379      PT  224101             Chest PT R/L        Treatments  False
380      PT  224114    PT Splint Location #1        Treatments  False
381      PT  224455    PT Splint Location #4        Treatments  False
382      PT  224456    PT Splint Location #2        Treatments  False
383      PT  224457    PT Splint Location #3        Treatments  False
384      PT  225180      PT Splint Status #1        Treatments  False
385      PT  225182      PT Splint Status #2        Treatments  False
386      PT  225194      PT Splint Status #3        Treatments  False
387      PT  225196      PT Splint Status #4        Treatments  False
388      PT  228260        FM Pt Preferences   Family Mtg Note  False
389      PT  228277            FM Pt present   Family Mtg Note  False
390      PT     824              PT(11-13.5)             Coags   True
391      PT    1286                       PT               NaN   True
392      PT  227465         Prothrombin time              Labs   True
393      PT   51274                       PT        Hematology   True

In [70]:
d = D_ITEMS[[id in [1286, 824, 227465, 51274] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [1286, 824, 227465, 51274] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'PT']

   feature  ITEMID             LABEL    CATEGORY
59      PT     824       PT(11-13.5)       Coags
60      PT    1286                PT         NaN
61      PT  227465  Prothrombin time        Labs
62      PT   51274                PT  Hematology

## Platelets Count (ITEMID: 51265, 828, 227457)

In [71]:
d = D_ITEMS[['platelet' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Platelets Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [51265, 828, 227457] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['platelet' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Platelets Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [51265, 828, 227457] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Platelets Count']

/tmp/ipykernel_222022/2938712527.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/2938712527.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
394,Platelets Count,828,Platelets,Hematology,True
395,Platelets Count,3789,Platelet (150-440),Heme/Coag,False
396,Platelets Count,6256,Platelet Count,NaN,False
397,Platelets Count,30006,Platelets,NaN,False
398,Platelets Count,30105,OR Platelets,NaN,False
399,Platelets Count,225170,Platelets,Blood Products/Colloids,False
400,Platelets Count,225678,ZPlatelet Count,Labs,False
401,Platelets Count,226369,OR Platelet Intake,Blood Products/Colloids,False
402,Platelets Count,227071,PACU Platelet Intake,Blood Products/Colloids,False
403,Platelets Count,227457,Platelet Count,Labs,True
404,Platelets Count,51240,Large Platelets,Hematology,False
405,Platelets Count,51264,Platelet Clumps,Hematology,False
406,Platelets Count,51265,Platelet Count,Hematology,True
407,Platelets Count,51266,Platelet Smear,Hematology,False

In [72]:
d = D_ITEMS[[id in [51265, 828, 227457] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Platelets Count'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [51265, 828, 227457] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Platelets Count'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Platelets Count']

            feature  ITEMID           LABEL    CATEGORY
63  Platelets Count     828       Platelets  Hematology
64  Platelets Count  227457  Platelet Count        Labs
65  Platelets Count   51265  Platelet Count  Hematology

## SGOT-Serum Glutamic-Oxaloacetic Transaminse (ITEMID: 3801)

In [73]:
d = D_ITEMS[['got' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SGOT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [3801] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['got' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SGOT'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [3801] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'SGOT']

/tmp/ipykernel_222022/903942945.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/903942945.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature ITEMID LABEL   CATEGORY CHOOSE
408    SGOT   3801  SGOT  Chemistry   True

In [74]:
d = D_ITEMS[[id in [3801] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SGOT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [3801] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SGOT'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'SGOT']

   feature ITEMID LABEL   CATEGORY
66    SGOT   3801  SGOT  Chemistry

## Total bilirubun (ITEMID: 848, 225690, 1538, 50885)

In [75]:
d = D_ITEMS[[' bili' in str(s).lower() or 'bilirubin' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Total bilirubun'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [848, 225690, 1538, 50885] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['bili' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Total bilirubun'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [848, 225690, 1538, 50885] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Total bilirubun']

/tmp/ipykernel_222022/46024732.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/46024732.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
409,Total bilirubun,803,Direct Bili (0-0.3),Chemistry,False
410,Total bilirubun,848,Total Bili (0-1.5),Chemistry,True
411,Total bilirubun,1527,Direct Bili,Chemistry,False
412,Total bilirubun,1538,Total Bili,Chemistry,True
413,Total bilirubun,3765,Indirect Bili(0-1.0),Chemistry,False
414,Total bilirubun,4948,Bilirubin,NaN,False
415,Total bilirubun,5469,lytes and bili,NaN,False
416,Total bilirubun,5970,"LYTES, BILI",NaN,False
417,Total bilirubun,6001,Rebound bili,NaN,False
418,Total bilirubun,6016,Neo Bili,NaN,False
419,Total bilirubun,6052,"Neonatal bili, lytes",NaN,False
420,Total bilirubun,6054,Neonatal bili,NaN,False
421,Total bilirubun,6067,Neonatal Bili & Lyts,NaN,False
422,Total bilirubun,6074,NEONATAL BILI,NaN,False
423,Total bilirubun,6165,LYTES AND BILI,NaN,False
424,Total bilirubun,44672,Drain #2 Bili,NaN,False
425,Total bilirubun,225651,Direct Bilirubin,Labs,False
426,Total bilirubun,225690,Total Bilirubin,Labs,True
427,Total bilirubun,226998,Bilirubin_ApacheIV,Scores - APACHE IV (2),False
428,Total bilirubun,50838,"Bilirubin, Total, Ascites",Chemistry,False
429,Total bilirubun,50883,"Bilirubin, Direct",Chemistry,False
430,Total bilirubun,50884,"Bilirubin, Indirect",Chemistry,False
431,Total bilirubun,50885,"Bilirubin, Total",Chemistry,True
432,Total bilirubun,51012,"Bilirubin, Total, CSF",Chemistry,False
433,Total bilirubun,51028,"Bilirubin, Total, Body Fluid",Chemistry,False
434,Total bilirubun,51049,"Bilirubin, Total, Pleural",Chemistry,False
435,Total bilirubun,51096,Porphobilinogen Screen,Chemistry,False
436,Total bilirubun,51464,Bilirubin,Hematology,False
437,Total bilirubun,51465,Bilirubin Crystals,Hematology,False
438,Total bilirubun,51514,Urobilinogen,Hematology,False

In [76]:
d = D_ITEMS[[id in [848, 225690, 1538, 50885] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Total bilirubun'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [848, 225690, 1538, 50885] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Total bilirubun'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Total bilirubun']

            feature  ITEMID               LABEL   CATEGORY
67  Total bilirubun     848  Total Bili (0-1.5)  Chemistry
68  Total bilirubun    1538          Total Bili  Chemistry
69  Total bilirubun  225690     Total Bilirubin       Labs
70  Total bilirubun   50885    Bilirubin, Total  Chemistry

## White Blood Cell Count (ITEMID: 861, 1542, 220546, 51301, 51300, 1127)

In [77]:
d = D_ITEMS[['white' in str(s).lower() or 'wbc' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['White Blood Cell Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [861, 1542, 220546, 51301, 51300, 1127] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['white' in str(s).lower() or 'wbc' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['White Blood Cell Count'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [861, 1542, 220546, 51301, 51300, 1127] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'White Blood Cell Count']

/tmp/ipykernel_222022/196501207.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/196501207.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
439,White Blood Cell Count,861,"WBC (4-11,000)",Hematology,True
440,White Blood Cell Count,1127,"WBC (4-11,000)",Hematology,True
441,White Blood Cell Count,1542,WBC,Hematology,True
442,White Blood Cell Count,3834,WhiteBloodC 4.0-11.0,Heme/Coag,False
443,White Blood Cell Count,4200,WBC 4.0-11.0,Heme/Coag,False
444,White Blood Cell Count,220546,WBC,Labs,True
445,White Blood Cell Count,226779,WbcApacheIIScore,Scores - APACHE II,False
446,White Blood Cell Count,226780,WBCApacheIIValue,Scores - APACHE II,False
447,White Blood Cell Count,227062,WBC_ApacheIV,Scores - APACHE IV (2),False
448,White Blood Cell Count,227063,WBCScore_ApacheIV,Scores - APACHE IV (2),False
449,White Blood Cell Count,51128,"WBC, Ascites",Hematology,False
450,White Blood Cell Count,51300,WBC Count,Hematology,True
451,White Blood Cell Count,51301,White Blood Cells,Hematology,True
452,White Blood Cell Count,51363,"WBC, CSF",Hematology,False
453,White Blood Cell Count,51384,"WBC, Joint Fluid",Hematology,False
454,White Blood Cell Count,51439,"WBC, Other Fluid",Hematology,False
455,White Blood Cell Count,51458,"WBC, Pleural",Hematology,False
456,White Blood Cell Count,51516,WBC,Hematology,False
457,White Blood Cell Count,51517,WBC Casts,Hematology,False
458,White Blood Cell Count,51518,WBC Clumps,Hematology,False
459,White Blood Cell Count,51533,WBCP,HEMATOLOGY,False

In [78]:
d = D_ITEMS[[id in [861, 1542, 220546, 51301, 51300, 1127] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['White Blood Cell Count'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)

d = D_LABITEMS[[id in [861, 1542, 220546, 51301, 51300, 1127] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['White Blood Cell Count'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'White Blood Cell Count']

                   feature  ITEMID              LABEL    CATEGORY
71  White Blood Cell Count     861     WBC (4-11,000)  Hematology
72  White Blood Cell Count    1127   WBC   (4-11,000)  Hematology
73  White Blood Cell Count    1542                WBC  Hematology
74  White Blood Cell Count  220546                WBC        Labs
75  White Blood Cell Count   51300          WBC Count  Hematology
76  White Blood Cell Count   51301  White Blood Cells  Hematology

## Diastolic Blood Pressure (ITEMID: 224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440)

In [79]:
d = D_ITEMS[[('blood pressure' in str(s).lower() or 'bp' in str(s).lower()) and 'diastolic' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Diastolic Blood Pressure'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Diastolic Blood Pressure']

/tmp/ipykernel_222022/2507744841.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
460,Diastolic Blood Pressure,8364,ABP [Diastolic],NaN,False
461,Diastolic Blood Pressure,8368,Arterial BP [Diastolic],NaN,True
462,Diastolic Blood Pressure,8440,Manual BP [Diastolic],NaN,True
463,Diastolic Blood Pressure,8441,NBP [Diastolic],NaN,True
464,Diastolic Blood Pressure,8444,Orthostat BP sitting [Diastolic],NaN,False
465,Diastolic Blood Pressure,8445,OrthostatBP standing [Diastolic],NaN,False
466,Diastolic Blood Pressure,8446,Orthostatic BP lying [Diastolic],NaN,False
467,Diastolic Blood Pressure,8502,BP Cuff [Diastolic],NaN,False
468,Diastolic Blood Pressure,8503,BP Left Arm [Diastolic],NaN,False
469,Diastolic Blood Pressure,8504,BP Left Leg [Diastolic],NaN,False
470,Diastolic Blood Pressure,8505,BP PAL [Diastolic],NaN,False
471,Diastolic Blood Pressure,8506,BP Right Arm [Diastolic],NaN,False
472,Diastolic Blood Pressure,8507,BP Right Leg [Diastolic],NaN,False
473,Diastolic Blood Pressure,8508,BP UAC [Diastolic],NaN,False
474,Diastolic Blood Pressure,8555,Arterial BP #2 [Diastolic],NaN,True
475,Diastolic Blood Pressure,220051,Arterial Blood Pressure diastolic,Routine Vital Signs,True
476,Diastolic Blood Pressure,220180,Non Invasive Blood Pressure diastolic,Routine Vital Signs,True
477,Diastolic Blood Pressure,224643,Manual Blood Pressure Diastolic Left,Routine Vital Signs,True
478,Diastolic Blood Pressure,225310,ART BP Diastolic,Routine Vital Signs,True
479,Diastolic Blood Pressure,227242,Manual Blood Pressure Diastolic Right,Routine Vital Signs,False

In [80]:
d = D_ITEMS[[id in [224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Diastolic Blood Pressure'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Diastolic Blood Pressure']

,feature,ITEMID,LABEL,CATEGORY
77,Diastolic Blood Pressure,8368,Arterial BP [Diastolic],NaN
78,Diastolic Blood Pressure,8440,Manual BP [Diastolic],NaN
79,Diastolic Blood Pressure,8441,NBP [Diastolic],NaN
80,Diastolic Blood Pressure,8555,Arterial BP #2 [Diastolic],NaN
81,Diastolic Blood Pressure,220051,Arterial Blood Pressure diastolic,Routine Vital Signs
82,Diastolic Blood Pressure,220180,Non Invasive Blood Pressure diastolic,Routine Vital Signs
83,Diastolic Blood Pressure,224643,Manual Blood Pressure Diastolic Left,Routine Vital Signs
84,Diastolic Blood Pressure,225310,ART BP Diastolic,Routine Vital Signs

## Systolic Blood Pressure (ITEMID: 442, 227243, 224167, 220179, 225309)

In [81]:
d = D_ITEMS[[('blood pressure' in str(s).lower() or 'bp' in str(s).lower()) and 'systolic' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Systolic Blood Pressure'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [442, 227243, 224167, 220179, 225309] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Systolic Blood Pressure']

/tmp/ipykernel_222022/747879380.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
480,Systolic Blood Pressure,6,ABP [Systolic],NaN,False
481,Systolic Blood Pressure,51,Arterial BP [Systolic],NaN,False
482,Systolic Blood Pressure,442,Manual BP [Systolic],NaN,True
483,Systolic Blood Pressure,455,NBP [Systolic],NaN,False
484,Systolic Blood Pressure,480,Orthostat BP sitting [Systolic],NaN,False
485,Systolic Blood Pressure,482,OrthostatBP standing [Systolic],NaN,False
486,Systolic Blood Pressure,484,Orthostatic BP lying [Systolic],NaN,False
487,Systolic Blood Pressure,3313,BP Cuff [Systolic],NaN,False
488,Systolic Blood Pressure,3315,BP Left Arm [Systolic],NaN,False
489,Systolic Blood Pressure,3317,BP Left Leg [Systolic],NaN,False
490,Systolic Blood Pressure,3319,BP PAL [Systolic],NaN,False
491,Systolic Blood Pressure,3321,BP Right Arm [Systolic],NaN,False
492,Systolic Blood Pressure,3323,BP Right Leg [Systolic],NaN,False
493,Systolic Blood Pressure,3325,BP UAC [Systolic],NaN,False
494,Systolic Blood Pressure,6701,Arterial BP #2 [Systolic],NaN,False
495,Systolic Blood Pressure,220050,Arterial Blood Pressure systolic,Routine Vital Signs,False
496,Systolic Blood Pressure,220179,Non Invasive Blood Pressure systolic,Routine Vital Signs,True
497,Systolic Blood Pressure,224167,Manual Blood Pressure Systolic Left,Routine Vital Signs,True
498,Systolic Blood Pressure,225309,ART BP Systolic,Routine Vital Signs,True
499,Systolic Blood Pressure,227243,Manual Blood Pressure Systolic Right,Routine Vital Signs,True

In [82]:
d = D_ITEMS[[id in [442, 227243, 224167, 220179, 225309] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Systolic Blood Pressure'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Systolic Blood Pressure']

,feature,ITEMID,LABEL,CATEGORY
85,Systolic Blood Pressure,442,Manual BP [Systolic],NaN
86,Systolic Blood Pressure,220179,Non Invasive Blood Pressure systolic,Routine Vital Signs
87,Systolic Blood Pressure,224167,Manual Blood Pressure Systolic Left,Routine Vital Signs
88,Systolic Blood Pressure,225309,ART BP Systolic,Routine Vital Signs
89,Systolic Blood Pressure,227243,Manual Blood Pressure Systolic Right,Routine Vital Signs

## Mean Blood Pressure (ITEMID: 456, 220181, 224, 225312, 220052, 52, 6702, 224322)

In [83]:
d = D_ITEMS[['blood pressure mean' in str(s).lower() or ('bp' in str(s).lower() and 'mean' in str(s).lower()) for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Mean Blood Pressure'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [456, 220181, 224, 225312, 220052, 52, 6702, 224322] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Mean Blood Pressure']

/tmp/ipykernel_222022/1684628915.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
500,Mean Blood Pressure,52,Arterial BP Mean,NaN,True
501,Mean Blood Pressure,224,IABP Mean,NaN,True
502,Mean Blood Pressure,443,Manual BP Mean(calc),NaN,False
503,Mean Blood Pressure,456,NBP Mean,NaN,True
504,Mean Blood Pressure,2732,Femoral ABP (Mean),NaN,False
505,Mean Blood Pressure,3312,BP Cuff [Mean],NaN,False
506,Mean Blood Pressure,3314,BP Left Arm [Mean],NaN,False
507,Mean Blood Pressure,3316,BP Left Leg [Mean],NaN,False
508,Mean Blood Pressure,3318,BP PAL [Mean],NaN,False
509,Mean Blood Pressure,3320,BP Right Arm [Mean],NaN,False
510,Mean Blood Pressure,3322,BP Right Leg [Mean],NaN,False
511,Mean Blood Pressure,3324,BP UAC [Mean],NaN,False
512,Mean Blood Pressure,5731,FEMORAL ABP MEAN,NaN,False
513,Mean Blood Pressure,6653,femoral abp mean,NaN,False
514,Mean Blood Pressure,6702,Arterial BP Mean #2,NaN,True
515,Mean Blood Pressure,7618,BP Lt. leg Mean,NaN,False
516,Mean Blood Pressure,7620,BP Rt. Arm Mean,NaN,False
517,Mean Blood Pressure,7622,BP Rt. Leg Mean,NaN,False
518,Mean Blood Pressure,220052,Arterial Blood Pressure mean,Routine Vital Signs,True
519,Mean Blood Pressure,220181,Non Invasive Blood Pressure mean,Routine Vital Signs,True
520,Mean Blood Pressure,224322,IABP Mean,IABP,True
521,Mean Blood Pressure,225312,ART BP mean,Routine Vital Signs,True

In [84]:
d = D_ITEMS[[id in [456, 220181, 224, 225312, 220052, 52, 6702, 224322] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Mean Blood Pressure'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Mean Blood Pressure']

,feature,ITEMID,LABEL,CATEGORY
90,Mean Blood Pressure,52,Arterial BP Mean,NaN
91,Mean Blood Pressure,224,IABP Mean,NaN
92,Mean Blood Pressure,456,NBP Mean,NaN
93,Mean Blood Pressure,6702,Arterial BP Mean #2,NaN
94,Mean Blood Pressure,220052,Arterial Blood Pressure mean,Routine Vital Signs
95,Mean Blood Pressure,220181,Non Invasive Blood Pressure mean,Routine Vital Signs
96,Mean Blood Pressure,224322,IABP Mean,IABP
97,Mean Blood Pressure,225312,ART BP mean,Routine Vital Signs

## PaCO2 - Partial pressure of carbon dioxide (ITEMID: 226062, 778, 220235, 50818)

In [85]:
d = D_ITEMS[['co2 pressure' in str(s).lower() or 'paco2' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PaCO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [226062, 778, 220235, 50818] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'PaCO2']

/tmp/ipykernel_222022/2750481660.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID                  LABEL                CATEGORY CHOOSE
522   PaCO2     778         Arterial PaCO2                     ABG   True
523   PaCO2  220235  Arterial CO2 Pressure                    Labs   True
524   PaCO2  226062    Venous CO2 Pressure                    Labs   True
525   PaCO2  227038  PHPaCO2Score_ApacheIV  Scores - APACHE IV (2)  False

In [86]:
d = D_ITEMS[[id in [226062, 778, 220235, 50818] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PaCO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'PaCO2']

    feature  ITEMID                  LABEL CATEGORY
98    PaCO2     778         Arterial PaCO2      ABG
99    PaCO2  220235  Arterial CO2 Pressure     Labs
100   PaCO2  226062    Venous CO2 Pressure     Labs

## PaO2 - partial pressure of oxygen (ITEMID: 779)

In [87]:
d = D_ITEMS[['pao2' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PaO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [779] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'PaO2']

/tmp/ipykernel_222022/3652638600.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature ITEMID          LABEL CATEGORY CHOOSE
526    PaO2    490           PAO2      NaN  False
527    PaO2    779  Arterial PaO2      ABG   True

In [88]:
d = D_ITEMS[[id in [779] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['PaO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'PaO2']

    feature ITEMID          LABEL CATEGORY
101    PaO2    779  Arterial PaO2      ABG

## FiO2 - fractional inspired oxygen (ITEMID: 189, 727, 223835)

In [89]:
d = D_ITEMS[['fio2' in str(s).lower() or 'inspired' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['FiO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [189, 727, 223835] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'FiO2']

/tmp/ipykernel_222022/3372351718.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

    feature  ITEMID                 LABEL                CATEGORY CHOOSE
528    FiO2     185       FIO2 Alarm-High                     NaN  False
529    FiO2     186        FIO2 Alarm-Low                     NaN  False
530    FiO2     189       FiO2 (Analyzed)                     NaN   True
531    FiO2     190              FiO2 Set                     NaN  False
532    FiO2     191     FiO2/O2 Delivered                     NaN  False
533    FiO2     417     Inspired Gas Temp                     NaN  False
534    FiO2     727           Vision FiO2                     NaN   True
535    FiO2    1040            BIpap FIO2                     NaN  False
536    FiO2    1206             HFO FIO2:                     NaN  False
537    FiO2    1863              HFO-FiO2                     NaN  False
538    FiO2    2518             HFO- FIO2                     NaN  False
539    FiO2    2981                  FiO2                     NaN  False
540    FiO2    3420                  FIO2                     NaN  False
541    FiO2    3421      FIO2 Alarm [Low]                     NaN  False
542    FiO2    3422           FIO2 [Meas]                     NaN  False
543    FiO2    5955    Analyzed INOV FiO2                     NaN  False
544    FiO2    7018             ecmo fio2                     NaN  False
545    FiO2    7041        vapotherm fio2                     NaN  False
546    FiO2    7570              FIO2 SET                     NaN  False
547    FiO2    8517     FIO2 Alarm [High]                     NaN  False
548    FiO2  223835  Inspired O2 Fraction             Respiratory   True
549    FiO2  223872    Inspired Gas Temp.             Respiratory  False
550    FiO2  226754     FiO2ApacheIIValue      Scores - APACHE II  False
551    FiO2  227009     FiO2_ApacheIV_old  Scores - APACHE IV (2)  False
552    FiO2  227010         FiO2_ApacheIV  Scores - APACHE IV (2)  False

In [90]:
d = D_ITEMS[[id in [189, 727, 223835] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['FiO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'FiO2']

    feature  ITEMID                 LABEL     CATEGORY
102    FiO2     189       FiO2 (Analyzed)          NaN
103    FiO2     727           Vision FiO2          NaN
104    FiO2  223835  Inspired O2 Fraction  Respiratory

## PaO/FiO2 ratio (ITEMID: )

## Respiratory Rate (ITEMID: 224422, 618, 220210, 224689, 614, 651, 224690, 615)

In [91]:
d = D_ITEMS[['respiratory rate' in str(s).lower() or ' rr' in str(s).lower() or 'resp rate' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Respiratory Rate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [224422, 618, 220210, 224689, 614, 651, 224690, 615] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Respiratory Rate']

/tmp/ipykernel_222022/1171781896.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
553,Respiratory Rate,614,Resp Rate (Spont),NaN,True
554,Respiratory Rate,615,Resp Rate (Total),NaN,True
555,Respiratory Rate,618,Respiratory Rate,NaN,True
556,Respiratory Rate,619,Respiratory Rate Set,NaN,False
557,Respiratory Rate,651,Spon RR (Mech.),NaN,True
558,Respiratory Rate,1635,HIGH Resp Rate,NaN,False
559,Respiratory Rate,1884,Spont Resp rate,NaN,False
560,Respiratory Rate,3142,high rr,NaN,False
561,Respiratory Rate,3603,Resp Rate,NaN,False
562,Respiratory Rate,5880,low rr,NaN,False
563,Respiratory Rate,6106,High RR,NaN,False
564,Respiratory Rate,6749,total RR,NaN,False
565,Respiratory Rate,220210,Respiratory Rate,Respiratory,True
566,Respiratory Rate,224422,Spont RR,Respiratory,True
567,Respiratory Rate,224688,Respiratory Rate (Set),Respiratory,False
568,Respiratory Rate,224689,Respiratory Rate (spontaneous),Respiratory,True
569,Respiratory Rate,224690,Respiratory Rate (Total),Respiratory,True
570,Respiratory Rate,227860,Rest RR - Aerobic Capacity,OT Notes,False
571,Respiratory Rate,227866,Activity RR - Aerobic Capacity,OT Notes,False
572,Respiratory Rate,227872,Recovery RR - Aerobic Capacity,OT Notes,False
573,Respiratory Rate,227918,Rest RR - Aerobic Activity Response,OT Notes,False
574,Respiratory Rate,227925,Activity RR - Aerobic Activity Response,OT Notes,False
575,Respiratory Rate,227932,Recovery RR - Aerobic Activity Response,OT Notes,False

In [92]:
d = D_ITEMS[[id in [224422, 618, 220210, 224689, 614, 651, 224690, 615] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Respiratory Rate'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Respiratory Rate']

              feature  ITEMID                           LABEL     CATEGORY
105  Respiratory Rate     614               Resp Rate (Spont)          NaN
106  Respiratory Rate     615               Resp Rate (Total)          NaN
107  Respiratory Rate     618                Respiratory Rate          NaN
108  Respiratory Rate     651                 Spon RR (Mech.)          NaN
109  Respiratory Rate  220210                Respiratory Rate  Respiratory
110  Respiratory Rate  224422                        Spont RR  Respiratory
111  Respiratory Rate  224689  Respiratory Rate (spontaneous)  Respiratory
112  Respiratory Rate  224690        Respiratory Rate (Total)  Respiratory

## Temperature - Celsius (ITEMID: 223761, 677, 676, 679, 678, 223762)

In [93]:
d = D_ITEMS[['temperature' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Temperature'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [223761, 677, 676, 679, 678, 223762] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Temperature']

/tmp/ipykernel_222022/1583605233.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
576,Temperature,591,RLE [Temperature],NaN,False
577,Temperature,597,RUE [Temperature],NaN,False
578,Temperature,645,Skin [Temperature],NaN,False
579,Temperature,676,Temperature C,NaN,True
580,Temperature,677,Temperature C (calc),NaN,True
581,Temperature,678,Temperature F,NaN,True
582,Temperature,679,Temperature F (calc),NaN,True
583,Temperature,8537,"Temp/Iso/Warmer [Temperature, degrees C]",NaN,False
584,Temperature,223761,Temperature Fahrenheit,Routine Vital Signs,True
585,Temperature,223762,Temperature Celsius,Routine Vital Signs,True
586,Temperature,224027,Skin Temperature,Skin - Assessment,False
587,Temperature,224642,Temperature Site,Routine Vital Signs,False
588,Temperature,224674,Changes in Temperature,Toxicology,False
589,Temperature,226329,Blood Temperature CCO (C),Routine Vital Signs,False
590,Temperature,227054,TemperatureF_ApacheIV,Scores - APACHE IV (2),False
591,Temperature,228242,Pt. Temperature (BG) (SOFT),Labs,False

In [94]:
d = D_ITEMS[[id in [223761, 677, 676, 679, 678, 223762] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Temperature'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Temperature']

         feature  ITEMID                   LABEL             CATEGORY
113  Temperature     676           Temperature C                  NaN
114  Temperature     677    Temperature C (calc)                  NaN
115  Temperature     678           Temperature F                  NaN
116  Temperature     679    Temperature F (calc)                  NaN
117  Temperature  223761  Temperature Fahrenheit  Routine Vital Signs
118  Temperature  223762     Temperature Celsius  Routine Vital Signs

## Weight - kg (ITEMID: 226531, 763, 224639, 226512)

In [95]:
d = D_ITEMS[['weight' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Weight'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [226531, 763, 224639, 226512] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Weight']

/tmp/ipykernel_222022/2398940227.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
592,Weight,580,Previous Weight,NaN,False
593,Weight,581,Previous WeightF,NaN,False
594,Weight,733,Weight Change,NaN,False
595,Weight,763,Daily Weight,NaN,True
596,Weight,3580,Present Weight (kg),NaN,False
597,Weight,3581,Present Weight (lb),NaN,False
598,Weight,3582,Present Weight (oz),NaN,False
599,Weight,3583,Previous Weight (kg),NaN,False
600,Weight,3692,Weight Change (gms),NaN,False
601,Weight,3693,Weight Kg,NaN,False
602,Weight,3723,Birth Weight (kg),NaN,False
603,Weight,4183,Birthweight (kg),NaN,False
604,Weight,7000,ideal body weight,NaN,False
605,Weight,45271,Chucks Pad Weight,NaN,False
606,Weight,224639,Daily Weight,General,True
607,Weight,225124,Unintentional weight loss >10 lbs.,Adm History/FHPA,False
608,Weight,226512,Admission Weight (Kg),General,True
609,Weight,226531,Admission Weight (lbs.),General,True
610,Weight,226740,APACHE II Diagnosistic weight factors - Medical,Scores - APACHE II,False
611,Weight,226741,APACHE II Diagnosistic weight factors - Surgic...,Scores - APACHE II,False
612,Weight,226742,APACHE II Diagnosistic weight factors - Surgical,Scores - APACHE II,False
613,Weight,226846,Feeding Weight,General,False
614,Weight,227854,Weight Bearing Status,OT Notes,False

In [96]:
d = D_ITEMS[[id in [226531, 763, 224639, 226512] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Weight'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Weight']

    feature  ITEMID                    LABEL CATEGORY
119  Weight     763             Daily Weight      NaN
120  Weight  224639             Daily Weight  General
121  Weight  226512    Admission Weight (Kg)  General
122  Weight  226531  Admission Weight (lbs.)  General

## Heart Rate (ITEMID: 211, 220045)

In [97]:
d = D_ITEMS[['heart rate' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Heart Rate'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [211, 220045] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Heart Rate']

/tmp/ipykernel_222022/3342068107.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

        feature  ITEMID                    LABEL             CATEGORY CHOOSE
615  Heart Rate     211               Heart Rate                  NaN   True
616  Heart Rate    3494        Lowest Heart Rate                  NaN  False
617  Heart Rate  220045               Heart Rate  Routine Vital Signs   True
618  Heart Rate  220046  Heart rate Alarm - High               Alarms  False
619  Heart Rate  220047   Heart Rate Alarm - Low               Alarms  False

In [98]:
d = D_ITEMS[[id in [211, 220045] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Heart Rate'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Heart Rate']

        feature  ITEMID       LABEL             CATEGORY
123  Heart Rate     211  Heart Rate                  NaN
124  Heart Rate  220045  Heart Rate  Routine Vital Signs

## SpO2 - Oxygen Saturation (ITEMID: 646, 50817, 834, 220277)

In [99]:
d = D_ITEMS[['o2' in str(s).lower() and ('sa' in str(s).lower() or 'sp' in str(s).lower())for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SpO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [646, 50817, 834, 220277] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS.query("ITEMID == 50817")[['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SpO2'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [646, 50817, 834, 220277] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'SpO2']

/tmp/ipykernel_222022/1293691150.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/1293691150.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

,feature,ITEMID,LABEL,CATEGORY,CHOOSE
620,SpO2,646,SpO2,NaN,True
621,SpO2,823,Mixed Venous O2% Sat,Blood Gases,False
622,SpO2,834,SaO2,ABG's,True
623,SpO2,2396,MIVED VENOUS O2 SAT,NaN,False
624,SpO2,2574,MVO2 SAT,NaN,False
625,SpO2,2767,Mixed Venous SaO2,NaN,False
626,SpO2,2842,JV O2 Sat,NaN,False
627,SpO2,2933,SVO2 SAT,NaN,False
628,SpO2,2955,JVO2 SAT,NaN,False
629,SpO2,3288,O2 sat [Pre],NaN,False
630,SpO2,3495,Lowest SaO2,NaN,False
631,SpO2,3545,O2 Sat W/Seizure,NaN,False
632,SpO2,3609,SaO2 Alarm [Low],NaN,False
633,SpO2,4833,SaO2 (post),NaN,False
634,SpO2,5501,O2 sat probe change,NaN,False
635,SpO2,5505,O2 sat probe site,NaN,False
636,SpO2,5636,2nd O2 Sat,NaN,False
637,SpO2,5820,SpO2 Alarm [Low],NaN,False
638,SpO2,5896,VEN0US O2 SAT,NaN,False
639,SpO2,6024,venous o2 sat,NaN,False
640,SpO2,6254,Post-Ductal SaO2,NaN,False
641,SpO2,6719,SpO2-L,NaN,False
642,SpO2,7293,VENOUS O2 SAT,NaN,False
643,SpO2,7440,walking o2 sat,NaN,False
644,SpO2,8208,Postductal O2 Sat,NaN,False
645,SpO2,8209,Preductal O2 Sat,NaN,False
646,SpO2,8498,O2 sat [Post],NaN,False
647,SpO2,8532,SaO2 Alarm [High],NaN,False
648,SpO2,8554,SpO2 Alarm [High],NaN,False
649,SpO2,220227,Arterial O2 Saturation,Labs,False
650,SpO2,220277,O2 saturation pulseoxymetry,Respiratory,True
651,SpO2,223769,O2 Saturation Pulseoxymetry Alarm - High,Alarms,False
652,SpO2,223770,O2 Saturation Pulseoxymetry Alarm - Low,Alarms,False
653,SpO2,223835,Inspired O2 Fraction,Respiratory,False
654,SpO2,224719,SaO2 < 90% > 2 min,Respiratory,False
655,SpO2,225674,Mixed Venous O2% Sat,Labs,False
656,SpO2,226253,SpO2 Desat Limit,Alarms,False
657,SpO2,226541,ScvO2 Central Venous O2% Sat,Labs,False
658,SpO2,226860,RA %O2 Saturation (PA Line),PA Line Insertion,False
659,SpO2,226861,ART %O2 saturation (PA Line),PA Line Insertion,False
660,SpO2,226862,PA %O2 Saturation (PA Line),PA Line Insertion,False
661,SpO2,226863,PVR %O2 Saturation (PA Line),PA Line Insertion,False
662,SpO2,226865,SVR %O2 Saturation (PA Line),PA Line Insertion,False
663,SpO2,227685,ZCentral Venous O2% Sat,Labs,False
664,SpO2,227686,Central Venous O2% Sat,Labs,False
665,SpO2,227861,Rest O2 Sat - Aerobic Capacity,OT Notes,False
666,SpO2,227867,Activity O2 Sat - Aerobic Capacity,OT Notes,False
667,SpO2,227873,Recovery O2 Sat - Aerobic Capacity,OT Notes,False
668,SpO2,227919,Rest O2 Sat - Aerobic Activity Response,OT Notes,False
669,SpO2,227926,Activity O2 sat - Aerobic Activity Response,OT Notes,False
670,SpO2,227933,Recovery O2 sat - Aerobic Activity Response,OT Notes,False
671,SpO2,50817,Oxygen Saturation,Blood Gas,True

In [100]:
d = D_ITEMS[[id in [646, 50817, 834, 220277] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SpO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)


d = D_LABITEMS[[id in [646, 50817, 834, 220277] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['SpO2'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'SpO2']

    feature  ITEMID                        LABEL     CATEGORY
125    SpO2     646                         SpO2          NaN
126    SpO2     834                         SaO2        ABG's
127    SpO2  220277  O2 saturation pulseoxymetry  Respiratory
128    SpO2   50817            Oxygen Saturation    Blood Gas

## Chloride (ITENID: 50806, 220602, 226536, 1523, 788, 50902)

In [104]:
d = D_ITEMS[['chloride' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Chloride'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['chloride' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Chloride'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
d['CHOOSE'][d[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Chloride']

/tmp/ipykernel_222022/329562016.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/329562016.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

      feature  ITEMID                          LABEL          CATEGORY CHOOSE
672  Chloride     788             Chloride (100-112)         Chemistry   True
673  Chloride    1523                       Chloride         Chemistry   True
674  Chloride    3578             Potassium Chloride               NaN  False
675  Chloride    3624                Sodium Chloride               NaN  False
676  Chloride    3747            Chloride  (100-112)         Chemistry  False
677  Chloride    4193                   ABG Chloride             ABG's  False
678  Chloride    5753               Calcium Chloride               NaN  False
679  Chloride   30022               Calcium Chloride               NaN  False
680  Chloride   30296                Sodium Chloride               NaN  False
681  Chloride   30297             Potassium Chloride               NaN  False
682  Chloride   30300           Calcium Chloride 10%               NaN  False
683  Chloride   41807           Calcium chloride IVP  Free Form Intake  False
684  Chloride   43826           HYDROCHLORIDE ACID G  Free Form Intake  False
685  Chloride  220602               Chloride (serum)              Labs   True
686  Chloride  225166             Potassium Chloride       Medications  False
687  Chloride  226536         Chloride (whole blood)              Labs   True
688  Chloride  227520        Methadone Hydrochloride       Medications  False
689  Chloride  228385        Chloride (serum) (soft)              Labs  False
690  Chloride  228386  Chloride (whole blood) (soft)              Labs  False
691  Chloride   50806          Chloride, Whole Blood         Blood Gas   True
692  Chloride   50839              Chloride, Ascites         Chemistry  False
693  Chloride   50902                       Chloride         Chemistry   True
694  Chloride   51013                  Chloride, CSF         Chemistry  False
695  Chloride   51030           Chloride, Body Fluid         Chemistry  False
696  Chloride   51050              Chloride, Pleural         Chemistry  False
697  Chloride   51062                Chloride, Stool         Chemistry  False
698  Chloride   51078                Chloride, Urine         Chemistry  False

In [105]:
d = D_ITEMS[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in D_ITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Chloride'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)


d = D_LABITEMS[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in D_LABITEMS['ITEMID']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Chloride'] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY']]
choosen_feature = pd.concat([choosen_feature, d], ignore_index=True)
choosen_feature[choosen_feature['feature'] == 'Chloride']

      feature  ITEMID                   LABEL   CATEGORY
129  Chloride     788      Chloride (100-112)  Chemistry
130  Chloride    1523                Chloride  Chemistry
131  Chloride  220602        Chloride (serum)       Labs
132  Chloride  226536  Chloride (whole blood)       Labs
133  Chloride   50806   Chloride, Whole Blood  Blood Gas
134  Chloride   50902                Chloride  Chemistry

## Arterial_BE

In [109]:
D_ITEMS[['base excess' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]

       ITEMID                 LABEL    CATEGORY
52         74           Base Excess         NaN
669       776  Arterial Base Excess         ABG
2590     3740   Base Excess (other)  Other ABGs
2643     3829    Venous Base Excess  Venous ABG
2670     4196     Base Excess (cap)  Other ABGs
10267  224828  Arterial Base Excess        Labs

In [110]:
D_LABITEMS[['base excess' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]

   ITEMID        LABEL   CATEGORY
2   50802  Base Excess  Blood Gas

In [111]:
d = D_ITEMS[['base excess' in str(s).lower() for s in D_ITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial_BE'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
# d['CHOOSE'][d[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)

d = D_LABITEMS[['base excess' in str(s).lower() for s in D_LABITEMS['LABEL']]][['ITEMID', 'LABEL', 'CATEGORY']]
d['feature'] = ['Arterial_BE'] * len(d)
d['CHOOSE'] = [False] * len(d)
d = d[['feature', 'ITEMID', 'LABEL', 'CATEGORY', 'CHOOSE']]
# d['CHOOSE'][d[[id in [50806, 220602, 226536, 1523, 788, 50902] for id in d['ITEMID']]].index] = True
sim_feature = pd.concat([sim_feature, d], ignore_index=True)
sim_feature[sim_feature['feature'] == 'Arterial_BE']

/tmp/ipykernel_222022/3166520214.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)
/tmp/ipykernel_222022/3166520214.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  sim_feature = pd.concat([sim_feature, d], ignore_index=True)

         feature  ITEMID                 LABEL    CATEGORY CHOOSE
699  Arterial_BE      74           Base Excess         NaN  False
700  Arterial_BE     776  Arterial Base Excess         ABG  False
701  Arterial_BE    3740   Base Excess (other)  Other ABGs  False
702  Arterial_BE    3829    Venous Base Excess  Venous ABG  False
703  Arterial_BE    4196     Base Excess (cap)  Other ABGs  False
704  Arterial_BE  224828  Arterial Base Excess        Labs  False
705  Arterial_BE   50802           Base Excess   Blood Gas  False

## Mechanical Ventilation (ITEMID: 225792, 225794)

In [98]:
D_ITEMS[['ventilation' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
10592,12438,13682,225303,Mask Ventilation (Intubation),Mask Ventilation (Intubation),metavision,chartevents,Intubation,NaN,Text,NaN
10932,10213,13977,225792,Invasive Ventilation,Invasive Ventilation,metavision,procedureevents_mv,2-Ventilation,None,Process,NaN
10933,10214,13978,225794,Non-invasive Ventilation,Non-invasive Ventilation,metavision,procedureevents_mv,2-Ventilation,None,Process,NaN

In [99]:
PROCEDUREEVENTS_MV[PROCEDUREEVENTS_MV['ITEMID'] == 225792]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
23,402,31608,152365,237055.0,2133-01-10 01:00:00,2133-02-03 12:37:00,225792,35257.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
89,4,30354,120396,243526.0,2154-12-24 12:06:00,2154-12-26 17:00:00,225792,3174.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
142,57,18082,181163,267692.0,2156-02-24 11:38:00,2156-02-27 14:00:00,225792,4462.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,Stopped,NaN,NaN,NaN
188,103,27143,189921,258818.0,2189-12-09 13:00:00,2189-12-14 13:34:00,225792,7234.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257948,257760,45910,153970,249864.0,2197-10-25 19:40:00,2197-10-26 17:05:00,225792,1285.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257983,254925,50532,111610,237192.0,2195-10-15 18:15:00,2195-10-16 14:10:00,225792,1195.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257997,254939,53919,154799,256370.0,2141-08-03 18:50:00,2141-08-04 13:45:00,225792,1135.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258014,255151,94220,108129,204300.0,2170-07-27 11:44:00,2170-07-27 19:35:00,225792,471.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258060,257336,41958,182711,246007.0,2155-08-09 01:49:00,2155-08-10 09:42:00,225792,1913.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

In [100]:
PROCEDUREEVENTS_MV[PROCEDUREEVENTS_MV['ITEMID'] == 225794]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
159,74,18082,181163,267692.0,2156-02-27 14:45:00,2156-02-29 06:58:00,225794,2413.0,hour,NaN,...,Ventilation,NaN,Task,1,0,2,Rewritten,RN,NaN,2156-02-29 12:59:00
160,75,18082,181163,267692.0,2156-02-27 14:45:00,2156-02-29 06:57:00,225794,2412.0,hour,NaN,...,Ventilation,NaN,Task,0,0,0,Rewritten,NaN,NaN,NaN
161,76,18082,181163,267692.0,2156-02-27 14:45:00,2156-02-29 07:00:00,225794,2415.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
162,77,18082,181163,267692.0,2156-02-29 08:30:00,2156-03-02 00:45:00,225794,2415.0,hour,NaN,...,Ventilation,NaN,Task,0,0,0,Rewritten,NaN,NaN,NaN
163,78,18082,181163,267692.0,2156-02-29 08:30:00,2156-02-29 08:32:00,225794,2.0,hour,NaN,...,Ventilation,NaN,Task,0,0,2,Rewritten,RN,NaN,2156-02-29 12:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257761,257714,62239,191607,298236.0,2145-10-14 10:30:00,2145-10-14 13:05:00,225794,155.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257888,255132,55781,186666,208138.0,2193-08-30 15:29:00,2193-08-31 12:20:00,225794,1251.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257918,257217,61106,136735,289579.0,2129-09-26 22:00:00,2129-09-27 08:16:00,225794,616.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257936,257748,84120,102591,269805.0,2136-09-21 14:33:00,2136-09-22 07:55:00,225794,1042.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
257990,254932,50532,111610,237192.0,2195-10-17 21:32:00,2195-10-18 14:49:00,225794,1037.0,min,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

## Output characteristics choose

In [112]:
sim_feature.to_csv('../data/mimiciii/sim_feature.csv')

In [113]:
choosen_feature.to_csv('../data/mimiciii/choosen_feature.csv')