## Import package

In [1]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict
from tqdm import tqdm

pd.options.mode.chained_assignment = None

In [2]:
prefix_path = '../data/mimiciii/1.4/'

## Load Data

In [92]:
paths = sorted(os.listdir(prefix_path))
remove_paths = []
for path in paths:
    if path[-4:] != '.csv':
        remove_paths.append(path)
for path in remove_paths:
    paths.remove(path)
paths

['ADMISSIONS.csv',
 'CALLOUT.csv',
 'CAREGIVERS.csv',
 'CHARTEVENTS1.csv',
 'CHARTEVENTS2.csv',
 'CHARTEVENTS3.csv',
 'CHARTEVENTS4.csv',
 'CHARTEVENTS5.csv',
 'CHARTEVENTS6.csv',
 'CHARTEVENTS7.csv',
 'CHARTEVENTS8.csv',
 'CHARTEVENTS9.csv',
 'CPTEVENTS.csv',
 'DATETIMEEVENTS.csv',
 'DIAGNOSES_ICD.csv',
 'DRGCODES.csv',
 'D_CPT.csv',
 'D_ICD_DIAGNOSES.csv',
 'D_ICD_PROCEDURES.csv',
 'D_ITEMS.csv',
 'D_LABITEMS.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_CV.csv',
 'INPUTEVENTS_MV.csv',
 'LABEVENTS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'NOTEEVENTS.csv',
 'OUTPUTEVENTS.csv',
 'PATIENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDUREEVENTS_MV.csv',
 'PROCEDURES_ICD.csv',
 'SERVICES.csv',
 'TRANSFERS.csv']

In [93]:
datas = []
for path in tqdm(paths):
    datas.append(pd.read_csv(prefix_path + path))

  0%|                                                                                                                                                                               | 0/34 [00:00<?, ?it/s]/tmp/ipykernel_76199/136570088.py:3: DtypeWarning: Columns (10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 21%|██████████████████████████████████▍                                                                                                                                    | 7/34 [00:25<01:51,  4.13s/it]/tmp/ipykernel_76199/136570088.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 26%|████████████████████████████████████████████▏                                                                                                                          | 9/34 [00:37<02:07,  5.09s/it]/tmp/ipykernel_76199/136570088.py:3: DtypeWarning: Columns (10,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 35%|██████████████████████████████████████████████████████████▌                                                                                                           | 12/34 [00:53<01:47,  4.87s/it]/tmp/ipykernel_76199/136570088.py:3: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 38%|███████████████████████████████████████████████████████████████▍                                                                                                      | 13/34 [00:54<01:13,  3.52s/it]/tmp/ipykernel_76199/136570088.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
 41%|████████████████████████████████████████████████████████████████████▎                                                                                                 | 14/34 [00:58<01:12,  3.65s/it]/tmp/ipykernel_76199/136570088.py:3: DtypeWarning: Columns (8,10,18,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  datas.append(pd.read_csv(prefix_path + path))
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 34/34 [01:14<00:00,  2.18s/it]

# Look Data characteristics

In [94]:
i = paths.index('ADMISSIONS.csv')
ADMISSIONS = datas[i].copy()
ADMISSIONS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,19,40,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,LONG TERM CARE HOSPITAL,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,ACUTE MYOCARDIAL INFARCTION-SEPSIS,0,1
1,23,457,357,145674,2198-08-02 04:49:00,2198-10-26 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-08-02 02:03:00,2198-08-02 05:37:00,SEIZURE,0,1
2,24,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-11-01 18:01:00,2198-11-01 23:06:00,SEPSIS,0,1
3,37,471,366,134462,2164-11-18 20:27:00,2164-11-22 15:18:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,SINGLE,HISPANIC OR LATINO,2164-11-18 10:52:00,2164-11-18 21:31:00,SEPSIS,0,1
4,63,61,61,189535,2119-01-04 18:12:00,2119-02-03 01:35:00,2119-02-03 01:35:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Private,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,NON-HODGKINS LYMPHOMA;FEBRILE;NEUTROPENIA,1,1

In [95]:
i = paths.index('CALLOUT.csv')
CALLOUT = datas[i].copy()
CALLOUT.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SUBMIT_WARDID,SUBMIT_CAREUNIT,CURR_WARDID,CURR_CAREUNIT,CALLOUT_WARDID,CALLOUT_SERVICE,REQUEST_TELE,...,CALLOUT_STATUS,CALLOUT_OUTCOME,DISCHARGE_WARDID,ACKNOWLEDGE_STATUS,CREATETIME,UPDATETIME,ACKNOWLEDGETIME,OUTCOMETIME,FIRSTRESERVATIONTIME,CURRENTRESERVATIONTIME
0,402,854,175684,52.0,NaN,29.0,MICU,1,MED,0,...,Inactive,Discharged,29.0,Acknowledged,2146-10-05 13:16:55,2146-10-05 13:16:55,2146-10-05 13:24:00,2146-10-05 18:55:22,2146-10-05 15:27:44,NaN
1,403,864,138624,15.0,NaN,55.0,CSRU,55,CSURG,0,...,Inactive,Discharged,55.0,Acknowledged,2114-11-28 08:31:39,2114-11-28 09:42:08,2114-11-28 09:43:08,2114-11-28 12:10:02,NaN,NaN
2,404,864,138624,12.0,NaN,55.0,CSRU,55,CSURG,1,...,Inactive,Discharged,55.0,Acknowledged,2114-11-30 10:24:25,2114-12-01 09:06:18,2114-12-01 12:26:05,2114-12-01 21:55:05,NaN,NaN
3,405,867,184298,7.0,NaN,17.0,CCU,17,CCU,1,...,Inactive,Discharged,17.0,Acknowledged,2136-12-29 08:45:42,2136-12-29 10:17:16,2136-12-29 10:33:51,2136-12-29 18:10:02,NaN,NaN
4,157,306,167129,57.0,NaN,3.0,SICU,44,NSURG,1,...,Inactive,Discharged,3.0,Acknowledged,2199-09-18 11:47:47,2199-09-18 11:47:47,2199-09-18 11:58:33,2199-09-18 15:10:02,NaN,NaN

In [96]:
i = paths.index('CAREGIVERS.csv')
CAREGIVERS = datas[i].copy()
CAREGIVERS.head()

   ROW_ID   CGID LABEL            DESCRIPTION
0    2228  16174    RO              Read Only
1    2229  16175    RO              Read Only
2    2230  16176   Res  Resident/Fellow/PA/NP
3    2231  16177    RO              Read Only
4    2232  16178    RT            Respiratory

In [98]:
i = paths.index('CPTEVENTS.csv')
CPTEVENTS = datas[i].copy()
CPTEVENTS.head()

,ROW_ID,SUBJECT_ID,HADM_ID,COSTCENTER,CHARTDATE,CPT_CD,CPT_NUMBER,CPT_SUFFIX,TICKET_ID_SEQ,SECTIONHEADER,SUBSECTIONHEADER,DESCRIPTION
0,317,11743,129545,ICU,NaN,99232,99232.0,NaN,6.0,Evaluation and management,Hospital inpatient services,NaN
1,318,11743,129545,ICU,NaN,99232,99232.0,NaN,7.0,Evaluation and management,Hospital inpatient services,NaN
2,319,11743,129545,ICU,NaN,99232,99232.0,NaN,8.0,Evaluation and management,Hospital inpatient services,NaN
3,320,11743,129545,ICU,NaN,99232,99232.0,NaN,9.0,Evaluation and management,Hospital inpatient services,NaN
4,321,6185,183725,ICU,NaN,99223,99223.0,NaN,1.0,Evaluation and management,Hospital inpatient services,NaN

In [91]:
i = paths.index('D_ICD_PROCEDURES.csv')
D_ICD_PROCEDURES = datas[i].copy()
D_ICD_PROCEDURES

,Unnamed: 0,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,325,137,1,Ther ult head & neck ves,Therapeutic ultrasound of vessels of head and ...
1,326,138,2,Ther ultrasound of heart,Therapeutic ultrasound of heart
2,327,139,3,Ther ult peripheral ves,Therapeutic ultrasound of peripheral vascular ...
3,328,140,9,Other therapeutic ultsnd,Other therapeutic ultrasound
4,329,141,10,Implant chemothera agent,Implantation of chemotherapeutic agent
...,...,...,...,...,...
3877,3386,3466,9995,Stretching of foreskin,Stretching of foreskin
3878,3387,3467,9996,Sperm collection,Collection of sperm for artificial insemination
3879,3388,3468,9997,Denture fitting,Fitting of denture
3880,3389,3469,9998,Milk extraction,Extraction of milk from lactating breast
3881,3390,3470,9999,Miscellaneous proc NEC,Other miscellaneous procedures

In [5]:
i = paths.index('D_ICD_DIAGNOSES.csv')
D_ICD_DIAGNOSES = datas[i].copy()
D_ICD_DIAGNOSES

,Unnamed: 0.1,Unnamed: 0,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,9049,9049,9050,77181,NB septicemia [sepsis],Septicemia [sepsis] of newborn
1,10304,10304,11403,99591,Sepsis,Sepsis
2,10305,10305,11404,99592,Severe sepsis,Severe sepsis
3,13293,13293,13564,67020,Puerperal sepsis-unsp,"Puerperal sepsis, unspecified as to episode of..."
4,13294,13294,13565,67022,Puerprl sepsis-del w p/p,"Puerperal sepsis, delivered, with mention of p..."
5,13295,13295,13566,67024,Puerperl sepsis-postpart,"Puerperal sepsis, postpartum condition or comp..."

In [6]:
i = paths.index('DIAGNOSES_ICD.csv')
datas[i].sort_values(by=['SUBJECT_ID', 'SEQ_NUM'], inplace=True)
DIAGNOSES_ICD = datas[i].copy()
DIAGNOSES_ICD

      Unnamed: 0  ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0            747     140          21   111970     11.0      99592
1            914     307          38   185910      3.0      99592
2           1084     477          61   189535      8.0      99591
3           1097     490          62   116009      4.0      99591
4            276     505          64   172056      3.0      99591
...          ...     ...         ...      ...      ...        ...
5404      648640  650341       99836   101018      8.0      99592
5405      649024  650470       99865   189346      4.0      99592
5406      649529  650720       99912   189380      8.0      99592
5407      648171  650990       99985   176670      7.0      99592
5408      648182  651001       99991   151118      5.0      99592

[5409 rows x 6 columns]

In [7]:
i = paths.index('ICUSTAYS.csv')
ICUSTAYS = datas[i].copy()
ICUSTAYS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
1,7,372,275,129886,219649,carevue,CCU,CCU,7,7,2170-10-07 11:28:53,2170-10-14 14:38:07,7.1314
2,45,410,305,194340,217232,metavision,SICU,SICU,33,33,2129-09-03 12:31:31,2129-09-05 23:00:50,2.4370
3,67,432,323,143334,264375,carevue,MICU,MICU,23,23,2120-01-11 15:48:28,2120-01-14 16:24:43,3.0252
4,74,439,329,172132,217001,carevue,MICU,MICU,50,50,2154-04-05 16:36:51,2154-04-08 18:14:48,3.0680

In [8]:
i = paths.index('PATIENTS.csv')
PATIENTS = datas[i].copy()
PATIENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
1,18,252,269,M,2130-09-30 00:00:00,NaN,NaN,NaN,0
2,40,646,685,F,2126-07-29 00:00:00,NaN,NaN,NaN,0
3,44,650,689,F,2128-12-27 00:00:00,NaN,NaN,NaN,0
4,45,651,690,M,2109-09-24 00:00:00,2189-07-30 00:00:00,2189-07-30 00:00:00,2189-07-30 00:00:00,1

In [10]:
i = paths.index('INPUTEVENTS_CV.csv')
INPUTEVENTS_CV = datas[i].copy()
INPUTEVENTS_CV.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,5257,7534,13168,182334.0,266561.0,2185-10-20 10:00:00,30056,120.0,ml,NaN,...,9164547,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,5258,7535,13168,182334.0,266561.0,2185-10-20 12:00:00,30056,150.0,ml,NaN,...,3692841,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,5259,7536,13168,182334.0,266561.0,2185-10-20 16:00:00,30056,100.0,ml,NaN,...,10641024,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,5260,7537,13168,182334.0,266561.0,2185-10-20 21:00:00,30056,100.0,ml,NaN,...,11331457,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,5261,7538,13168,182334.0,266561.0,2185-10-20 23:00:00,30056,60.0,ml,NaN,...,10791487,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [11]:
i = paths.index('INPUTEVENTS_CV.csv')
INPUTEVENTS_MV = datas[i].copy()
INPUTEVENTS_MV.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,5257,7534,13168,182334.0,266561.0,2185-10-20 10:00:00,30056,120.0,ml,NaN,...,9164547,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,5258,7535,13168,182334.0,266561.0,2185-10-20 12:00:00,30056,150.0,ml,NaN,...,3692841,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,5259,7536,13168,182334.0,266561.0,2185-10-20 16:00:00,30056,100.0,ml,NaN,...,10641024,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,5260,7537,13168,182334.0,266561.0,2185-10-20 21:00:00,30056,100.0,ml,NaN,...,11331457,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,5261,7538,13168,182334.0,266561.0,2185-10-20 23:00:00,30056,60.0,ml,NaN,...,10791487,9164547,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [12]:
i = paths.index('OUTPUTEVENTS.csv')
OUTPUTEVENTS = datas[i].copy()
OUTPUTEVENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR
0,63427,70086,13168,182334.0,266561.0,2185-10-23 06:30:00,40055,40.0,ml,2185-10-23 06:45:00,14442,NaN,NaN,NaN
1,63428,70087,13168,182334.0,266561.0,2185-10-23 08:00:00,40055,60.0,ml,2185-10-23 08:12:00,21570,NaN,NaN,NaN
2,63429,70088,13168,182334.0,266561.0,2185-10-23 09:00:00,40055,18.0,ml,2185-10-23 09:38:00,21570,NaN,NaN,NaN
3,63430,70089,13168,182334.0,266561.0,2185-10-23 11:00:00,40055,150.0,ml,2185-10-23 11:12:00,21570,NaN,NaN,NaN
4,63431,70090,13168,182334.0,266561.0,2185-10-23 15:00:00,40055,180.0,ml,2185-10-23 15:07:00,21570,NaN,NaN,NaN

In [13]:
i = paths.index('D_ITEMS.csv')
D_ITEMS = datas[i].copy()
D_ITEMS.head()

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,290,27,1,% Inspir. Time,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,291,28,2,ABI (L),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,292,29,3,ABI (R),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,293,30,4,ABI Ankle BP [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,294,31,5,ABI Brachial BP [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [14]:
i = paths.index('D_LABITEMS.csv')
D_LABITEMS = datas[i].copy()
D_LABITEMS.head()

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,127,1,50800,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
1,128,2,50801,Alveolar-arterial Gradient,Blood,Blood Gas,19991-9
2,129,3,50802,Base Excess,Blood,Blood Gas,11555-0
3,130,4,50803,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,1959-6
4,131,5,50804,Calculated Total CO2,Blood,Blood Gas,34728-6

In [15]:
i = paths.index('DRGCODES.csv')
DRGCODES = datas[i].copy()
DRGCODES.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,2895,2861,9102,154215,HCFA,385,"NEONATES, DIED OR TRANSFERRED TO ANOTHER ACUTE...",NaN,NaN
1,2967,2933,20617,178293,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
2,3053,3019,14831,160882,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
3,3764,3027,15204,168396,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN
4,4396,4357,5424,157250,HCFA,386,EXTREME IMMATURITY OR RESPIRATORY DISTRESS SYN...,NaN,NaN

In [16]:
i = paths.index('LABEVENTS.csv')
LABEVENTS = datas[i].copy()
LABEVENTS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,10085,10440,21,111970.0,51279,2135-02-03 05:04:00,2.81,2.81,m/uL,abnormal
1,10086,10441,21,111970.0,51301,2135-02-03 05:04:00,26.8,26.80,K/uL,abnormal
2,10087,10442,21,111970.0,50800,2135-02-03 05:13:00,MIX,NaN,NaN,NaN
3,10088,10443,21,111970.0,50813,2135-02-03 05:13:00,2.6,2.60,mmol/L,abnormal
4,10089,10444,21,111970.0,50817,2135-02-03 05:13:00,56,56.00,%,NaN

In [17]:
i = paths.index('PRESCRIPTIONS.csv')
PRESCRIPTIONS = datas[i].copy()
PRESCRIPTIONS.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,435,1390475,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,BASE,NS (Mini Bag Plus),NaN,NaN,NS/MBP100I,001210,338055318.0,100mL Bag,100,ml,1,BAG,IV
1,436,1389751,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,MAIN,Levothyroxine Sodium,Levothyroxine Sodium,Levothyroxine Sodium,LEVO50,006649,74455211.0,50mcg Tablet,50,mcg,1,TAB,PO
2,437,1379358,21,111970,216859.0,2135-01-31 00:00:00,2135-01-31 00:00:00,MAIN,Meropenem,NaN,NaN,MERO500I,026488,310032520.0,500mg Vial,500,mg,1,VIAL,IV
3,438,1390474,21,111970,216859.0,2135-01-31 00:00:00,2135-02-01 00:00:00,BASE,SW,NaN,NaN,KCLBASE2,NaN,0.0,50ml Bag,100,ml,100,ml,IV
4,439,1390472,21,111970,216859.0,2135-01-31 00:00:00,2135-02-01 00:00:00,BASE,Iso-Osmotic Dextrose,NaN,NaN,VANCOBASE,NaN,0.0,200ml Bag,200,ml,200,ml,IV

# Features

In [18]:
# last row don't understand meaning
features = ['Shock_Index', 'elixhauser', 'SIRS', 'gender', 're_admission', 'GCS', 'SOFA', 'age', 'Albumin',
           'Arterial_pH', 'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'SGPT', 
           'Arterial_blood_gas', 'BUN', 'HCO3', 'INR', 'Arterial_lactate', 'CO2', 'Creatinine', 
           'Ionised_Ca', 'PT', 'Platelets_count', 'SGOT', 'Total_bili', 'WBC_count', 'DiaBP', 'SysBP', 
           'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 'Weight_kg', 'HR', 'SpO2'
           'input_total_tev', 'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc', 'mechvent']

binary_features = ['gender', 're_admission', 'mechvent']
norm_features = ['Shock_Index', 'elixhauser', 'SIRS', 'GCS', 'SOFA', 'age', 'Albumin', 'Arterial_pH', 
                'Calcium', 'Glucose', 'Hemoglobin', 'Magnesium', 'PTT', 'Potassium', 'Arterial_blood_gas', 
                'HCO3', 'Arterial_lactate', 'CO2', 'Ionised_Ca', 'PT', 'Platelets_count', 'WBC_count', 
                'DiaBP', 'SysBP', 'MeanBP', 'PaCO2', 'PaO2', 'FiO2', 'PaO_FiO2_ratio', 'RR', 'Temp_C', 
                'Weight_kg', 'HR', ]
log_features = ['SGPT', 'BUN', 'INR', 'Creatinine', 'SGOT', 'Total_bili', 'SpO2', 'input_total_tev',
                'input_4hourly_tev', 'output_total', 'output_4hourly', 'bloc']

## SHOCK INDEX

In [90]:
D_ITEMS[['shock' in str(s).lower() for s in D_ITEMS['LABEL']]]

Empty DataFrame
Columns: [Unnamed: 0, ROW_ID, ITEMID, LABEL, ABBREVIATION, DBSOURCE, LINKSTO, CATEGORY, UNITNAME, PARAM_TYPE, CONCEPTID]
Index: []

## elixhauser

## SIRS -Systemic inflammatory response syndrome)

## GCS - Glasgow Coma Scale

## SOFA

## Albumin (ITEMID: 50862, 772, 1521, 227456)

In [20]:
D_ITEMS.drop(D_ITEMS[D_ITEMS.isnull()['LABEL']].index, inplace=True)
D_ITEMS[['albumin' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
665,1511,692,772,Albumin (>3.2),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1110,2789,2973,1521,Albumin,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1636,3130,3499,2358,ALBUMIN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2107,1576,757,3066,albumin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2582,3933,2856,3727,Albumin (3.9-4.8),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
5041,4893,5094,30008,Albumin 5%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5042,5772,5342,30009,Albumin 25%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5192,4462,5158,30181,Serum Albumin 5%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5465,4421,5720,40548,ALBUMIN,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6516,6674,7903,42832,albumin 12.5%,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6739,8632,11050,43237,25% Albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6761,8643,11094,43353,Albumin (human) 25%,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7199,8012,11927,44203,Albumin 12.5%,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7664,6607,8467,44952,OR Albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7976,12177,12142,45403,albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8873,7904,11750,46564,Albumin,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
9542,11476,12690,220574,ZAlbumin,ZAlbumin,metavision,chartevents,Labs,None,Numeric,NaN
9563,12069,12859,220861,Albumin (Human) 20%,Albumin 20%,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN
9564,12070,12860,220862,Albumin 25%,Albumin 25%,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN
9565,12071,12861,220863,Albumin (Human) 4%,Albumin 4%,metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,NaN
9566,12072,12862,220864,Albumin 5%,Albumin 5%,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN
11420,9482,14659,226981,Albumin_ApacheIV,Albumin_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN
11421,9483,14660,226982,AlbuminScore_ApacheIV,AlbuminScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN
11609,10087,14770,227456,Albumin,Albumin,metavision,chartevents,Labs,None,Numeric with tag,NaN

In [21]:
D_LABITEMS[['albumin' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
35,162,36,50835,"Albumin, Ascites",Ascites,Chemistry,1749-1
62,189,63,50862,Albumin,Blood,Chemistry,1751-7
210,337,211,51011,<Albumin>,Cerebrospinal Fluid (CSF),Chemistry,1746-7
218,345,219,51019,"Albumin, Joint Fluid",Joint Fluid,Chemistry,NaN
224,351,225,51025,"Albumin, Body Fluid",Other Body Fluid,Chemistry,1747-5
245,372,246,51046,"Albumin, Pleural",Pleural,Chemistry,1748-3
268,395,269,51069,"Albumin, Urine",Urine,Chemistry,1754-1
269,396,270,51070,"Albumin/Creatinine, Urine",Urine,Chemistry,14958-3
752,752,753,51555,SURFACTANT ALBUMIN RATIO,OTHER BODY FLUID,CHEMISTRY,NaN

## Arterial_pH (ITEMID: 780, 1126, 223830, 50820)

In [25]:
D_ITEMS.query("ITEMID == 780 | ITEMID == 1126 | ITEMID == 223830")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
673,1519,700,780,Arterial pH,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
870,119,1271,1126,Art.pH,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
9765,12411,12802,223830,PH (Arterial),PH (Arterial),metavision,chartevents,Labs,None,Numeric,NaN

## Calcium (ITEMID: 225625, 50893, 786, 1522)

In [26]:
D_ITEMS[['calcium' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
679,1525,706,786,Calcium (8.4-10.2),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
708,1554,735,816,Ionized Calcium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
959,1231,1360,1350,ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1111,2790,2974,1522,Calcium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1249,2928,3112,1663,Calcium gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1571,3065,3434,2185,CALCIUM GLUCONATE,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2218,1687,868,3219,calcium gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2311,1780,961,3347,Calcium Gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2594,2684,2868,3746,Calcium (8.8-10.8),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
2606,2696,2880,3766,Ion Calcium,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2928,1096,1597,4696,Calcium Glubionate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3110,3776,2699,5114,Calcium glubionate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3157,3823,2746,5258,calcium glubionate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3407,2402,1856,5753,Calcium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3464,2459,1913,5810,urine calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3768,3615,2538,6132,Calcium gluconate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4374,4299,4576,7245,CALCIUM GLUC ML/HR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4630,943,2297,7871,elemental calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4662,975,2329,7949,Calcium for CVVH,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4753,4005,4005,8177,Ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4811,4063,4063,8325,IONIZED CALCIUM,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5053,5780,5350,30022,Calcium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5054,4897,5100,30023,Calcium Gluconate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5260,5674,5218,30300,Calcium Chloride 10%,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5638,5353,6891,41163,Calcium gluc gtt,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
5893,5960,6328,41807,Calcium chloride IVP,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6532,6684,7917,42856,CALCIUM GLUGOANTE,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6574,6711,7955,42916,calcium gluc,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6942,7557,8835,43747,CALCIUM,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7211,6310,9188,44220,Calcium Gluc 40gm,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7329,6880,8232,44441,calcium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7527,9051,11468,44749,calcium drip,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7601,9078,11509,44855,Calcium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7869,7119,9671,45268,CALCIUM FOR CVVHD,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8115,7713,9916,45593,Calcium w/ pheresis,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8992,7926,11774,46712,CALCIUM-DIALYSIS,NaN,carevue,outputevents,Free Form Intake,NaN,NaN,NaN
9671,8886,12967,221456,Calcium Gluconate,Calcium Gluconate,metavision,inputevents_mv,Medications,grams,Solution,NaN
10798,10506,14082,225625,Calcium non-ionized,Calcium non-ionized,metavision,chartevents,Labs,None,Numeric,NaN
10828,10536,14112,225667,Ionized Calcium,Ionized Calcium,metavision,chartevents,Labs,None,Numeric,NaN
11647,9933,14855,227525,Calcium Gluconate (CRRT),Calcium Gluconate (CRRT),metavision,inputevents_mv,Medications,grams,Solution,NaN
12214,9497,15448,228317,Calcium Gluconate (Bolus),Calcium Gluconate (Bolus),metavision,inputevents_mv,Medications,mL,Solution,NaN

In [27]:
D_LABITEMS[['calcium' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
8,135,9,50808,Free Calcium,Blood,Blood Gas,1994-3
93,220,94,50893,"Calcium, Total",Blood,Chemistry,2000-8
228,355,229,51029,"Calcium, Body Fluid",Other Body Fluid,Chemistry,15155-5
265,392,266,51066,24 hr Calcium,Urine,Chemistry,6874-2
276,403,277,51077,"Calcium, Urine",Urine,Chemistry,2004-0
667,122,668,51468,Calcium Carbonate Crystals,Urine,Hematology,5773-7
668,123,669,51469,Calcium Oxalate Crystals,Urine,Hematology,5774-5
669,124,670,51470,Calcium Phosphate Crystals,Urine,Hematology,5775-2

## Glucose (ITEMID: 220621, 225664, 50809, 811, 807, 50931, 226537, 1529)

In [28]:
D_ITEMS[['glucose' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
699,1545,726,807,Fingerstick Glucose,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
703,1549,730,811,Glucose (70-105),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
926,1198,1327,1310,FINGERSTICK GLUCOSE.,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1051,277,14,1455,fingerstick glucose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1118,2797,2981,1529,Glucose,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1342,1971,3205,1812,abg: glucose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1625,3119,3488,2338,finger stick glucose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2390,1859,1040,3447,Glucose Monitor #,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2592,2682,2866,3744,Blood Glucose,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
2593,2683,2867,3745,BloodGlucose,NaN,carevue,chartevents,Quick Admit,NaN,NaN,NaN
2636,2726,2910,3816,Urine Glucose,NaN,carevue,chartevents,Urine,NaN,NaN,NaN
9551,11485,12699,220621,Glucose (serum),Glucose (serum),metavision,chartevents,Labs,None,Numeric,NaN
10827,10535,14111,225664,Glucose finger stick,Glucose finger stick,metavision,chartevents,Labs,None,Numeric,NaN
11264,11890,14406,226537,Glucose (whole blood),Glucose (whole blood),metavision,chartevents,Labs,None,Numeric,NaN
11453,9683,14692,227015,Glucose_ApacheIV,Glucose_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN
11454,9684,14693,227016,GlucoseScore_ApacheIV,GlucoseScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN
11935,11413,15072,227976,Boost Glucose Control (1/4),Boost Glucose Control (1/4),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN
11936,11414,15073,227977,Boost Glucose Control (1/2),Boost Glucose Control (1/2),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN
11937,11415,15074,227978,Boost Glucose Control (3/4),Boost Glucose Control (3/4),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN
11938,11416,15075,227979,Boost Glucose Control (Full),Boost Glucose Control (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN
12276,9731,15516,228388,Glucose (whole blood) (soft),Glucose (whole blood) (soft),metavision,chartevents,Labs,None,Numeric with tag,NaN

In [29]:
D_LABITEMS[['glucose' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
9,136,10,50809,Glucose,Blood,Blood Gas,2339-0
42,169,43,50842,"Glucose, Ascites",Ascites,Chemistry,2347-3
131,258,132,50931,Glucose,Blood,Chemistry,2345-7
213,340,214,51014,"Glucose, CSF",Cerebrospinal Fluid (CSF),Chemistry,2342-4
221,348,222,51022,"Glucose, Joint Fluid",Joint Fluid,Chemistry,2348-1
233,360,234,51034,"Glucose, Body Fluid",Other Body Fluid,Chemistry,2344-0
252,379,253,51053,"Glucose, Pleural",Pleural,Chemistry,2346-5
283,410,284,51084,"Glucose, Urine",Urine,Chemistry,2350-7
677,677,678,51478,Glucose,Urine,Hematology,5792-7
728,728,729,51529,Estimated Actual Glucose,BLOOD,CHEMISTRY,NaN

## Hemoglobin (ITEMID: 220228, 51222, 50811, 814)

In [30]:
D_ITEMS[['hemoglobin' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
706,1552,733,814,Hemoglobin,NaN,carevue,chartevents,Hematology,NaN,NaN,NaN
4669,982,2336,7965,methhemoglobin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9526,11528,12742,220228,Hemoglobin,Hemoglobin,metavision,chartevents,Labs,g/dl,Numeric,NaN

In [31]:
D_LABITEMS[['hemoglobin' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
5,132,6,50805,Carboxyhemoglobin,Blood,Blood Gas,20563-3
11,138,12,50811,Hemoglobin,Blood,Blood Gas,718-7
14,141,15,50814,Methemoglobin,Blood,Blood Gas,2614-6
52,179,53,50852,% Hemoglobin A1c,Blood,Chemistry,4548-4
55,182,56,50855,Absolute Hemoglobin,Blood,Chemistry,718-7
411,538,412,51212,Fetal Hemoglobin,Blood,Hematology,4576-5
421,548,422,51222,Hemoglobin,Blood,Hematology,718-7
422,549,423,51223,Hemoglobin A2,Blood,Hematology,4552-6
423,550,424,51224,Hemoglobin C,Blood,Hematology,4561-7
424,551,425,51225,Hemoglobin F,Blood,Hematology,9749-3
484,611,485,51285,"Reticulocyte, Cellular Hemoglobin",Blood,Hematology,NaN

## Magnesium (ITEMID: 220635, 50960, 1532, 821)

In [32]:
D_ITEMS[['magnesium' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
713,1559,740,821,Magnesium (1.6-2.6),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1121,2800,2984,1532,Magnesium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1450,2079,3313,1970,magnesium 2gm/hr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3769,3616,2539,6133,Magnesium Sulfate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5058,5783,5353,30027,Magnesium Sulfate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5492,6076,5793,40645,magnesium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6643,6769,8039,43018,magnesium 1gm/hr,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7126,6246,9086,44088,Magnesium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
9554,11488,12702,220635,Magnesium,Magnesium,metavision,chartevents,Labs,None,Numeric,NaN
9690,9555,12986,222011,Magnesium Sulfate,Magnesium Sulfate,metavision,inputevents_mv,Medications,grams,Solution,NaN
11645,9931,14853,227523,Magnesium Sulfate (Bolus),Magnesium Sulfate (Bolus),metavision,inputevents_mv,Medications,mL,Solution,NaN
11646,9932,14854,227524,Magnesium Sulfate (OB-GYN),Magnesium Sulfate (OB-GYN),metavision,inputevents_mv,Medications,grams,Solution,NaN

In [33]:
D_LABITEMS[['magnesium' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
160,287,161,50960,Magnesium,Blood,Chemistry,2601-3
236,363,237,51037,"Magnesium, Body Fluid",Other Body Fluid,Chemistry,29365-4
287,414,288,51088,"Magnesium, Urine",Urine,Chemistry,2598-1

## PTT-Partial Thromboplastin Time (ITEMID: 227466, 825, 1533, 51275)

In [34]:
D_ITEMS[['ptt' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
717,1563,744,825,PTT(22-35),NaN,carevue,chartevents,Coags,NaN,NaN,NaN
1122,2801,2985,1533,PTT,NaN,carevue,chartevents,Coags,NaN,NaN,NaN
2625,2715,2899,3796,Ptt,NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN
9541,11475,12689,220562,ZPTT,ZPTT,metavision,chartevents,Labs,None,Numeric,NaN
11619,10305,14827,227466,PTT,PTT,metavision,chartevents,Labs,None,Numeric with tag,NaN

In [35]:
D_LABITEMS[['ptt' in str(s).lower() for s in D_LABITEMS['LABEL']]]

     Unnamed: 0  ROW_ID  ITEMID LABEL  FLUID    CATEGORY LOINC_CODE
474         601     475   51275   PTT  Blood  Hematology     3173-2

## Potassium (ITEMID: 829, 50971, 1535, 227464, 50822)

In [36]:
D_ITEMS[['potassium' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
721,1567,748,829,Potassium (3.5-5.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1124,2803,2987,1535,Potassium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1349,1978,3212,1821,potassium phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1860,3354,3723,2691,URINE POTASSIUM,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1969,3463,3832,2856,Potassium phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2489,3840,2763,3578,Potassium Chloride,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2580,3931,2854,3725,ABG POTASSIUM,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2623,2713,2897,3792,Potassium (3.5-5.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
2668,870,2224,4194,ABG Potassium,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2771,1311,1440,4381,Potassium Phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3128,3794,2717,5167,potassium Phosphate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3134,3800,2723,5195,potassium phosphorus,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5060,5784,5354,30029,Potassium Phosphate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5257,5671,5215,30297,Potassium Chloride,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5259,5673,5217,30299,Potassium Acetate,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5732,5638,7117,41450,21mM Potassium Phos,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
5950,5267,6578,41956,Potassium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6369,5548,7746,42628,potassium phos,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6442,8420,11196,42728,POTASSIUM,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6740,6402,7211,43238,Potassium Chl. Bolus,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7000,6968,8932,43872,Potassium 20meqIVPB,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7353,6896,8257,44479,potassium phospate,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7504,6378,8572,44711,potassium,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7536,9054,11473,44762,potassium phos 30mml,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8003,12190,12155,45430,potassium Chl 40meq,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8135,7403,9940,45627,potassium 40/500,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8642,7843,9421,46263,potassium phos 15mml,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8788,8339,10263,46453,potassium 10/100,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8911,7921,11768,46611,POTASSIUM CHLOR 10MQ,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
9555,11489,12703,220640,ZPotassium (serum),ZPotassium (serum),metavision,chartevents,Labs,None,Numeric,NaN
9697,9562,12993,222139,Potassium ACEtate,Potassium ACEtate,metavision,inputevents_mv,Nutrition - Supplements,mEq,Solution,NaN
10505,8676,13765,225166,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN
11002,9887,14047,225890,Penicillin G potassium,Penicillin G potassium,metavision,inputevents_mv,Antibiotics,dose,Solution,NaN
11033,11663,14363,225925,Potassium Phosphate,Potassium Phosphate,metavision,inputevents_mv,Nutrition - Supplements,mmol,Solution,NaN
11262,11888,14404,226535,ZPotassium (whole blood),ZPotassium (whole blood),metavision,chartevents,Labs,None,Numeric,NaN
11376,11941,14532,226771,PotassiumApacheIIScore,PotassiumApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
11377,11942,14533,226772,PotassiumApacheIIValue,PotassiumApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
11595,10073,14756,227442,Potassium (serum),Potassium (serum),metavision,chartevents,Labs,None,Numeric with tag,NaN
11617,10303,14825,227464,Potassium (whole blood),Potassium (whole blood),metavision,chartevents,Labs,None,Numeric with tag,NaN

In [37]:
D_LABITEMS[['potassium' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
22,149,23,50822,"Potassium, Whole Blood",Blood,Blood Gas,6298-4
33,160,34,50833,Potassium,Other Body Fluid,Blood Gas,2821-7
47,174,48,50847,"Potassium, Ascites",Ascites,Chemistry,49789-1
171,298,172,50971,Potassium,Blood,Chemistry,2823-3
240,367,241,51041,"Potassium, Body Fluid",Other Body Fluid,Chemistry,2821-7
256,383,257,51057,"Potassium, Pleural",Pleural,Chemistry,NaN
263,390,264,51064,"Potassium, Stool",Stool,Chemistry,15202-5
296,423,297,51097,"Potassium, Urine",Urine,Chemistry,2828-2

## SGPT-Serum Glutamic-Pyruvic Transaminase (ITEMID: 3802)

In [100]:
D_ITEMS[['sgpt' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
2629,2719,2903,3802,SGPT,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN

## Arterial blood gas (ITEMID: )

In [108]:
D_ITEMS[['abg' in str(s).lower() for s in D_ITEMS['CATEGORY']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
669,1515,696,776,Arterial Base Excess,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
670,1516,697,777,Arterial CO2(Calc),NaN,carevue,chartevents,ABG,NaN,NaN,NaN
671,1517,698,778,Arterial PaCO2,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
672,1518,699,779,Arterial PaO2,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
673,1519,700,780,Arterial pH,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
704,1550,731,812,HCO3,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
725,749,1126,834,SaO2,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
870,119,1271,1126,Art.pH,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
2579,3930,2853,3724,ABG CHLOIRDE,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2580,3931,2854,3725,ABG POTASSIUM,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2581,3932,2855,3726,ABG SODIUM,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2587,3938,2861,3736,BE,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2590,2680,2864,3740,Base Excess (other),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2604,2694,2878,3761,Hematocrit (35-51),NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2606,2696,2880,3766,Ion Calcium,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2617,2707,2891,3784,PCO2,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2618,2708,2892,3785,PO2,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2633,2723,2907,3809,TCO2 (other),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2643,2733,2917,3829,Venous Base Excess,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN
2644,2734,2918,3830,Venous CO2,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN
2645,2735,2919,3831,Venous O2,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN
2646,2736,2920,3832,Venous TCO2,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN
2648,2738,2922,3835,pCO2,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2649,2739,2923,3836,pCO2 (other),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2650,2740,2924,3837,pO2,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2651,2741,2925,3838,pO2 (other),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2652,2742,2926,3839,ph (other),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2667,869,2223,4193,ABG Chloride,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
2668,870,2224,4194,ABG Potassium,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2669,871,2225,4195,ABG Sodium,NaN,carevue,chartevents,ABG'S,NaN,NaN,NaN
2670,872,2226,4196,Base Excess (cap),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2673,875,2229,4199,TCO2 (cap),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2675,877,2231,4201,pCO2 (cap),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2676,878,2232,4202,pH (cap),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2677,879,2233,4203,pO2 (cap),NaN,carevue,chartevents,Other ABGs,NaN,NaN,NaN
2961,1129,1630,4753,pH (Art),NaN,carevue,chartevents,ABG,NaN,NaN,NaN
2962,1130,1631,4755,zzzpH,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN

In [103]:
D_LABITEMS[['art' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
1,128,2,50801,Alveolar-arterial Gradient,Blood,Blood Gas,19991-9

## BUN-Blood Urea Nitrogen (ITEMID: 51006, 781, 1162, 225624)

In [42]:
D_ITEMS[['bun' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
674,1520,701,781,BUN (6-20),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
876,125,1277,1162,BUN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2588,3939,2862,3737,BUN (6-20),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
3527,2522,1976,5876,bun,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4773,4025,4025,8220,Effluent BUN,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10797,10505,14081,225624,BUN,BUN,metavision,chartevents,Labs,None,Numeric,NaN
11438,9668,14677,227000,BUN_ApacheIV,BUN_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN
11439,9669,14678,227001,BunScore_ApacheIV,BunScore_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN

In [43]:
D_LABITEMS[D_LABITEMS['ITEMID'] == 51006]

     Unnamed: 0  ROW_ID  ITEMID          LABEL  FLUID   CATEGORY LOINC_CODE
205         332     206   51006  Urea Nitrogen  Blood  Chemistry     3094-0

## HCO3 (ITEMID: 50882, 227443, 50803)

In [44]:
D_ITEMS[['hco3' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
704,1550,731,812,HCO3,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
1710,3204,3573,2468,NAHCO3- MEQ/HR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4777,4029,4029,8235,naHCO3,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5903,5967,6338,41824,D5W 150meq NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
5956,8554,10799,41983,NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6170,5403,7532,42337,NAHCO3- CC/HR,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6590,6722,7971,42939,1/4ns w 100meqnahco3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7017,6166,8952,43904,D51/4NS+100MeqNaHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7179,6291,9152,44166,BICARBONATE-HCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7398,6937,8313,44539,D5W W/ NAHCO3 150MEQ,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7439,8993,11377,44602,NaHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7677,6616,8476,44966,1/2NSS & 100 NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7691,6626,8490,44987,d5w NHCO3 150,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8414,8292,10202,45979,NaHcO3 150meq in D5W,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8476,6347,9267,46061,D5 0.45N/S+NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8723,7000,9490,46361,D5W +3 Amps NaHco3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8790,8341,10265,46455,D5W +NaHcO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8889,7204,10356,46585,D5W with 150MEQ HCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
8935,7237,10400,46644,D5W & 150 MEQ NAHCO3,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
10266,11551,13624,224826,ZHCO3 (serum),ZHCO3 (serum),metavision,chartevents,Labs,None,Numeric,NaN
11364,12484,14520,226759,HCO3ApacheIIValue,HCO3ApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
11365,12485,14521,226760,HCO3Score,HCO3Score,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
11596,10074,14757,227443,HCO3 (serum),HCO3 (serum),metavision,chartevents,Labs,None,Numeric with tag,NaN

In [45]:
D_LABITEMS.query("ITEMID == 50882 | ITEMID == 50803")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
3,130,4,50803,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,1959-6
82,209,83,50882,Bicarbonate,Blood,Chemistry,1963-8

## INR-International Normalized Ratio (ITEMID: )

In [46]:
D_ITEMS[['inr' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
707,1553,734,815,INR (2-4 ref. range),NaN,carevue,chartevents,Coags,NaN,NaN,NaN
1119,2798,2982,1530,INR,NaN,carevue,chartevents,Coags,NaN,NaN,NaN
6310,5504,7669,42527,INR BLOOD PRODUCTS,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
7355,6897,8258,44481,ER URINR OUTPUT,NaN,carevue,outputevents,NaN,NaN,NaN,NaN
9540,11474,12688,220561,ZINR,ZINR,metavision,chartevents,Labs,None,Numeric,NaN
11620,10306,14828,227467,INR,INR,metavision,chartevents,Labs,None,Numeric with tag,NaN

## Arterial Lactate (ITEMID: 50813)

In [47]:
D_LABITEMS.query("ITEMID == 50813")

    Unnamed: 0  ROW_ID  ITEMID    LABEL  FLUID   CATEGORY LOINC_CODE
13         140      14   50813  Lactate  Blood  Blood Gas    32693-4

## CO2 (ITEMID: 786)

In [48]:
D_ITEMS.query("ITEMID == 787")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
680,1526,707,787,Carbon Dioxide,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN

In [49]:
D_ITEMS[[' co2' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
670,1516,697,777,Arterial CO2(Calc),NaN,carevue,chartevents,ABG,NaN,NaN,NaN
744,768,1145,857,Venous CO2(Calc),NaN,carevue,chartevents,VBG'S,NaN,NaN,NaN
1914,3408,3777,2772,SJ CO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2610,2700,2884,3773,Mix Venous CO2(calc),NaN,carevue,chartevents,Mixed VBGs,NaN,NaN,NaN
2634,2724,2908,3810,Total CO2,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
2644,2734,2918,3830,Venous CO2,NaN,carevue,chartevents,Venous ABG,NaN,NaN,NaN
9527,11529,12743,220235,Arterial CO2 Pressure,PCO2 (Arterial),metavision,chartevents,Labs,mmHg,Numeric,NaN
11136,11644,14344,226062,Venous CO2 Pressure,PCO2 (Venous),metavision,chartevents,Labs,mmHg,Numeric,NaN

In [50]:
D_LABITEMS[[' co2' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
4,131,5,50804,Calculated Total CO2,Blood,Blood Gas,34728-6

## Creatinine (ITEMID: 791, 1525, 220615, 50912)

In [51]:
D_ITEMS[['creatinine' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
683,1529,710,791,Creatinine (0-1.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1114,2793,2977,1525,Creatinine,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
2597,2687,2871,3750,Creatinine (0-0.7),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
3465,2460,1914,5811,urine creatinine,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9550,11484,12698,220615,Creatinine,Creatinine,metavision,chartevents,Labs,None,Numeric,NaN
11356,12476,14512,226751,CreatinineApacheIIScore,CreatinineApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
11357,12477,14513,226752,CreatinineApacheIIValue,CreatinineApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
11443,9673,14682,227005,Creatinine_ApacheIV,Creatinine_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN

In [52]:
D_LABITEMS[['creatinine' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
41,168,42,50841,"Creatinine, Ascites",Ascites,Chemistry,12191-3
112,239,113,50912,Creatinine,Blood,Chemistry,2160-0
220,347,221,51021,"Creatinine, Joint Fluid",Joint Fluid,Chemistry,14401-4
231,358,232,51032,"Creatinine, Body Fluid",Other Body Fluid,Chemistry,12190-5
251,378,252,51052,"Creatinine, Pleural",Pleural,Chemistry,14399-0
266,393,267,51067,24 hr Creatinine,Urine,Chemistry,2162-6
269,396,270,51070,"Albumin/Creatinine, Urine",Urine,Chemistry,14958-3
272,399,273,51073,"Amylase/Creatinine Ratio, Urine",Urine,Chemistry,34235-2
279,406,280,51080,Creatinine Clearance,Urine,Chemistry,33558-8
280,407,281,51081,"Creatinine, Serum",Urine,Chemistry,NaN
281,408,282,51082,"Creatinine, Urine",Urine,Chemistry,2161-8
298,425,299,51099,Protein/Creatinine Ratio,Urine,Chemistry,2890-2
305,432,306,51106,Urine Creatinine,Urine,Chemistry,NaN

## Ionised Calcium (ITEMID: 50808, 816, 225667)

In [53]:
D_ITEMS[['ionized calcium' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
708,1554,735,816,Ionized Calcium,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
959,1231,1360,1350,ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4753,4005,4005,8177,Ionized calcium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4811,4063,4063,8325,IONIZED CALCIUM,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10828,10536,14112,225667,Ionized Calcium,Ionized Calcium,metavision,chartevents,Labs,None,Numeric,NaN

In [54]:
D_LABITEMS.query("ITEMID == 50808")

   Unnamed: 0  ROW_ID  ITEMID         LABEL  FLUID   CATEGORY LOINC_CODE
8         135       9   50808  Free Calcium  Blood  Blood Gas     1994-3

## PT-Prothrombin Time (ITEMID: 1286, 824, 227465, 51274)

In [55]:
D_ITEMS.query("ITEMID == 1286 | ITEMID == 824 | ITEMID == 227465")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
716,1562,743,824,PT(11-13.5),NaN,carevue,chartevents,Coags,NaN,NaN,NaN
925,1197,1326,1286,PT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
11618,10304,14826,227465,Prothrombin time,PT,metavision,chartevents,Labs,None,Numeric with tag,NaN

In [56]:
D_LABITEMS.query("ITEMID == 51274")

     Unnamed: 0  ROW_ID  ITEMID LABEL  FLUID    CATEGORY LOINC_CODE
473         600     474   51274    PT  Blood  Hematology     5902-2

## Platelets Count (ITEMID: 51265, 828, 227457)

In [57]:
D_ITEMS[['platelet' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
720,1566,747,828,Platelets,NaN,carevue,chartevents,Hematology,NaN,NaN,NaN
2621,2711,2895,3789,Platelet (150-440),NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN
3880,4082,4082,6256,Platelet Count,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5039,5770,5340,30006,Platelets,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5127,5830,5405,30105,OR Platelets,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
10508,8679,13768,225170,Platelets,Platelets,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN
10836,10544,14120,225678,ZPlatelet Count,ZPlatelet Count,metavision,chartevents,Labs,None,Numeric,NaN
11219,12262,14454,226369,OR Platelet Intake,OR Platelet Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN
11503,8743,14576,227071,PACU Platelet Intake,PACU Platelet Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN
11610,10088,14771,227457,Platelet Count,Platelet Count,metavision,chartevents,Labs,None,Numeric with tag,NaN

In [58]:
D_LABITEMS[['platelet' in str(s).lower() for s in D_LABITEMS['LABEL']]]

     Unnamed: 0  ROW_ID  ITEMID            LABEL  FLUID    CATEGORY LOINC_CODE
439         566     440   51240  Large Platelets  Blood  Hematology    34167-7
463         590     464   51264  Platelet Clumps  Blood  Hematology    40741-1
464         591     465   51265   Platelet Count  Blood  Hematology      777-3
465         592     466   51266   Platelet Smear  Blood  Hematology      778-1

## SGOT-Serum Glutamic-Oxaloacetic Transaminse (ITEMID: 3801)

In [59]:
D_ITEMS[['sgot' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
2628,2718,2902,3801,SGOT,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN

## Total bilirubun (ITEMID: 848, 225690, 1538, 50885)

In [60]:
D_ITEMS.query("ITEMID == 848 | ITEMID == 1538 | ITEMID == 803")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
695,1541,722,803,Direct Bili (0-0.3),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
735,759,1136,848,Total Bili (0-1.5),NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN
1127,2806,2990,1538,Total Bili,NaN,carevue,chartevents,Chemistry,NaN,NaN,NaN

In [61]:
D_ITEMS[['bilirubin' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
3044,2259,1713,4948,Bilirubin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10819,10527,14103,225651,Direct Bilirubin,Direct Bilirubin,metavision,chartevents,Labs,None,Numeric,NaN
10845,10553,14129,225690,Total Bilirubin,Total Bilirubin,metavision,chartevents,Labs,None,Numeric,NaN
11436,9666,14675,226998,Bilirubin_ApacheIV,Bilirubin_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN

In [62]:
D_LABITEMS.query("ITEMID == 50883")

    Unnamed: 0  ROW_ID  ITEMID              LABEL  FLUID   CATEGORY LOINC_CODE
83         210      84   50883  Bilirubin, Direct  Blood  Chemistry     1968-7

In [63]:
D_LABITEMS[['bilirubin, total' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
38,165,39,50838,"Bilirubin, Total, Ascites",Ascites,Chemistry,14422-0
85,212,86,50885,"Bilirubin, Total",Blood,Chemistry,1975-2
211,338,212,51012,"Bilirubin, Total, CSF",Cerebrospinal Fluid (CSF),Chemistry,1973-7
227,354,228,51028,"Bilirubin, Total, Body Fluid",Other Body Fluid,Chemistry,1974-5
248,375,249,51049,"Bilirubin, Total, Pleural",Pleural,Chemistry,14421-2

## White Blood Cell Count (ITEMID: 861, 1542, 220546, 51301, 51300, 1127)

In [64]:
D_ITEMS.query("ITEMID == 861 | ITEMID == 1542 | ITEMID == 220546 | ITEMID == 1127")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
748,772,1149,861,"WBC (4-11,000)",NaN,carevue,chartevents,Hematology,NaN,NaN,NaN
871,120,1272,1127,"WBC (4-11,000)",NaN,carevue,chartevents,Hematology,NaN,NaN,NaN
1131,2810,2994,1542,WBC,NaN,carevue,chartevents,Hematology,NaN,NaN,NaN
9538,11472,12686,220546,WBC,WBC,metavision,chartevents,Labs,None,Numeric,NaN

In [65]:
D_ITEMS[['white' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
2647,2737,2921,3834,WhiteBloodC 4.0-11.0,NaN,carevue,chartevents,Heme/Coag,NaN,NaN,NaN

In [66]:
D_LABITEMS.query("ITEMID == 51300")

     Unnamed: 0  ROW_ID  ITEMID      LABEL  FLUID    CATEGORY LOINC_CODE
499         626     500   51300  WBC Count  Blood  Hematology    26464-8

In [67]:
D_LABITEMS[['white' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
500,627,501,51301,White Blood Cells,Blood,Hematology,804-5

## Diastolic Blood Pressure (ITEMID: 224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440)

In [68]:
D_ITEMS.query("ITEMID == 225310 | ITEMID == 8555 | ITEMID == 8368 | ITEMID == 8441 | ITEMID == 8440")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
4829,4637,4831,8368,Arterial BP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4901,4709,4903,8440,Manual BP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4902,4710,4904,8441,NBP [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5016,4823,5017,8555,Arterial BP #2 [Diastolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10598,12444,13688,225310,ART BP Diastolic,ART BP Diastolic,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN

In [69]:
D_ITEMS[['blood pressure' in str(s).lower() and 'diastolic' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
9501,11503,12717,220051,Arterial Blood Pressure diastolic,ABPd,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
9519,11521,12735,220180,Non Invasive Blood Pressure diastolic,NBPd,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
10150,11323,13424,224643,Manual Blood Pressure Diastolic Left,Manual BPd L,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
11545,9441,14618,227242,Manual Blood Pressure Diastolic Right,Manual BPd R,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN

## Systolic Blood Pressure (ITEMID: 442, 227243, 224167, 220179, 225309)

In [70]:
D_ITEMS.query("ITEMID == 442 | ITEMID == 225309")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
381,671,408,442,Manual BP [Systolic],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10597,12443,13687,225309,ART BP Systolic,ART BP Systolic,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN

In [71]:
D_ITEMS[['blood pressure' in str(s).lower() and 'systolic' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
9500,11502,12716,220050,Arterial Blood Pressure systolic,ABPs,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
9518,11520,12734,220179,Non Invasive Blood Pressure systolic,NBPs,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
9958,9314,13050,224167,Manual Blood Pressure Systolic Left,Manual BPs L,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
11546,9442,14619,227243,Manual Blood Pressure Systolic Right,Manual BPs R,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN

## Mean Blood Pressure (ITEMID: 456, 220181, 224, 225312, 220052, 52, 6702, 224322)

In [72]:
D_ITEMS.query("ITEMID == 456 | ITEMID == 224 | ITEMID == 225312 | ITEMID == 52 | ITEMID == 6702 | ITEMID == 224322")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
31,321,58,52,Arterial BP Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
195,485,222,224,IABP Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
393,683,420,456,NBP Mean,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4124,5063,4326,6702,Arterial BP Mean #2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10018,10164,13110,224322,IABP Mean,MAP - Assisted,metavision,chartevents,IABP,mmHg,Numeric,NaN
10599,12445,13689,225312,ART BP mean,ART BP mean,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN

In [73]:
D_ITEMS[['blood pressure mean' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
9502,11504,12718,220052,Arterial Blood Pressure mean,ABPm,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
9520,11522,12736,220181,Non Invasive Blood Pressure mean,NBPm,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN

## PaCO2 - Partial pressure of carbon dioxide (ITEMID: 226062, 778, 220235, 50818)

In [74]:
D_ITEMS.query("ITEMID == 226062 | ITEMID == 778 | ITEMID == 220235")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
671,1517,698,778,Arterial PaCO2,NaN,carevue,chartevents,ABG,NaN,NaN,NaN
9527,11529,12743,220235,Arterial CO2 Pressure,PCO2 (Arterial),metavision,chartevents,Labs,mmHg,Numeric,NaN
11136,11644,14344,226062,Venous CO2 Pressure,PCO2 (Venous),metavision,chartevents,Labs,mmHg,Numeric,NaN

In [75]:
D_LABITEMS.query("ITEMID == 50818")

    Unnamed: 0  ROW_ID  ITEMID LABEL  FLUID   CATEGORY LOINC_CODE
18         145      19   50818  pCO2  Blood  Blood Gas    11557-6

## PaO2 - partial pressure of oxygen (ITEMID: 779)

In [76]:
D_ITEMS[['pao2' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
423,713,450,490,PAO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
672,1518,699,779,Arterial PaO2,NaN,carevue,chartevents,ABG,NaN,NaN,NaN

## FiO2 - fractional inspired oxygen (ITEMID: 189, 727, 223835)

In [77]:
D_ITEMS.query("ITEMID == 223835")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
9767,12413,12804,223835,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN

In [78]:
D_ITEMS[['fio2' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
159,449,186,185,FIO2 Alarm-High,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
160,450,187,186,FIO2 Alarm-Low,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
163,453,190,189,FiO2 (Analyzed),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
164,454,191,190,FiO2 Set,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
165,455,192,191,FiO2/O2 Delivered,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
649,1495,676,727,Vision FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
796,45,1197,1040,BIpap FIO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
897,146,1298,1206,HFO FIO2:,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1377,2006,3240,1863,HFO-FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1749,3243,3612,2518,HFO- FIO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2048,3542,3911,2981,FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2369,1838,1019,3420,FIO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2370,1839,1020,3421,FIO2 Alarm [Low],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2371,1840,1021,3422,FIO2 [Meas],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3598,2593,2047,5955,Analyzed INOV FiO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4271,4196,4473,7018,ecmo fio2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4285,4210,4487,7041,vapotherm fio2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4498,4506,4700,7570,FIO2 SET,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4978,4774,4968,8517,FIO2 Alarm [High],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
11359,12479,14515,226754,FiO2ApacheIIValue,FiO2ApacheIIValue,metavision,chartevents,Scores - APACHE II,%,Numeric,NaN
11447,9677,14686,227009,FiO2_ApacheIV_old,FiO2_ApacheIV_old,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,NaN
11448,9678,14687,227010,FiO2_ApacheIV,FiO2_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),%,Numeric,NaN

## PaO/FiO2 ratio (ITEMID: )

## Respiratory Rate (ITEMID: 224422, 618, 220210, 224689, 614, 651, 224690, 615)

In [79]:
D_ITEMS.query("ITEMID == 224422 | ITEMID == 614 | ITEMID == 651 | ITEMID == 615")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
544,259,571,614,Resp Rate (Spont),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
545,260,572,615,Resp Rate (Total),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
577,1423,604,651,Spon RR (Mech.),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10065,10413,13339,224422,Spont RR,Spont RR,metavision,chartevents,Respiratory,bpm,Numeric,NaN

In [80]:
D_ITEMS[['respiratory rate' in str(s).lower()in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
548,263,575,618,Respiratory Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
549,1395,576,619,Respiratory Rate Set,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9522,11524,12738,220210,Respiratory Rate,RR,metavision,chartevents,Respiratory,insp/min,Numeric,NaN
10181,10052,13244,224688,Respiratory Rate (Set),Respiratory Rate (Set),metavision,chartevents,Respiratory,insp/min,Numeric,NaN
10182,10053,13245,224689,Respiratory Rate (spontaneous),Respiratory Rate (spontaneous),metavision,chartevents,Respiratory,insp/min,Numeric,NaN
10183,10054,13246,224690,Respiratory Rate (Total),Respiratory Rate (Total),metavision,chartevents,Respiratory,insp/min,Numeric,NaN

## Temperature - Celsius (ITEMID: 223761, 677, 676, 679, 678, 223762)

In [81]:
D_ITEMS.query("ITEMID == 223761 | ITEMID == 678")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
602,1448,629,678,Temperature F,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9720,12366,12757,223761,Temperature Fahrenheit,Temperature F,metavision,chartevents,Routine Vital Signs,?F,Numeric,NaN

In [82]:
D_ITEMS[['temperature' in str(s).lower() and 'c' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
600,1446,627,676,Temperature C,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
601,1447,628,677,Temperature C (calc),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
603,1449,630,679,Temperature F (calc),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4998,4813,5007,8537,"Temp/Iso/Warmer [Temperature, degrees C]",NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9721,12367,12758,223762,Temperature Celsius,Temperature C,metavision,chartevents,Routine Vital Signs,?C,Numeric,NaN
10172,10043,13235,224674,Changes in Temperature,Changes in Temperature,metavision,chartevents,Toxicology,NaN,Text,NaN
11211,12254,14446,226329,Blood Temperature CCO (C),Blood Temp CCO (C),metavision,chartevents,Routine Vital Signs,?C,Numeric,NaN
11492,9415,14731,227054,TemperatureF_ApacheIV,TemperatureF_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),?F,Numeric,NaN

## Weight - kg (ITEMID: 226531, 763, 224639, 226512)

In [83]:
D_ITEMS.query("ITEMID == 226531 | ITEMID == 763 | ITEMID == 224639")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
661,1507,688,763,Daily Weight,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10146,11319,13420,224639,Daily Weight,Daily Weight,metavision,chartevents,General,kg,Numeric,NaN
11259,11885,14401,226531,Admission Weight (lbs.),Admission Weight (lbs.),metavision,chartevents,General,None,Numeric,NaN

In [84]:
D_ITEMS[['weight' in str(s).lower() and 'kg' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
2491,3842,2765,3580,Present Weight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2494,3845,2768,3583,Previous Weight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2575,3926,2849,3693,Weight Kg,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2578,3929,2852,3723,Birth Weight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2658,860,2214,4183,Birthweight (kg),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
11249,11875,14391,226512,Admission Weight (Kg),Admission Weight (Kg),metavision,chartevents,General,kg,Numeric,NaN

## Heart Rate (ITEMID: 211, 220045)

In [85]:
D_ITEMS[['heart rate' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
185,475,212,211,Heart Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2428,1897,1078,3494,Lowest Heart Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9496,11498,12712,220045,Heart Rate,HR,metavision,chartevents,Routine Vital Signs,bpm,Numeric,NaN
9497,11499,12713,220046,Heart rate Alarm - High,HR Alarm - High,metavision,chartevents,Alarms,bpm,Numeric,NaN
9498,11500,12714,220047,Heart Rate Alarm - Low,HR Alarm - Low,metavision,chartevents,Alarms,bpm,Numeric,NaN

## SpO2 - Oxygen Saturation (ITEMID: 646, 50817, 834, 220277)

In [86]:
D_ITEMS.query("ITEMID == 646 | ITEMID == 834 | ITEMID == 220277")

,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
572,1418,599,646,SpO2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
725,749,1126,834,SaO2,NaN,carevue,chartevents,ABG's,NaN,NaN,NaN
9530,12355,12746,220277,O2 saturation pulseoxymetry,SpO2,metavision,chartevents,Respiratory,%,Numeric,NaN

In [87]:
D_LABITEMS.query("ITEMID == 50817")

    Unnamed: 0  ROW_ID  ITEMID              LABEL  FLUID   CATEGORY LOINC_CODE
17         144      18   50817  Oxygen Saturation  Blood  Blood Gas    20564-1

## Mechanical Ventilation (ITEMID: )

In [113]:
D_ITEMS[['ventilation' in str(s).lower() for s in D_ITEMS['LABEL']]]

,Unnamed: 0.1,Unnamed: 0,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
10592,12438,12438,13682,225303,Mask Ventilation (Intubation),Mask Ventilation (Intubation),metavision,chartevents,Intubation,NaN,Text,NaN
10932,10213,10213,13977,225792,Invasive Ventilation,Invasive Ventilation,metavision,procedureevents_mv,2-Ventilation,None,Process,NaN
10933,10214,10214,13978,225794,Non-invasive Ventilation,Non-invasive Ventilation,metavision,procedureevents_mv,2-Ventilation,None,Process,NaN

In [114]:
D_LABITEMS[['ventilation' in str(s).lower() for s in D_LABITEMS['LABEL']]]

,Unnamed: 0.1,Unnamed: 0,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
27,154,154,28,50827,Ventilation Rate,Blood,Blood Gas,NaN