In [15]:
import pandas as pd

In [16]:
index = [
         'Albumin', 'Arterial pH', 'Calcium', 'Glucose', 
         'Hemoglobin', 'Magnesium', 'PTT', 'Postassium', 'SGPT',
         'Arterial blood gas', 'BUN', 'HCO3', 'INR', 
         'Arterial Lactate', 'CO2', 'Creatinine', 'Ionized Calcium',
         'PT', 'Platelets Count', 'SGOT', 'Total Bilirubin', 
         'White Blood Cell Count', 'Diastolic Blood Pressure',
         'Systolic Blood Pressure', 'Mean Blood Pressure', 'PaCO2',
         'PaO2', 'FiO2', 'PaO/FiO2 ratio', 'Respiratory rate',
         'Temperature (Celsius)', 'Weight (kg)', 'Heart Rate',
         'SpO2', 'Mechanical Ventilation'
        ]

data = {
        'OUTLIER LOW': [None] * len(index), 
        'VALID LOW': [None] * len(index), 
        'IMPUTE': [None] * len(index), 
        'VALID HIGH': [None] * len(index),
        'OUTLIER HIGH': [None] * len(index),
        'GROUP_ID': ['-1'] * len(index)
       }

In [17]:
data = pd.DataFrame(data, index=index)

In [18]:
# column = ('OUTLIER LOW', 'VALID LOW', 'IMPUTE', 'VALID HIGH', 'OUTLIER_HIGH', 'GROUP_ID')
data.loc['Albumin'] = [0, 0.6, 3.1, 6, 60, '50862, 772, 1521, 227456'] # delete some group_id from MIMIC_EXTRACT
data.loc['Arterial pH']['GROUP_ID'] = '780, 1126, 223830, 50820'
data.loc['Calcium']['GROUP_ID'] = '225625, 50893, 786, 1522'
data.loc['Glucose'] = [0, 33, 128, 2000, 2200, '220621, 225664, 50809, 811, 807, 50931, 226537, 1529']
data.loc['Hemoglobin'] = [0, 0, 10.2, 25, 30, '220228, 51222, 50811, 814']
data.loc['Magnesium'] = [0, 0, 2, 20, 22, '220635, 50960, 1532, 821']
data.loc['PTT'] = [0, 18.8, 34.3, 150, 150, '227466, 825, 1533, 51275']
data.loc['Postassium'] = [0, 0, 4.1, 12, 15, '829, 50971, 1535, 227464, 50822']
data.loc['SGPT']['GROUP_ID'] = '3802'
# data.loc['Arterial blood gas']
data.loc['BUN'] = [0, 0, 23, 250, 275, '51006, 781, 1162, 225624']
data.loc['HCO3'] = [0, 0, 25, 60, 66, '50882, 227443, 50803']
# data.loc['INR']
data.loc['Arterial Lactate'] = [0, 0.4, 1.8, 30, 33, '50813']
data.loc['CO2']['GROUP_ID'] = '787'
data.loc['Creatinine'] = [0, 0.1, 1, 60, 66, '791, 1525, 220615, 50912']
data.loc['Ionized Calcium']['GROUP_ID'] = '50808, 816, 225667'
data.loc['PT'] = [0, 9.9, 14.5, 97.1, 150, '1286, 824, 227465, 51274']
data.loc['Platelets Count'] = [0, 0, 208, 2000, 2200, '51265, 828, 227457']
data.loc['SGOT']['GROUP_ID'] = '3801'
data.loc['Total Bilirubin'] = [0, 0.1, 0.9, 60, 66, '848, 225690, 1538, 50885'] # delete some group_id from MIMIC_EXTRACT
data.loc['White Blood Cell Count'] = [0, 0, 9.9, 1000, 1100, '861, 1542, 220546, 51301, 51300, 1127']
data.loc['Diastolic Blood Pressure'] = [0, 0, 59, 375, 375, '224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440']
data.loc['Systolic Blood Pressure'] = [0, 0, 118, 375, 375, '442, 227243, 224167, 220179, 225309']
data.loc['Mean Blood Pressure'] = [0, 14, 77, 330, 375, '456, 220181, 224, 225312, 220052, 52, 6702, 224322']
data.loc['PaCO2'] = [0, 0, 40, 200, 220, '226062, 778, 220235, 50818']
data.loc['PaO2'] = [0, 32, 112, 700, 770, '779']
data.loc['FiO2'] = [0.2, 0.21, 0.21, 1, 1.1, '189, 727, 223835']
# data.loc['PaO/FiO2 ratio']
data.loc['Respiratory rate'] = [0, 0, 19, 300, 330, '224422, 618, 220210, 224689, 614, 651, 224690, 615']
data.loc['Temperature (Celsius)'] = [14.2, 26, 37, 45, 47, '223761, 677, 676, 679, 678, 223762']
data.loc['Weight (kg)'] = [0, 0, 81.8, 250, 250, '226531, 763, 224639, 226512']
data.loc['Heart Rate'] = [0, 0, 86, 350, 390, '211, 220045']
data.loc['SpO2'] = [0, 0, 98, 100, 150, '646, 50817, 834, 220277']
# data.loc['Mechanical Ventilation']

In [19]:
data.to_csv('../data/mimiciii/variable_range.csv')

In [28]:
data = pd.read_csv('../data/mimiciii/variable_range.csv')
data

,Unnamed: 0,OUTLIER LOW,VALID LOW,IMPUTE,VALID HIGH,OUTLIER HIGH,GROUP_ID
0,Albumin,0.0,0.60,3.10,6.0,60.0,"50862, 772, 1521, 227456"
1,Arterial pH,NaN,NaN,NaN,NaN,NaN,"780, 1126, 223830, 50820"
2,Calcium,NaN,NaN,NaN,NaN,NaN,"225625, 50893, 786, 1522"
3,Glucose,0.0,33.00,128.00,2000.0,2200.0,"220621, 225664, 50809, 811, 807, 50931, 226537..."
4,Hemoglobin,0.0,0.00,10.20,25.0,30.0,"220228, 51222, 50811, 814"
5,Magnesium,0.0,0.00,2.00,20.0,22.0,"220635, 50960, 1532, 821"
6,PTT,0.0,18.80,34.30,150.0,150.0,"227466, 825, 1533, 51275"
7,Postassium,0.0,0.00,4.10,12.0,15.0,"829, 50971, 1535, 227464, 50822"
8,SGPT,NaN,NaN,NaN,NaN,NaN,3802
9,Arterial blood gas,NaN,NaN,NaN,NaN,NaN,-1
10,BUN,0.0,0.00,23.00,250.0,275.0,"51006, 781, 1162, 225624"
11,HCO3,0.0,0.00,25.00,60.0,66.0,"50882, 227443, 50803"
12,INR,NaN,NaN,NaN,NaN,NaN,-1
13,Arterial Lactate,0.0,0.40,1.80,30.0,33.0,50813
14,CO2,NaN,NaN,NaN,NaN,NaN,787
15,Creatinine,0.0,0.10,1.00,60.0,66.0,"791, 1525, 220615, 50912"
16,Ionized Calcium,NaN,NaN,NaN,NaN,NaN,"50808, 816, 225667"
17,PT,0.0,9.90,14.50,97.1,150.0,"1286, 824, 227465, 51274"
18,Platelets Count,0.0,0.00,208.00,2000.0,2200.0,"51265, 828, 227457"
19,SGOT,NaN,NaN,NaN,NaN,NaN,3801
20,Total Bilirubin,0.0,0.10,0.90,60.0,66.0,"848, 225690, 1538, 50885"
21,White Blood Cell Count,0.0,0.00,9.90,1000.0,1100.0,"861, 1542, 220546, 51301, 51300, 1127"
22,Diastolic Blood Pressure,0.0,0.00,59.00,375.0,375.0,"224643, 225310, 220180, 8555, 220051, 8368, 84..."
23,Systolic Blood Pressure,0.0,0.00,118.00,375.0,375.0,"442, 227243, 224167, 220179, 225309"
24,Mean Blood Pressure,0.0,14.00,77.00,330.0,375.0,"456, 220181, 224, 225312, 220052, 52, 6702, 22..."
25,PaCO2,0.0,0.00,40.00,200.0,220.0,"226062, 778, 220235, 50818"
26,PaO2,0.0,32.00,112.00,700.0,770.0,779
27,FiO2,0.2,0.21,0.21,1.0,1.1,"189, 727, 223835"
28,PaO/FiO2 ratio,NaN,NaN,NaN,NaN,NaN,-1
29,Respiratory rate,0.0,0.00,19.00,300.0,330.0,"224422, 618, 220210, 224689, 614, 651, 224690,..."
30,Temperature (Celsius),14.2,26.00,37.00,45.0,47.0,"223761, 677, 676, 679, 678, 223762"
31,Weight (kg),0.0,0.00,81.80,250.0,250.0,"226531, 763, 224639, 226512"
32,Heart Rate,0.0,0.00,86.00,350.0,390.0,"211, 220045"
33,SpO2,0.0,0.00,98.00,100.0,150.0,"646, 50817, 834, 220277"
34,Mechanical Ventilation,NaN,NaN,NaN,NaN,NaN,-1