In [1]:
import pandas as pd
import numpy as np

In [2]:
index = [
         'GCS', 'SOFA', 'Albumin', 'Arterial pH', 'Calcium', 'Glucose', 
         'Hemoglobin', 'Magnesium', 'PTT', 'Postassium', 'SGPT',
         'BUN', 'HCO3', 'INR',
         'Arterial Lactate', 'CO2', 'Creatinine', 'Ionized Calcium',
         'PT', 'Platelets Count', 'SGOT', 'Total Bilirubin', 
         'White Blood Cell Count', 'Chloride', 'Diastolic Blood Pressure',
         'Systolic Blood Pressure', 'Mean Blood Pressure', 'PaCO2',
         'PaO2', 'FiO2', 'Respiratory rate',
         'Temperature (Celsius)', 'Weight (kg)', 'Heart Rate',
         'SpO2'
        ]

data = {
        'OUTLIER LOW': [np.nan] * len(index), 
        'VALID LOW': [np.nan] * len(index), 
        'IMPUTE': [np.nan] * len(index), 
        'VALID HIGH': [np.nan] * len(index),
        'OUTLIER HIGH': [np.nan] * len(index),
        'GROUP_ID': ['-1'] * len(index)
       }

In [3]:
data = pd.DataFrame(data, index=index)

In [4]:
# column = ('OUTLIER LOW', 'VALID LOW', 'IMPUTE', 'VALID HIGH', 'OUTLIER_HIGH', 'GROUP_ID')
data.loc['GCS'] = [0, 0, np.nan, 15, 15, '198']
data.loc['SOFA'] = [0, 0, np.nan, 24, 24, '227428']
data.loc['Albumin'] = [0, 0.6, 3.1, 6, 60, '50862, 772, 1521, 227456'] # delete some group_id from MIMIC_EXTRACT
data.loc['Arterial pH', 'GROUP_ID'] = '780, 1126, 223830, 50820'
data.loc['Calcium', 'GROUP_ID'] = '225625, 50893, 786, 1522'
data.loc['Glucose'] = [0, 33, 128, 2000, 2200, '220621, 225664, 50809, 811, 807, 50931, 226537, 1529']
data.loc['Hemoglobin'] = [0, 0, 10.2, 25, 30, '220228, 51222, 50811, 814']
data.loc['Magnesium'] = [0, 0, 2, 20, 22, '220635, 50960, 1532, 821']
data.loc['PTT'] = [0, 18.8, 34.3, 150, 150, '227466, 825, 1533, 51275']
data.loc['Postassium'] = [0, 0, 4.1, 12, 15, '829, 50971, 1535, 227464, 50822']
data.loc['SGPT', 'GROUP_ID'] = '3802'
data.loc['BUN'] = [0, 0, 23, 250, 275, '51006, 781, 1162, 225624']
data.loc['HCO3'] = [0, 0, 25, 60, 66, '50882, 227443, 50803']
data.loc['INR', 'GROUP_ID'] = '1530, 51237, 227467'
data.loc['Arterial Lactate'] = [0, 0.4, 1.8, 30, 33, '50813']
data.loc['CO2', 'GROUP_ID'] = '787'
data.loc['Creatinine'] = [0, 0.1, 1, 60, 66, '791, 1525, 220615, 50912']
data.loc['Ionized Calcium', 'GROUP_ID'] = '50808, 816, 225667'
data.loc['PT'] = [0, 9.9, 14.5, 97.1, 150, '1286, 824, 227465, 51274']
data.loc['Platelets Count'] = [0, 0, 208, 2000, 2200, '51265, 828, 227457']
data.loc['SGOT', 'GROUP_ID'] = '3801'
data.loc['Total Bilirubin'] = [0, 0.1, 0.9, 60, 66, '848, 225690, 1538, 50885'] # delete some group_id from MIMIC_EXTRACT
data.loc['White Blood Cell Count'] = [0, 0, 9.9, 1000, 1100, '861, 1542, 220546, 51301, 51300, 1127']
data.loc['Chloride'] = [0, 50, 104, 175, 200, '50806, 220602, 226536, 1523, 788, 50902']
data.loc['Diastolic Blood Pressure'] = [0, 0, 59, 375, 375, '224643, 225310, 220180, 8555, 220051, 8368, 8441, 8440']
data.loc['Systolic Blood Pressure'] = [0, 0, 118, 375, 375, '442, 227243, 224167, 220179, 225309']
data.loc['Mean Blood Pressure'] = [0, 14, 77, 330, 375, '456, 220181, 224, 225312, 220052, 52, 6702, 224322']
data.loc['PaCO2'] = [0, 0, 40, 200, 220, '226062, 778, 220235, 50818']
data.loc['PaO2'] = [0, 32, 112, 700, 770, '779']
data.loc['FiO2'] = [0.2, 0.21, 0.21, 1, 1.1, '189, 727, 223835']
data.loc['Respiratory rate'] = [0, 0, 19, 300, 330, '224422, 618, 220210, 224689, 614, 651, 224690, 615']
data.loc['Temperature (Celsius)'] = [14.2, 26, 37, 45, 47, '223761, 677, 676, 679, 678, 223762']
data.loc['Weight (kg)'] = [0, 0, 81.8, 250, 250, '226531, 763, 224639, 226512']
data.loc['Heart Rate'] = [0, 0, 86, 350, 390, '211, 220045']
data.loc['SpO2'] = [0, 0, 98, 100, 150, '646, 50817, 834, 220277']

In [5]:
data.to_csv('../data/mimiciii/variable_range.csv')

In [6]:
data = pd.read_csv('../data/mimiciii/variable_range.csv')
data

,Unnamed: 0,OUTLIER LOW,VALID LOW,IMPUTE,VALID HIGH,OUTLIER HIGH,GROUP_ID
0,GCS,0.0,0.00,NaN,15.0,15.0,198
1,SOFA,0.0,0.00,NaN,24.0,24.0,227428
2,Albumin,0.0,0.60,3.10,6.0,60.0,"50862, 772, 1521, 227456"
3,Arterial pH,NaN,NaN,NaN,NaN,NaN,"780, 1126, 223830, 50820"
4,Calcium,NaN,NaN,NaN,NaN,NaN,"225625, 50893, 786, 1522"
5,Glucose,0.0,33.00,128.00,2000.0,2200.0,"220621, 225664, 50809, 811, 807, 50931, 226537..."
6,Hemoglobin,0.0,0.00,10.20,25.0,30.0,"220228, 51222, 50811, 814"
7,Magnesium,0.0,0.00,2.00,20.0,22.0,"220635, 50960, 1532, 821"
8,PTT,0.0,18.80,34.30,150.0,150.0,"227466, 825, 1533, 51275"
9,Postassium,0.0,0.00,4.10,12.0,15.0,"829, 50971, 1535, 227464, 50822"
10,SGPT,NaN,NaN,NaN,NaN,NaN,3802
11,BUN,0.0,0.00,23.00,250.0,275.0,"51006, 781, 1162, 225624"
12,HCO3,0.0,0.00,25.00,60.0,66.0,"50882, 227443, 50803"
13,INR,NaN,NaN,NaN,NaN,NaN,"1530, 51237, 227467"
14,Arterial Lactate,0.0,0.40,1.80,30.0,33.0,50813
15,CO2,NaN,NaN,NaN,NaN,NaN,787
16,Creatinine,0.0,0.10,1.00,60.0,66.0,"791, 1525, 220615, 50912"
17,Ionized Calcium,NaN,NaN,NaN,NaN,NaN,"50808, 816, 225667"
18,PT,0.0,9.90,14.50,97.1,150.0,"1286, 824, 227465, 51274"
19,Platelets Count,0.0,0.00,208.00,2000.0,2200.0,"51265, 828, 227457"
20,SGOT,NaN,NaN,NaN,NaN,NaN,3801
21,Total Bilirubin,0.0,0.10,0.90,60.0,66.0,"848, 225690, 1538, 50885"
22,White Blood Cell Count,0.0,0.00,9.90,1000.0,1100.0,"861, 1542, 220546, 51301, 51300, 1127"
23,Chloride,0.0,50.00,104.00,175.0,200.0,"50806, 220602, 226536, 1523, 788, 50902"
24,Diastolic Blood Pressure,0.0,0.00,59.00,375.0,375.0,"224643, 225310, 220180, 8555, 220051, 8368, 84..."
25,Systolic Blood Pressure,0.0,0.00,118.00,375.0,375.0,"442, 227243, 224167, 220179, 225309"
26,Mean Blood Pressure,0.0,14.00,77.00,330.0,375.0,"456, 220181, 224, 225312, 220052, 52, 6702, 22..."
27,PaCO2,0.0,0.00,40.00,200.0,220.0,"226062, 778, 220235, 50818"
28,PaO2,0.0,32.00,112.00,700.0,770.0,779
29,FiO2,0.2,0.21,0.21,1.0,1.1,"189, 727, 223835"
30,Respiratory rate,0.0,0.00,19.00,300.0,330.0,"224422, 618, 220210, 224689, 614, 651, 224690,..."
31,Temperature (Celsius),14.2,26.00,37.00,45.0,47.0,"223761, 677, 676, 679, 678, 223762"
32,Weight (kg),0.0,0.00,81.80,250.0,250.0,"226531, 763, 224639, 226512"
33,Heart Rate,0.0,0.00,86.00,350.0,390.0,"211, 220045"
34,SpO2,0.0,0.00,98.00,100.0,150.0,"646, 50817, 834, 220277"